Repository nk-crew/ghostkit: changes, and which lint-staged commands are due for each by the changed paths.
All: composer run-script phpcs, stylelint, stylelint --syntax scss, eslint

removed usage of deprecated keepPlaceholderOnFocus
  src/gutenberg/blocks/button-single/edit.js
  src/gutenberg/blocks/counter-box/edit.js
  src/gutenberg/blocks/form/field-description/index.js
  src/gutenberg/blocks/form/field-label/index.js
  src/gutenberg/blocks/form/fields/email/edit.js
  src/gutenberg/blocks/form/fields/name/edit.js
  src/gutenberg/blocks/pricing-table-item/edit.js
  src/gutenberg/blocks/tabs-legacy/index.js
  src/gutenberg/blocks/tabs/edit.js
Due: eslint

added horizontal align option for top icon/number in the Icon and Number boxes
  src/gutenberg/blocks/counter-box/block.json
  src/gutenberg/blocks/counter-box/deprecated.js
  src/gutenberg/blocks/counter-box/edit.js
  src/gutenberg/blocks/counter-box/index.js
  src/gutenberg/blocks/counter-box/save.js
  src/gutenberg/blocks/counter-box/styles/style.scss
  src/gutenberg/blocks/icon-box/block.json
  src/gutenberg/blocks/icon-box/deprecated.js
  src/gutenberg/blocks/icon-box/edit.js
  src/gutenberg/blocks/icon-box/index.js
  src/gutenberg/blocks/icon-box/save.js
  src/gutenberg/blocks/icon-box/styles/style.scss
Due: stylelint --syntax scss, eslint

changed spacing control start from the Top input
  src/gutenberg/extend/spacings/index.js
Due: eslint

fixed react warning
  src/gutenberg/extend/toolbar-templates/index.js
Due: eslint

restored icon box link styles
  src/gutenberg/blocks/icon-box/styles/style.scss
Due: stylelint --syntax scss

fixed testimonial block aria-label undefined variable
  src/gutenberg/blocks/testimonial/save.js
Due: eslint

removed default value of ariaLabel
  src/gutenberg/blocks/counter-box/block.json
  src/gutenberg/blocks/icon-box/block.json
  src/gutenberg/blocks/testimonial/block.json
Due: none

changed target, real and aria-label attributes to default `null`
  src/gutenberg/blocks/button-single/save.js
  src/gutenberg/blocks/counter-box/save.js
  src/gutenberg/blocks/icon-box/save.js
Due: eslint

added deprecations to blocks with new aria-label just to make sure everything will work correctly
  src/gutenberg/blocks/button-single/deprecated.js
  src/gutenberg/blocks/button-single/index.js
  src/gutenberg/blocks/counter-box/deprecated.js
  src/gutenberg/blocks/icon-box/deprecated.js
  src/gutenberg/blocks/testimonial/deprecated.js
Due: eslint

moved Show Content toggle to separate panel in Icon Box block settings
  src/gutenberg/blocks/icon-box/edit.js
Due: eslint

changed scroll-reveal styles to work only when JS is enabled (resolves #154)
  src/class-ghost-kit.php
  src/classes/class-scroll-reveal.php
  src/gutenberg/extend/scroll-reveal/style.scss
  src/gutenberg/style.scss
Due: composer run-script phpcs, stylelint --syntax scss

changed RangeControl in all block settings to allow custom value. For example, allow to specify more than 12 columns in grid
  src/gutenberg/blocks/alert/edit.js
  src/gutenberg/blocks/button-single/edit.js
  src/gutenberg/blocks/carousel/edit.js
  src/gutenberg/blocks/countdown/edit.js
  src/gutenberg/blocks/counter-box/edit.js
  src/gutenberg/blocks/divider/edit.js
  src/gutenberg/blocks/google-maps/edit.js
  src/gutenberg/blocks/grid-column/edit.js
  src/gutenberg/blocks/grid/edit.js
  src/gutenberg/blocks/icon-box/edit.js
  src/gutenberg/blocks/image-compare/edit.js
  src/gutenberg/blocks/instagram/edit.js
  src/gutenberg/blocks/progress/edit.js
  src/gutenberg/blocks/shape-divider/edit.js
  src/gutenberg/blocks/tabs-legacy/index.js
  src/gutenberg/blocks/testimonial/edit.js
  src/gutenberg/blocks/twitter/edit.js
  src/gutenberg/blocks/video/edit.js
  src/gutenberg/components/range-control/editor.scss
  src/gutenberg/components/range-control/index.js
  src/gutenberg/editor.scss
  src/gutenberg/store/base/components/selectors.js
  src/gutenberg/style-variants/core-list/index.js
Due: stylelint --syntax scss, eslint

v2.24.0
  package.json
  src/readme.md
Due: none

only require form-block related files if the form-block is enabled, to avoid the creation of the PHPSESSID-cookie (because of GPRD-things...)
  src/gutenberg/index.php
Due: composer run-script phpcs

fixed custom Gap settings save number value instead of string
  src/gutenberg/components/gap-settings/index.js
Due: eslint

v2.24.1
  package.json
  src/readme.md
Due: none

Update edit.js
  src/gutenberg/blocks/carousel/edit.js
Due: eslint

fixed typo
  src/gutenberg/index.php
Due: composer run-script phpcs

fixed "Display" extension styles in editor
  src/gutenberg/extend/scroll-reveal/editor.scss
Due: stylelint --syntax scss

updated lock files
  composer.lock
  package-lock.json
Due: none

Update readme.md
  src/readme.md
Due: none

improved appender CSS in some blocks which uses InnerBlocks
  src/gutenberg/editor.scss
Due: stylelint --syntax scss

fixed form block appended overflow upper blocks
  src/gutenberg/blocks/form/styles/editor.scss
Due: stylelint --syntax scss

Update pre-commit
  .husky/pre-commit
Due: none

added wp stubs
  composer.json
  composer.lock
Due: none

updated react-virtualized
  package-lock.json
  package.json
Due: none

fixed wrong variable type
  src/classes/class-assets.php
Due: composer run-script phpcs

slightly improved carousel displaying in editor (added slides per view and gap)
  src/gutenberg/blocks/carousel/edit.js
  src/gutenberg/blocks/carousel/styles/editor.scss
Due: stylelint --syntax scss, eslint

fixed TOC conflict with special characters in headings (resolves #162)
  src/gutenberg/store/blocks/table-of-contents/prepare-query.js
Due: eslint

Update index.js
  src/gutenberg/extend/toc-headings/index.js
Due: eslint

updated composer deps
  composer.json
  composer.lock
Due: none

fixed customizer plugin displaying in non-block themes
  src/gutenberg/plugins/customizer/index.php
Due: composer run-script phpcs

updated deps
  package-lock.json
  package.json
  src/gutenberg/components/select/index.js
  webpack.config.js
Due: eslint

added JS events `prepareCountersObserver` and `prepareVideoObserver`
  src/assets/js/main.js
  src/gutenberg/blocks/video/frontend.js
Due: eslint

changed Observer events to use a single object - will be possible to extend it
  src/assets/js/main.js
  src/gutenberg/blocks/video/frontend.js
Due: eslint

fixed modal components top offset
  src/gutenberg/plugins/custom-code/editor.scss
  src/gutenberg/plugins/templates/editor.scss
Due: stylelint --syntax scss

color palette php class moved to /plugins/ folder
  src/class-ghost-kit.php
  src/gutenberg/index.php
  src/gutenberg/plugins/color-palette/index.php
Due: composer run-script phpcs

fixed custom color palette rename changing key
  src/gutenberg/plugins/color-palette/index.js
Due: eslint

disabled Color Palette Plugin from the Block Based themes
  src/assets/js/helper.js
  src/gutenberg/plugins/color-palette/index.js
  src/gutenberg/plugins/color-palette/index.php
  src/gutenberg/plugins/ghostkit/index.js
  src/gutenberg/plugins/index.js
Due: composer run-script phpcs, eslint

Path conditions:
  composer run-script phpcs: any of: src/**/*.php
  stylelint: any of: src/**/*.css
  stylelint --syntax scss: any of: src/**/*.scss
  eslint: any of: src/**/*.{js,jsx}
