Repository nk-crew/ghostkit: changes, and which lint-staged commands are due for each by the changed paths.
All: composer run-script phpcs, stylelint, stylelint --syntax scss, eslint

.lintstagedrc:

{
    "src/**/*.php": "composer run-script phpcs",
    "src/**/*.css": "stylelint",
    "src/**/*.scss": "stylelint --syntax scss",
    "src/**/*.{js,jsx}": "eslint"
}

added ToggleGroup control to use it instead of ButtonGroup
  src/gutenberg/blocks/button-single/edit.js
  src/gutenberg/blocks/carousel/edit.js
  src/gutenberg/blocks/form/edit.js
  src/gutenberg/blocks/grid-column/edit.js
  src/gutenberg/blocks/grid/awb-fallback.js
  src/gutenberg/blocks/grid/edit.js
  src/gutenberg/blocks/video/edit.js
  src/gutenberg/components/gap-settings/index.js
  src/gutenberg/components/toggle-group/editor.scss
  src/gutenberg/components/toggle-group/index.js
  src/gutenberg/editor.scss
  src/gutenberg/extend/display/index.js
  src/gutenberg/extend/frame/editor.scss
  src/gutenberg/extend/frame/index.js
  src/gutenberg/extend/frame/style.scss
  src/gutenberg/extend/scroll-reveal/index.js
  src/gutenberg/extend/spacings/editor.scss
  src/gutenberg/icons/icon-horizontal-around.svg
  src/gutenberg/icons/icon-horizontal-between.svg
  src/gutenberg/icons/icon-horizontal-center.svg
  src/gutenberg/icons/icon-horizontal-end.svg
  src/gutenberg/icons/icon-horizontal-start.svg
  src/gutenberg/icons/icon-vertical-bottom.svg
  src/gutenberg/icons/icon-vertical-center.svg
  src/gutenberg/icons/icon-vertical-top.svg
  src/gutenberg/store/base/components/selectors.js
Due: stylelint --syntax scss, eslint

improved usage of Toolbar components
  src/gutenberg/blocks/accordion-item/edit.js
  src/gutenberg/blocks/alert/edit.js
  src/gutenberg/blocks/countdown/edit.js
  src/gutenberg/blocks/counter-box/edit.js
  src/gutenberg/blocks/divider/edit.js
  src/gutenberg/blocks/gist/edit.js
  src/gutenberg/blocks/google-maps/edit.js
  src/gutenberg/blocks/grid/edit.js
  src/gutenberg/blocks/icon-box/edit.js
  src/gutenberg/blocks/markdown/edit.js
  src/gutenberg/blocks/pricing-table/edit.js
  src/gutenberg/blocks/shape-divider/edit.js
  src/gutenberg/blocks/video/edit.js
  src/gutenberg/formats/badge/index.js
Due: eslint

fixed style of input inside toolbars
  src/gutenberg/blocks/gist/styles/editor.scss
  src/gutenberg/blocks/video/styles/editor.scss
Due: stylelint --syntax scss

changed usage of deprecated onClickOutside to onFocusOutside
  src/gutenberg/components/remove-button/index.js
Due: eslint

disabled automatic heading anchor generation code in WordPress >= 5.9
  src/gutenberg/extend/toc-headings/index.js
Due: eslint

fixed typography font provide selector styles
  src/gutenberg/components/typography/editor.scss
Due: stylelint --syntax scss

fixed input drag with icon wrong position when scroll popup content
  src/gutenberg/components/input-drag/editor.scss
Due: stylelint --syntax scss

updated plugin-icons
  src/gutenberg/icons/plugin-color-palette.svg
  src/gutenberg/icons/plugin-custom-code.svg
  src/gutenberg/icons/plugin-customizer.svg
  src/gutenberg/icons/plugin-ghostkit.svg
  src/gutenberg/icons/plugin-templates.svg
  src/gutenberg/icons/plugin-typography.svg
  src/gutenberg/plugins/ghostkit/editor.scss
Due: stylelint --syntax scss

improved code for inserting Templates Library button on the toolbar
  src/gutenberg/extend/toolbar-templates/editor.scss
  src/gutenberg/extend/toolbar-templates/index.js
  src/gutenberg/plugins/templates/editor.scss
Due: stylelint --syntax scss, eslint

prevent templates button in toolbar from stacking
  src/gutenberg/extend/toolbar-templates/editor.scss
Due: stylelint --syntax scss

tested up to WP 5.9
  src/readme.md
Due: none

added Animate on Scroll presets in Toolbar block settings
  src/gutenberg/extend/scroll-reveal/editor.scss
  src/gutenberg/extend/scroll-reveal/index.js
  src/gutenberg/icons/index.js
  src/gutenberg/icons/sr-fade.svg
  src/gutenberg/icons/sr-zoom-from-bottom.svg
  src/gutenberg/icons/sr-zoom-from-left.svg
  src/gutenberg/icons/sr-zoom-from-right.svg
  src/gutenberg/icons/sr-zoom.svg
Due: stylelint --syntax scss, eslint

use older ScrollReveal version, since latest one is not working properly when cleaning
  src/assets/vendor/scrollreveal-4-0-7/scrollreveal.es.js
  src/assets/vendor/scrollreveal-4-0-7/scrollreveal.js
  src/assets/vendor/scrollreveal-4-0-7/scrollreveal.min.js
  src/class-ghost-kit.php
  src/classes/class-assets.php
  src/gutenberg/extend/scroll-reveal/index.js
Due: composer run-script phpcs, eslint

added support for scrollBehavior in TOC links (used in new themes)
  src/gutenberg/blocks/table-of-contents/frontend.js
Due: eslint

fixed grid and column helper buttons styles
  src/gutenberg/blocks/grid/styles/editor.scss
Due: stylelint --syntax scss

changed Reusable Blocks admin menu icon
  src/settings/index.php
Due: composer run-script phpcs

fixed video autoplay after loading when fullscreen already closed (resolves #131)
  src/gutenberg/blocks/video/frontend.js
Due: eslint

dropped IE support
  .browserslistrc
  package.json
  src/assets/js/main.js
  src/class-ghost-kit.php
  src/classes/class-assets.php
  src/gutenberg/blocks/carousel/styles/editor.scss
  src/gutenberg/blocks/grid/styles/editor.scss
  src/gutenberg/blocks/grid/styles/style.scss
  src/gutenberg/blocks/image-compare/styles/style.scss
  src/gutenberg/blocks/instagram/styles/style.scss
  src/gutenberg/blocks/pricing-table/styles/editor.scss
  src/gutenberg/blocks/pricing-table/styles/style.scss
  src/gutenberg/blocks/video/styles/style.scss
  src/gutenberg/bootstrap/grid.scss
  wpeg.config.js
Due: composer run-script phpcs, stylelint --syntax scss, eslint

slightly changed Pro link styles in admin
  src/assets/admin/css/admin.scss
Due: stylelint --syntax scss

fixed scss compiler - convert dart modules to old php-scss functions
  src/classes/class-scss-compiler.php
Due: composer run-script phpcs

Update package-lock.json
  package-lock.json
Due: none

v2.22.0
  package.json
  src/readme.md
Due: none

improved method to enqueue block assets and custom styles in FSE themes
  src/classes/class-parse-blocks.php
Due: composer run-script phpcs

changed phpcs php version to 7.2
  phpcs.xml.dist
Due: none

fixed custom styles render in FSE templates editor
  src/gutenberg/blocks/tabs/edit.js
  src/gutenberg/components/editor-styles/index.js
  src/gutenberg/extend/styles/index.js
  src/gutenberg/style-variants/core-list/index.js
Due: eslint

fixed updating custom styles attributes on editor load
  src/gutenberg/extend/styles/index.js
Due: eslint

fixed custom styles re-rendering in editor when scroll down and click on elements
  src/gutenberg/extend/styles/index.js
Due: eslint

better styles for nested panels in grid background settings
  src/gutenberg/blocks/grid-column/edit.js
  src/gutenberg/blocks/grid/edit.js
  src/gutenberg/blocks/grid/styles/editor.scss
Due: stylelint --syntax scss, eslint

updated deps
  package-lock.json
  package.json
  src/classes/class-assets.php
Due: composer run-script phpcs

disable Plugin Customizer settings in pure block themes, as Customizer no more used
  src/assets/js/helper.js
  src/gutenberg/plugins/customizer/index.php
  src/gutenberg/plugins/ghostkit/index.js
  src/gutenberg/plugins/index.js
Due: composer run-script phpcs, eslint

v2.22.1
  package.json
  src/readme.md
Due: none

fixed fallback for inline custom styles
  src/classes/class-assets.php
Due: composer run-script phpcs

fixed blocks parse function
  src/classes/class-parse-blocks.php
Due: composer run-script phpcs

v2.22.2
  package.json
  src/readme.md
Due: none

updated jarallax (fixes play in Video block)
  package-lock.json
  package.json
Due: none

changed block category in form fields
  src/gutenberg/blocks/form/fields/checkbox/block.json
  src/gutenberg/blocks/form/fields/date/block.json
  src/gutenberg/blocks/form/fields/email/block.json
  src/gutenberg/blocks/form/fields/hidden/block.json
  src/gutenberg/blocks/form/fields/name/block.json
  src/gutenberg/blocks/form/fields/number/block.json
  src/gutenberg/blocks/form/fields/phone/block.json
  src/gutenberg/blocks/form/fields/radio/block.json
  src/gutenberg/blocks/form/fields/select/block.json
  src/gutenberg/blocks/form/fields/submit/block.json
  src/gutenberg/blocks/form/fields/text/block.json
  src/gutenberg/blocks/form/fields/textarea/block.json
  src/gutenberg/blocks/form/fields/url/block.json
Due: none

removed blocks categories fallback used for WP < 5.5
  src/gutenberg/blocks/index.js
Due: eslint

v2.22.3
  package.json
  src/readme.md
Due: none
