Repository nk-crew/ghostkit: changes, and which lint-staged commands are due for each by the changed paths.
All: composer run-script phpcs, stylelint, stylelint --syntax scss, eslint

.lintstagedrc:

{
    "src/**/*.php": "composer run-script phpcs",
    "src/**/*.css": "stylelint",
    "src/**/*.scss": "stylelint --syntax scss",
    "src/**/*.{js,jsx}": "eslint"
}

v2.18.1
  package.json
  src/readme.md
Due: none

improved custom styles output in <body> - use JS to prevent w3c error
  src/classes/class-assets.php
Due: composer run-script phpcs

added vendor prefixes to scss files
  package-lock.json
  package.json
  wpeg.config.js
Due: none

changed twitter and google maps block usage of svg images as backgrounds
  src/assets/images/google-maps-marker.svg
  src/assets/images/twitter-verified-badge.svg
  src/gutenberg/blocks/google-maps/styles/variables.scss
  src/gutenberg/blocks/twitter/styles/variables.scss
Due: stylelint --syntax scss

fixed block error when selecting Form Submit block
  src/gutenberg/blocks/button-single/block.json
  src/gutenberg/blocks/form/fields/submit/edit.js
Due: eslint

fixed some editor settings dropdown width
  src/gutenberg/blocks/google-maps/edit.js
  src/gutenberg/blocks/shape-divider/edit.js
  src/gutenberg/blocks/video/edit.js
  src/gutenberg/components/typography/editor.scss
  src/gutenberg/components/typography/index.js
Due: stylelint --syntax scss, eslint

add background style generation for breakpoints and fixed breakpoints generation if change plugin version
  src/class-ghost-kit.php
  src/classes/class-breakpoints-background.php
  src/classes/class-breakpoints.php
  src/composer.json
  src/composer.lock
  src/vendor/composer/autoload_classmap.php
  src/vendor/composer/autoload_static.php
  src/vendor/composer/installed.json
  src/vendor/deliciousbrains/wp-background-processing/.gitignore
  src/vendor/deliciousbrains/wp-background-processing/README.md
  src/vendor/deliciousbrains/wp-background-processing/classes/wp-async-request.php
  src/vendor/deliciousbrains/wp-background-processing/classes/wp-background-process.php
  src/vendor/deliciousbrains/wp-background-processing/composer.json
  src/vendor/deliciousbrains/wp-background-processing/license.txt
  src/vendor/deliciousbrains/wp-background-processing/wp-background-processing.php
Due: composer run-script phpcs

added fallback for old breakboints class in Pro plugin to prevent PHP error
  src/classes/class-breakpoints-fallback.php
Due: composer run-script phpcs

fixed conflict with custom cursors movement in carousel
  src/gutenberg/blocks/carousel/frontend.js
Due: eslint

prevent usage of `touchStartPreventDefault` swiper option, because of conflict in FireFox
  src/gutenberg/blocks/carousel/frontend.js
Due: eslint

v2.19.0
  package.json
  src/readme.md
Due: none

fixed warning a non-numeric value encountered conflict with Give plugin
  src/classes/class-breakpoints-background.php
Due: composer run-script phpcs

v2.19.1
  package.json
  src/readme.md
Due: none

fixed possible error with nested reusable blocks while parse page blocks
  src/classes/class-parse-blocks.php
Due: composer run-script phpcs

fixed carousel block initial slides count in editor
  src/gutenberg/blocks/carousel/edit.js
Due: eslint

updated dependencies
  .huskyrc
  .simple-git-hooks.js
  package-lock.json
  package.json
Due: none

v2.19.2
  package.json
  src/readme.md
Due: none

removed git hooks from postinstall
  package.json
Due: none

added line breaks for form email texts
  src/gutenberg/blocks/form/block.php
  src/gutenberg/blocks/form/mail-template/index.php
Due: composer run-script phpcs

fixed rare conflict with reusable blocks while parsing
  src/classes/class-parse-blocks.php
Due: composer run-script phpcs

hidden Slides per view and Gap carousel options when selected Fade effect
  src/gutenberg/blocks/carousel/edit.js
  src/gutenberg/blocks/carousel/frontend.js
Due: eslint

hidden carousel slides before JS init to prevent content jumping
  src/gutenberg/blocks/carousel/styles/style.scss
Due: stylelint --syntax scss

Only get Recaptcha token when submitting the Form
  src/gutenberg/blocks/form/frontend.js
Due: eslint

Recaptcha token on button click - Fix racing condition
  src/gutenberg/blocks/form/frontend.js
Due: eslint

Again, submit was triggering too early
  src/gutenberg/blocks/form/frontend.js
Due: eslint

Re-enable Parsley validation
  src/gutenberg/blocks/form/frontend.js
Due: eslint

js-lint fixes
  src/gutenberg/blocks/form/frontend.js
Due: eslint

Update frontend.js
  src/gutenberg/blocks/form/frontend.js
Due: eslint

After validation, submit form
  src/gutenberg/blocks/form/frontend.js
Due: eslint

Fix js-lint errors
  src/gutenberg/blocks/form/frontend.js
Due: eslint

fixed usage of deprecated filters
  src/class-ghost-kit.php
Due: composer run-script phpcs

v2.19.3
  package.json
  src/readme.md
Due: none

fixed errors in new Widgets editor
  src/class-ghost-kit.php
  src/classes/class-fonts.php
  src/classes/class-typography.php
  src/gutenberg/plugins/color-palette/index.js
  src/gutenberg/plugins/custom-code/index.js
  src/gutenberg/plugins/customizer/index.js
  src/gutenberg/plugins/ghostkit/index.js
  src/gutenberg/plugins/templates/index.js
  src/gutenberg/plugins/typography/index.js
Due: composer run-script phpcs, eslint

v2.19.4
  package.json
  src/readme.md
Due: none

Added escaping of icons, styles and other attributes for Gutenberg Blocks
  src/gutenberg/blocks/alert/edit.js
  src/gutenberg/blocks/alert/save.js
  src/gutenberg/blocks/button-single/edit.js
  src/gutenberg/blocks/button-single/save.js
  src/gutenberg/blocks/divider/edit.js
  src/gutenberg/blocks/divider/save.js
  src/gutenberg/blocks/icon-box/edit.js
  src/gutenberg/blocks/icon-box/save.js
  src/gutenberg/blocks/shape-divider/edit.js
  src/gutenberg/blocks/shape-divider/save.js
  src/gutenberg/blocks/testimonial/deprecated.js
  src/gutenberg/blocks/testimonial/edit.js
  src/gutenberg/blocks/testimonial/save.js
  src/gutenberg/blocks/video/edit.js
  src/gutenberg/blocks/video/save.js
  src/gutenberg/extend/custom-css/get-custom-css.php
  src/gutenberg/extend/custom-css/index.js
  src/gutenberg/extend/styles/index.js
Due: composer run-script phpcs, eslint

Add svg escaping attributes to icon picker
  src/gutenberg/blocks/alert/edit.js
  src/gutenberg/blocks/alert/save.js
  src/gutenberg/blocks/button-single/edit.js
  src/gutenberg/blocks/button-single/save.js
  src/gutenberg/blocks/divider/edit.js
  src/gutenberg/blocks/divider/save.js
  src/gutenberg/blocks/icon-box/edit.js
  src/gutenberg/blocks/icon-box/save.js
  src/gutenberg/blocks/testimonial/edit.js
  src/gutenberg/blocks/testimonial/save.js
  src/gutenberg/blocks/video/edit.js
  src/gutenberg/blocks/video/save.js
  src/gutenberg/components/icon-picker/index.js
Due: eslint

added caching for webpack and babel
  package-lock.json
  package.json
  webpack.config.js
Due: none

improved form recaptcha submission code
  src/gutenberg/blocks/form/frontend.js
Due: eslint

added usage of math.div for new dart sass
  src/gutenberg/blocks/grid/styles/editor.scss
  src/gutenberg/blocks/grid/styles/style.scss
  src/gutenberg/bootstrap/grid.scss
Due: stylelint --syntax scss

fixed conflict with PublishPress Blocks plugin
  src/gutenberg/blocks/index.js
Due: eslint
