Repository nk-crew/ghostkit: changes, and which lint-staged commands are due for each by the changed paths.
All: composer run-script phpcs, stylelint, stylelint --syntax scss, eslint

.lintstagedrc:

{
    "src/**/*.php": "composer run-script phpcs",
    "src/**/*.css": "stylelint",
    "src/**/*.scss": "stylelint --syntax scss",
    "src/**/*.{js,jsx}": "eslint"
}

changed TOC block to functional component
  src/gutenberg/blocks/table-of-contents/edit.js
  src/gutenberg/blocks/table-of-contents/save.js
Due: eslint

changed Video block to functional component
  src/gutenberg/blocks/video/edit.js
  src/gutenberg/blocks/video/save.js
Due: eslint

removed tabs-legacy block
  src/gutenberg/blocks/index.js
  src/gutenberg/blocks/tabs-legacy/deprecated.js
  src/gutenberg/blocks/tabs-legacy/index.js
  src/gutenberg/blocks/tabs-legacy/styles/editor.scss
  src/gutenberg/blocks/tabs-legacy/styles/variables.scss
  src/gutenberg/blocks/tabs-legacy/tab.js
  src/gutenberg/editor.scss
Due: stylelint --syntax scss, eslint

fixed deprecated warning for Toolbar items
  src/gutenberg/blocks/gist/edit.js
  src/gutenberg/blocks/grid/edit.js
  src/gutenberg/blocks/markdown/edit.js
  src/gutenberg/blocks/shape-divider/edit.js
  src/gutenberg/blocks/video/edit.js
  src/gutenberg/extend/toolbar-templates/editor.scss
  src/gutenberg/extend/toolbar-templates/index.js
  src/gutenberg/plugins/ghostkit/index.js
Due: stylelint --syntax scss, eslint

prepare new branding for v3
  src/assets/admin/css/admin.scss
  src/gutenberg/icons/ghostkit-category.svg
  src/gutenberg/icons/ghostkit-logo.svg
  src/gutenberg/icons/ghostkit-text-logo.svg
  src/gutenberg/icons/ghostkit.svg
  src/gutenberg/icons/index.js
  src/gutenberg/index.js
  src/gutenberg/plugins/ghostkit/index.js
  src/gutenberg/utils/get-icon/index.js
  src/readme.md
  src/settings/assets/logo.svg
  src/settings/containers/container.js
  src/settings/containers/container.scss
Due: stylelint --syntax scss, eslint

fixed duplicate store in settings
  src/settings/index.js
Due: eslint

fixed usage of experimental layout supports
  src/gutenberg/blocks/accordion-item/block.json
  src/gutenberg/blocks/alert/block.json
  src/gutenberg/blocks/carousel-slide/block.json
  src/gutenberg/blocks/changelog/block.json
  src/gutenberg/blocks/counter-box/block.json
  src/gutenberg/blocks/form/block.json
  src/gutenberg/blocks/grid-column/block.json
  src/gutenberg/blocks/icon-box/block.json
  src/gutenberg/blocks/tabs-tab/block.json
  src/gutenberg/blocks/testimonial/block.json
Due: none

v3.0.0
  .wordpress-org/banner-1544x500.png
  .wordpress-org/banner-772x250.png
  .wordpress-org/icon-128x128.png
  .wordpress-org/icon-256x256.png
  .wordpress-org/screenshot-1.png
  package.json
  src/readme.md
Due: none

fixed rare error on some operating systems, which does not contain the GLOB_BRACE constant
  src/gutenberg/index.php
Due: composer run-script phpcs

v3.0.1
  package.json
  src/readme.md
Due: none

fixed form with recaptcha JS submit error
  src/gutenberg/blocks/form/frontend.js
Due: eslint

fixed Typography Select control dropdown position when placed inside Modal
  src/gutenberg/components/modal/editor.scss
  src/gutenberg/components/select/index.js
Due: stylelint --syntax scss, eslint

Update editor.scss
  src/gutenberg/components/typography/editor.scss
Due: stylelint --syntax scss

fixed scss modules replacement code
  src/class-ghost-kit.php
  src/classes/class-breakpoints-background.php
  src/classes/class-breakpoints.php
  src/classes/class-scss-compiler.php
  src/classes/class-scss-replace-modules.php
Due: composer run-script phpcs

Update editor.scss
  src/gutenberg/blocks/lottie/styles/editor.scss
Due: stylelint --syntax scss

updated react-select
  package-lock.json
  package.json
Due: none

Fix bugs after major upgrade v3 (#180)
  package-lock.json
  package.json
  src/class-ghost-kit.php
  src/classes/class-breakpoints-background.php
  src/classes/class-breakpoints.php
  src/classes/class-scss-compiler.php
  src/classes/class-scss-replace-modules.php
  src/gutenberg/blocks/form/frontend.js
  src/gutenberg/blocks/lottie/styles/editor.scss
  src/gutenberg/components/modal/editor.scss
  src/gutenberg/components/select/index.js
  src/gutenberg/components/typography/editor.scss
Due: composer run-script phpcs, stylelint --syntax scss, eslint

v3.0.2
  package.json
  src/readme.md
Due: none

fixed image picker component justify
  src/gutenberg/components/image-picker/editor.scss
Due: stylelint --syntax scss

Added block
  package-lock.json
  src/gutenberg/blocks/icon/block.json
  src/gutenberg/blocks/icon/edit.js
  src/gutenberg/blocks/icon/edit/block-controls.js
  src/gutenberg/blocks/icon/edit/inspector-controls.js
  src/gutenberg/blocks/icon/edit/url-picker.js
  src/gutenberg/blocks/icon/index.js
  src/gutenberg/blocks/icon/save.js
  src/gutenberg/blocks/icon/styles/editor.scss
  src/gutenberg/blocks/icon/styles/style.scss
  src/gutenberg/blocks/index.js
  src/gutenberg/components/group-controls/editor.scss
  src/gutenberg/components/group-controls/index.js
  src/gutenberg/editor.scss
  src/gutenberg/icons/block-icon.svg
  src/gutenberg/icons/index.js
  src/gutenberg/utils/set-border/index.js
Due: stylelint --syntax scss, eslint

Update block.json
  src/gutenberg/blocks/icon/block.json
Due: none

Fixed class name
  src/gutenberg/blocks/icon/block.json
  src/gutenberg/components/group-controls/editor.scss
  src/gutenberg/components/group-controls/index.js
Due: stylelint --syntax scss, eslint

Removed height and removed wrapper icon
  src/gutenberg/blocks/icon/block.json
  src/gutenberg/blocks/icon/edit.js
  src/gutenberg/blocks/icon/edit/block-controls.js
  src/gutenberg/blocks/icon/edit/inspector-controls.js
  src/gutenberg/blocks/icon/index.js
  src/gutenberg/blocks/icon/save.js
  src/gutenberg/blocks/icon/styles/editor.scss
  src/gutenberg/blocks/icon/styles/style.scss
  src/gutenberg/components/group-controls/editor.scss
  src/gutenberg/components/group-controls/index.js
  src/gutenberg/editor.scss
Due: stylelint --syntax scss, eslint

Fixed active tab content in the editor
  src/gutenberg/blocks/tabs-tab/edit.js
  src/gutenberg/blocks/tabs/edit.js
Due: eslint

removed typography settings
  src/gutenberg/blocks/icon/block.json
Due: none

fixed default icon color when link added
  src/gutenberg/blocks/icon/styles/style.scss
Due: stylelint --syntax scss

Added Icon block (#181)
  package-lock.json
  src/gutenberg/blocks/icon/block.json
  src/gutenberg/blocks/icon/edit.js
  src/gutenberg/blocks/icon/edit/block-controls.js
  src/gutenberg/blocks/icon/edit/inspector-controls.js
  src/gutenberg/blocks/icon/edit/url-picker.js
  src/gutenberg/blocks/icon/index.js
  src/gutenberg/blocks/icon/save.js
  src/gutenberg/blocks/icon/styles/editor.scss
  src/gutenberg/blocks/icon/styles/style.scss
  src/gutenberg/blocks/index.js
  src/gutenberg/editor.scss
  src/gutenberg/icons/block-icon.svg
  src/gutenberg/icons/index.js
  src/gutenberg/utils/set-border/index.js
Due: stylelint --syntax scss, eslint

Fixed active tab content in the editor (#182)
  src/gutenberg/blocks/tabs-tab/edit.js
  src/gutenberg/blocks/tabs/edit.js
Due: eslint

fixed migration SR to Animation Reveal wrong translation value
  src/gutenberg/extend/animation/deprecated-scroll-reveal/index.js
  src/gutenberg/extend/animation/deprecated-scroll-reveal/parse-sr-config.js
Due: eslint

fixed deprecated toolbar item usage
  src/gutenberg/extend/animation/index.js
Due: eslint

Update wpeg.config.js to copy minified JS file
  wpeg.config.js
Due: none

Update class-assets.php to load minified Motion JS
  src/classes/class-assets.php
Due: composer run-script phpcs

Fixed useBlockProps in the Tab
  src/gutenberg/blocks/tabs-tab/edit.js
  src/gutenberg/blocks/tabs-tab/save.js
Due: eslint

Added align Stretch
  src/gutenberg/blocks/tabs/block.json
  src/gutenberg/blocks/tabs/edit.js
  src/gutenberg/blocks/tabs/edit/block-controls.js
  src/gutenberg/blocks/tabs/edit/inspector-controls.js
  src/gutenberg/blocks/tabs/index.js
  src/gutenberg/blocks/tabs/styles/editor.scss
  src/gutenberg/blocks/tabs/styles/style.scss
  src/gutenberg/icons/icon-horizontal-stretch.svg
  src/gutenberg/icons/index.js
Due: stylelint --syntax scss, eslint

Added style Radio
  src/gutenberg/blocks/tabs/block.json
  src/gutenberg/blocks/tabs/styles/editor.scss
  src/gutenberg/blocks/tabs/styles/radio.scss
  src/gutenberg/blocks/tabs/styles/style.scss
  src/gutenberg/blocks/tabs/styles/variables.scss
Due: stylelint --syntax scss

added new props to TransitionSelector component
  src/gutenberg/components/transition-easing-controls/index.js
  src/gutenberg/components/transition-selector/index.js
  src/gutenberg/components/transition-spring-controls/index.js
Due: eslint

removed possibility to select units for X, Y and Rotate
  src/gutenberg/extend/animation/deprecated-scroll-reveal/index.php
  src/gutenberg/extend/animation/deprecated-scroll-reveal/parse-sr-config.js
  src/gutenberg/extend/animation/frontend.js
  src/gutenberg/extend/animation/reveal/defaults.js
  src/gutenberg/extend/animation/reveal/index.js
  src/gutenberg/extend/animation/reveal/presets.js
  src/gutenberg/extend/animation/utils/parse-animation-data.js
Due: composer run-script phpcs, eslint

added possibility to remove transition in TransitionSelector component
  src/gutenberg/components/dropdown-picker/index.js
  src/gutenberg/components/transition-easing-controls/index.js
  src/gutenberg/components/transition-selector/editor.scss
  src/gutenberg/components/transition-selector/index.js
  src/gutenberg/components/transition-spring-controls/index.js
Due: stylelint --syntax scss, eslint

Fixed tabs and added style Radio buttons (#185)
  src/gutenberg/blocks/tabs-tab/edit.js
  src/gutenberg/blocks/tabs-tab/save.js
  src/gutenberg/blocks/tabs/block.json
  src/gutenberg/blocks/tabs/edit.js
  src/gutenberg/blocks/tabs/edit/block-controls.js
  src/gutenberg/blocks/tabs/edit/inspector-controls.js
  src/gutenberg/blocks/tabs/index.js
  src/gutenberg/blocks/tabs/styles/editor.scss
  src/gutenberg/blocks/tabs/styles/radio.scss
  src/gutenberg/blocks/tabs/styles/style.scss
  src/gutenberg/blocks/tabs/styles/variables.scss
  src/gutenberg/icons/icon-horizontal-stretch.svg
  src/gutenberg/icons/index.js
Due: stylelint --syntax scss, eslint
