Repository nk-crew/ghostkit: changes, and which lint-staged commands are due for each by the changed paths.
All: composer run-script phpcs, stylelint, stylelint --syntax scss, eslint

Removed jquery from Alert
  src/gutenberg/blocks/alert/frontend.js
Due: eslint

Removed jquery from Button
  src/gutenberg/blocks/button/frontend.js
Due: eslint

Removed jquery from Grid
  src/gutenberg/blocks/grid/frontend.js
Due: eslint

Removed jquery from Countdown
  src/gutenberg/blocks/countdown/frontend.js
Due: eslint

Removed jquery from Lottie
  src/gutenberg/blocks/lottie/frontend.js
Due: eslint

Removed jquery from Pricing
  src/gutenberg/blocks/pricing-table/frontend.js
Due: eslint

Removed jquery from Table of Contents
  src/gutenberg/blocks/table-of-contents/frontend.js
Due: eslint

Removed jquery and updated styles from Video
  src/gutenberg/blocks/video/frontend.js
  src/gutenberg/blocks/video/styles/style.scss
Due: stylelint --syntax scss, eslint

Removed jquery from Accordion
  src/gutenberg/blocks/accordion/frontend.js
  src/gutenberg/utils/siblings/index.js
Due: eslint

Removed jquery from Tabs
  src/gutenberg/blocks/tabs/frontend.js
Due: eslint

Removed jquery from Carousel
  src/gutenberg/blocks/accordion/frontend.js
  src/gutenberg/blocks/carousel/frontend.js
  src/gutenberg/blocks/tabs/frontend.js
  src/gutenberg/utils/get-parents/index.js
  src/gutenberg/utils/get-siblings/index.js
  src/gutenberg/utils/siblings/index.js
Due: eslint

Removed jquery from GoogleMap
  src/gutenberg/blocks/google-maps/frontend.js
Due: eslint

Removed jquery from Changelog
  src/gutenberg/blocks/changelog/frontend.js
Due: eslint

Added support for alignwide and alignfull
  src/gutenberg/blocks/image-compare/block.json
Due: none

Added vertical orientation and labels
  src/gutenberg/blocks/image-compare/block.json
  src/gutenberg/blocks/image-compare/edit.js
  src/gutenberg/blocks/image-compare/frontend.js
  src/gutenberg/blocks/image-compare/save.js
  src/gutenberg/blocks/image-compare/styles/_base.scss
  src/gutenberg/blocks/image-compare/styles/_divider.scss
  src/gutenberg/blocks/image-compare/styles/_labels.scss
  src/gutenberg/blocks/image-compare/styles/editor.scss
  src/gutenberg/blocks/image-compare/styles/style.scss
  src/gutenberg/blocks/image-compare/styles/variables.scss
Due: stylelint --syntax scss, eslint

Changed cursor when vertical orientation
  src/gutenberg/blocks/image-compare/styles/_divider.scss
Due: stylelint --syntax scss

Added overlay and colors
  src/gutenberg/blocks/image-compare/block.json
  src/gutenberg/blocks/image-compare/edit.js
  src/gutenberg/blocks/image-compare/frontend.js
  src/gutenberg/blocks/image-compare/index.js
  src/gutenberg/blocks/image-compare/save.js
  src/gutenberg/blocks/image-compare/styles/_labels.scss
  src/gutenberg/blocks/image-compare/styles/_overlay.scss
  src/gutenberg/blocks/image-compare/styles/style.scss
  src/gutenberg/blocks/image-compare/styles/variables.scss
Due: stylelint --syntax scss, eslint

update composer deps
  composer.json
  composer.lock
Due: none

Update readme.md
  src/readme.md
Due: none

Added function addEventListener
  src/gutenberg/utils/add-event-listener/index.js
Due: eslint

Fixed the event listener on the document
  src/gutenberg/blocks/accordion/frontend.js
  src/gutenberg/blocks/alert/frontend.js
  src/gutenberg/blocks/lottie/frontend.js
  src/gutenberg/blocks/table-of-contents/frontend.js
  src/gutenberg/blocks/tabs/frontend.js
Due: eslint

removed jQuery from Gist block
  package-lock.json
  package.json
  src/classes/class-assets.php
  src/gutenberg/blocks/gist/edit.js
  src/gutenberg/blocks/gist/frontend.js
Due: composer run-script phpcs, eslint

removed Parsley library, use native Form validation instead
  src/classes/class-assets.php
  src/gutenberg/blocks/form/block.php
  src/gutenberg/blocks/form/fields/email/block.php
  src/gutenberg/blocks/form/frontend.js
  src/gutenberg/blocks/form/styles/style.scss
Due: composer run-script phpcs, stylelint --syntax scss, eslint

remove parsley from deps
  package-lock.json
  package.json
  wpeg.config.js
Due: none

slightly improved image compare move calculation on frontend
  src/gutenberg/blocks/image-compare/frontend.js
Due: eslint

prevent adding labels-align classname to image compare when labels disabled
  src/gutenberg/blocks/image-compare/edit.js
  src/gutenberg/blocks/image-compare/save.js
Due: eslint

changed image compared block event listener to dynamic block detection
  src/gutenberg/blocks/image-compare/frontend.js
Due: eslint

improved image compare labels background when white image used
  src/gutenberg/blocks/image-compare/styles/_labels.scss
  src/gutenberg/blocks/image-compare/styles/variables.scss
Due: stylelint --syntax scss

fixed vertical image compare cursor position calculation
  src/gutenberg/blocks/image-compare/frontend.js
Due: eslint

changed image compare Vertical setting to Direction
  src/gutenberg/blocks/image-compare/block.json
  src/gutenberg/blocks/image-compare/edit.js
  src/gutenberg/blocks/image-compare/save.js
Due: eslint

added Hover trigger option to Image Compare
  src/gutenberg/blocks/image-compare/block.json
  src/gutenberg/blocks/image-compare/edit.js
  src/gutenberg/blocks/image-compare/frontend.js
  src/gutenberg/blocks/image-compare/save.js
Due: eslint

update image compare block keywords
  src/gutenberg/blocks/image-compare/block.json
Due: none

improved image compare before and after rich text toolbars
  src/gutenberg/blocks/image-compare/edit.js
Due: eslint

Update frontend.js
  src/gutenberg/blocks/image-compare/frontend.js
Due: eslint

added will-change to image compare divider
  src/gutenberg/blocks/image-compare/styles/_divider.scss
Due: stylelint --syntax scss

removed overlay option from Image Compare block
  src/gutenberg/blocks/image-compare/block.json
  src/gutenberg/blocks/image-compare/edit.js
  src/gutenberg/blocks/image-compare/frontend.js
  src/gutenberg/blocks/image-compare/index.js
  src/gutenberg/blocks/image-compare/save.js
  src/gutenberg/blocks/image-compare/styles/_overlay.scss
  src/gutenberg/blocks/image-compare/styles/style.scss
Due: stylelint --syntax scss, eslint

Changed the use of the addEventListener
  src/gutenberg/blocks/accordion/frontend.js
  src/gutenberg/blocks/alert/frontend.js
  src/gutenberg/blocks/lottie/frontend.js
  src/gutenberg/blocks/table-of-contents/frontend.js
  src/gutenberg/blocks/tabs/frontend.js
Due: eslint

added new EventHandler API
  src/assets/js/helper.js
  src/assets/js/icons-fallback.js
  src/assets/js/main.js
  src/assets/js/utils/event-handler.js
  src/assets/js/utils/get-jquery.js
  src/assets/js/utils/transition-callback.js
  src/class-ghost-kit.php
  src/classes/class-assets.php
  src/classes/class-icons-fallback.php
  src/gutenberg/blocks/accordion/frontend.js
  src/gutenberg/blocks/alert/frontend.js
  src/gutenberg/blocks/button/frontend.js
  src/gutenberg/blocks/carousel/frontend.js
  src/gutenberg/blocks/changelog/frontend.js
  src/gutenberg/blocks/countdown/frontend.js
  src/gutenberg/blocks/form/frontend.js
  src/gutenberg/blocks/gist/frontend.js
  src/gutenberg/blocks/google-maps/frontend.js
  src/gutenberg/blocks/grid/frontend.js
  src/gutenberg/blocks/image-compare/frontend.js
  src/gutenberg/blocks/lottie/frontend.js
  src/gutenberg/blocks/pricing-table/frontend.js
  src/gutenberg/blocks/progress/edit.js
  src/gutenberg/blocks/table-of-contents/frontend.js
  src/gutenberg/blocks/tabs/frontend.js
  src/gutenberg/blocks/video/frontend.js
  src/gutenberg/plugins/typography/index.js
  src/gutenberg/style-variants/core-list/index.js
  src/gutenberg/utils/add-event-listener/index.js
  src/settings/containers/container.js
Due: composer run-script phpcs, eslint

fixed progress bar width calculation in editor
  src/gutenberg/blocks/progress/edit.js
Due: eslint

remove jquery usage from main script
  src/assets/js/main.js
  src/gutenberg/extend/styles/fallback-2-5.js
  src/gutenberg/extend/styles/index.js
Due: eslint

Path conditions:
  composer run-script phpcs: any of: src/**/*.php
  stylelint: any of: src/**/*.css
  stylelint --syntax scss: any of: src/**/*.scss
  eslint: any of: src/**/*.{js,jsx}
