Repository nk-crew/ghostkit: changes, and which lint-staged commands are due for each by the changed paths.
All: composer run-script phpcs, stylelint, stylelint --syntax scss, eslint

v2.25.0
  package.json
  src/readme.md
Due: none

disabled worker in the CodeEditor component
  src/gutenberg/components/code-editor/index.js
Due: eslint

fixed Typography font weights outputting
  src/classes/class-fonts.php
  src/gutenberg/components/typography/index.js
Due: composer run-script phpcs, eslint

added filters for parse blocks and fallback custom styles render
  src/class-ghost-kit.php
  src/classes/3rd/class-astra.php
  src/classes/3rd/class-blocksy.php
  src/classes/class-assets.php
  src/classes/class-parse-blocks.php
Due: composer run-script phpcs

fixed change font family category for Typography if selected font family
  src/gutenberg/components/typography/index.js
Due: eslint

added migration class. First migration needed for Typography for fix default font family category if set google fonts instead
  src/class-ghost-kit.php
  src/classes/class-migration.php
Due: composer run-script phpcs

added recaptcha score check for Form block
  src/gutenberg/blocks/form/block.php
Due: composer run-script phpcs

allow Inserter properties for child blocks like grid column
  src/gutenberg/blocks/accordion-item/block.json
  src/gutenberg/blocks/accordion-item/edit.js
  src/gutenberg/blocks/alert/edit.js
  src/gutenberg/blocks/button-single/block.json
  src/gutenberg/blocks/carousel-slide/block.json
  src/gutenberg/blocks/carousel-slide/edit.js
  src/gutenberg/blocks/counter-box/edit.js
  src/gutenberg/blocks/grid-column/block.json
  src/gutenberg/blocks/grid-column/edit.js
  src/gutenberg/blocks/icon-box/edit.js
  src/gutenberg/blocks/pricing-table-item/block.json
  src/gutenberg/blocks/tabs-tab/block.json
  src/gutenberg/blocks/tabs-tab/edit.js
  src/gutenberg/blocks/testimonial/edit.js
Due: eslint

fixed displaying block appender in the column block
  src/gutenberg/blocks/grid/styles/editor.scss
Due: stylelint --syntax scss

removed grid column helpful buttons to select column or grid block
  src/gutenberg/blocks/grid-column/edit.js
  src/gutenberg/blocks/grid/edit.js
  src/gutenberg/blocks/grid/styles/editor.scss
Due: stylelint --syntax scss, eslint

added form Honeypot protection
  src/gutenberg/blocks/form/block.php
  src/gutenberg/blocks/form/styles/style.scss
Due: composer run-script phpcs, stylelint --syntax scss

changed form gaps to css `gap`
  src/gutenberg/blocks/form/styles/style.scss
Due: stylelint --syntax scss

changed form fields default styles to variables
  src/gutenberg/blocks/form/styles/style.scss
  src/gutenberg/blocks/form/styles/variables.scss
Due: stylelint --syntax scss

slightly improved form radio and checkbox editor ui
  src/gutenberg/blocks/form/styles/editor.scss
Due: stylelint --syntax scss

fixed input fields font styles in editor
  src/gutenberg/blocks/form/styles/editor.scss
Due: stylelint --syntax scss

removed sessions from form block (resolves #111)
  src/gutenberg/blocks/form/block.php
Due: composer run-script phpcs

updated FontAwesome icons set to 6.4.0
  src/classes/class-icons.php
Due: composer run-script phpcs

updated Google Fonts
  src/classes/class-fonts.php
  src/classes/class-icons.php
  src/classes/google-fonts/webfonts.json
Due: composer run-script phpcs

changed form block alert colors
  src/gutenberg/blocks/form/styles/style.scss
Due: stylelint --syntax scss

added support for paragraph column settings
  src/gutenberg/editor.scss
  src/gutenberg/style-variants/core-list/index.js
  src/gutenberg/style-variants/core-paragraph/editor.scss
  src/gutenberg/style-variants/core-paragraph/index.js
  src/gutenberg/style-variants/core-paragraph/style.scss
  src/gutenberg/style-variants/index.js
  src/gutenberg/style.scss
Due: stylelint --syntax scss, eslint

moved some extensions to Styles tabs in InspectorControls
  src/gutenberg/extend/custom-css/index.js
  src/gutenberg/extend/frame/index.js
  src/gutenberg/extend/spacings/index.js
Due: eslint

added option to change the Title tag in the Accordion block
  src/gutenberg/blocks/accordion-item/block.json
  src/gutenberg/blocks/accordion-item/deprecated.js
  src/gutenberg/blocks/accordion-item/edit.js
  src/gutenberg/blocks/accordion-item/save.js
  src/gutenberg/blocks/accordion/block.json
  src/gutenberg/blocks/accordion/edit.js
  src/gutenberg/blocks/accordion/styles/editor.scss
  src/gutenberg/blocks/accordion/styles/style.scss
  src/gutenberg/blocks/accordion/styles/variables.scss
Due: stylelint --syntax scss, eslint

fixed pricing table not displaying items when block inserted in the editor
  src/gutenberg/blocks/pricing-table/edit.js
Due: eslint

fixed RichText attribute `unstableOnFocus` usage
  src/gutenberg/blocks/gif/edit.js
  src/gutenberg/blocks/image-compare/edit.js
  src/gutenberg/blocks/tabs-legacy/index.js
  src/gutenberg/blocks/tabs/edit.js
Due: eslint

added support for `layout-flow` inside InnerBlocks
  src/gutenberg/blocks/accordion-item/block.json
  src/gutenberg/blocks/accordion-item/edit.js
  src/gutenberg/blocks/accordion-item/save.js
  src/gutenberg/blocks/accordion/block.json
  src/gutenberg/blocks/accordion/edit.js
  src/gutenberg/blocks/alert/block.json
  src/gutenberg/blocks/alert/styles/editor.scss
  src/gutenberg/blocks/alert/styles/style.scss
  src/gutenberg/blocks/carousel-slide/block.json
  src/gutenberg/blocks/carousel/edit.js
  src/gutenberg/blocks/changelog/block.json
  src/gutenberg/blocks/counter-box/block.json
  src/gutenberg/blocks/counter-box/styles/editor.scss
  src/gutenberg/blocks/counter-box/styles/style.scss
  src/gutenberg/blocks/form/block.json
  src/gutenberg/blocks/form/block.php
  src/gutenberg/blocks/form/frontend.js
  src/gutenberg/blocks/form/styles/style.scss
  src/gutenberg/blocks/form/styles/variables.scss
  src/gutenberg/blocks/grid-column/block.json
  src/gutenberg/blocks/grid-column/edit.js
  src/gutenberg/blocks/grid-column/save.js
  src/gutenberg/blocks/grid/styles/editor.scss
  src/gutenberg/blocks/icon-box/block.json
  src/gutenberg/blocks/icon-box/styles/editor.scss
  src/gutenberg/blocks/icon-box/styles/style.scss
  src/gutenberg/blocks/tabs-tab/block.json
  src/gutenberg/blocks/testimonial/block.json
  src/gutenberg/blocks/testimonial/styles/variables.scss
  src/gutenberg/index.php
Due: composer run-script phpcs, stylelint --syntax scss, eslint

allow different blocks inside Changelog
  src/gutenberg/blocks/changelog/edit.js
  src/gutenberg/blocks/changelog/styles/style.scss
Due: stylelint --syntax scss, eslint

Update edit.js
  src/gutenberg/blocks/pricing-table-item/edit.js
Due: eslint

removed custom bottom margin from all Ghost Kit blocks
  src/gutenberg/_css-variables.scss
  src/gutenberg/style.scss
Due: stylelint --syntax scss

change custom styles rendering method in Page Builder Framework theme
  src/class-ghost-kit.php
  src/classes/3rd/class-page-builder-framework.php
Due: composer run-script phpcs

tested up to 6.2
  src/readme.md
Due: none

added fallback for classic themes (ghostkit blocks margin bottom)
  src/assets/css/fallback-classic-theme.css
  src/classes/class-assets.php
  src/readme.md
Due: composer run-script phpcs, stylelint

fixed styled lists line height css variable name
  src/gutenberg/style-variants/core-list/style.scss
Due: stylelint --syntax scss

added Support for fonts in FSE themes
  src/class-ghost-kit.php
  src/classes/class-assets.php
  src/classes/class-fonts.php
  src/classes/class-rest.php
  src/classes/class-typography.php
  src/classes/google-fonts/class-fonts-google-provider.php
  src/gutenberg/components/google-fonts/index.js
  src/gutenberg/components/google-fonts/style.scss
  src/gutenberg/plugins/typography/index.js
  src/gutenberg/store/base/components/selectors.js
  src/gutenberg/store/index.js
  src/gutenberg/store/plugins/fonts/actions.js
  src/gutenberg/store/plugins/fonts/controls.js
  src/gutenberg/store/plugins/fonts/index.js
  src/gutenberg/store/plugins/fonts/reducer.js
  src/gutenberg/store/plugins/fonts/resolvers.js
  src/gutenberg/store/plugins/fonts/selectors.js
  src/settings/pages/fonts.js
  src/settings/pages/fonts.scss
  src/settings/pages/typography.js
Due: composer run-script phpcs, stylelint --syntax scss, eslint

added saved typography check to show new font selection interface
  src/classes/class-assets.php
  src/classes/class-fonts.php
  src/classes/class-typography.php
  src/gutenberg/plugins/typography/index.js
  src/settings/pages/fonts.js
  src/settings/pages/typography.js
Due: composer run-script phpcs, eslint

replaced Font Family selector on Google Fonts component the searchable selector
  src/gutenberg/components/google-fonts/index.js
Due: eslint

fixed using fonts cache for Google Fonts component instead of read json file
  src/classes/class-fonts.php
  src/gutenberg/components/google-fonts/index.js
Due: composer run-script phpcs, eslint

fixed typography exist function: add compare global and default typography
  src/classes/class-typography.php
Due: composer run-script phpcs

fixed fonts class loading error
  src/class-ghost-kit.php
Due: composer run-script phpcs

fixed migration typography error
  src/classes/class-migration.php
Due: composer run-script phpcs

refactoring enqueue fonts and added check Wordpress Fonts API exist
  src/classes/class-assets.php
  src/classes/class-fonts.php
  src/gutenberg/plugins/typography/index.js
  src/settings/pages/fonts.js
  src/settings/pages/typography.js
Due: composer run-script phpcs, eslint

Path conditions:
  composer run-script phpcs: any of: src/**/*.php
  stylelint: any of: src/**/*.css
  stylelint --syntax scss: any of: src/**/*.scss
  eslint: any of: src/**/*.{js,jsx}
