Repository nk-crew/ghostkit: changes, and which lint-staged commands are due for each by the changed paths.
All: composer run-script phpcs, stylelint, stylelint --syntax scss, eslint

added active check for element state toggle component
  src/gutenberg/components/active-indicator/editor.scss
  src/gutenberg/components/element-state-toggle/editor.scss
  src/gutenberg/components/element-state-toggle/index.js
  src/gutenberg/components/responsive-toggle/index.js
  src/gutenberg/extend/frame/border/index.js
  src/gutenberg/extend/frame/borderRadius/index.js
  src/gutenberg/extend/frame/shadow/index.js
Due: stylelint --syntax scss, eslint

added extension for custom attributes (resolves #90)
  src/gutenberg/components/dropdown-picker/editor.scss
  src/gutenberg/extend/attributes/index.js
  src/gutenberg/extend/attributes/index.php
  src/gutenberg/extend/index.js
  src/gutenberg/extend/index.php
  src/gutenberg/utils/encode-decode/index.js
Due: composer run-script phpcs, stylelint --syntax scss, eslint

fixed block customStylesCallback functions to reset styles
  src/gutenberg/blocks/alert/index.js
  src/gutenberg/blocks/button-single/index.js
  src/gutenberg/blocks/button/index.js
  src/gutenberg/blocks/countdown/index.js
  src/gutenberg/blocks/counter-box/index.js
  src/gutenberg/blocks/divider/index.js
  src/gutenberg/blocks/grid-column/index.js
  src/gutenberg/blocks/grid/get-background-styles.js
  src/gutenberg/blocks/grid/index.js
  src/gutenberg/blocks/icon-box/index.js
  src/gutenberg/blocks/icon/edit.js
  src/gutenberg/blocks/icon/index.js
  src/gutenberg/blocks/icon/save.js
  src/gutenberg/blocks/icon/styles/editor.scss
  src/gutenberg/blocks/icon/styles/style.scss
  src/gutenberg/blocks/image-compare/index.js
  src/gutenberg/blocks/instagram/index.js
  src/gutenberg/blocks/pricing-table/index.js
  src/gutenberg/blocks/progress/index.js
  src/gutenberg/blocks/shape-divider/index.js
  src/gutenberg/blocks/shape-divider/styles/editor.scss
  src/gutenberg/blocks/shape-divider/styles/style.scss
Due: stylelint --syntax scss, eslint

Update index.js
  src/gutenberg/blocks/alert/index.js
Due: eslint

added deprecation for Templates feature
  src/assets/js/helper.js
  src/classes/class-templates.php
  src/gutenberg/blocks/grid/edit.js
  src/gutenberg/extend/toolbar-templates/index.js
  src/gutenberg/plugins/ghostkit/index.js
  src/gutenberg/plugins/templates/editor.scss
  src/gutenberg/plugins/templates/index.js
  src/readme.md
  src/settings/index.php
Due: composer run-script phpcs, stylelint --syntax scss, eslint

added deprecation for Templates feature (#196)
  src/assets/js/helper.js
  src/classes/class-templates.php
  src/gutenberg/blocks/grid/edit.js
  src/gutenberg/extend/toolbar-templates/index.js
  src/gutenberg/plugins/ghostkit/index.js
  src/gutenberg/plugins/templates/editor.scss
  src/gutenberg/plugins/templates/index.js
  src/readme.md
  src/settings/index.php
Due: composer run-script phpcs, stylelint --syntax scss, eslint

Removed gutenberg supports
  src/gutenberg/blocks/grid/block.json
  src/gutenberg/blocks/icon/block.json
  src/gutenberg/blocks/icon/edit.js
  src/gutenberg/blocks/icon/edit/color-controls.js
  src/gutenberg/blocks/icon/index.js
  src/gutenberg/blocks/icon/save.js
  src/gutenberg/blocks/icon/styles/editor.scss
  src/gutenberg/blocks/icon/styles/style.scss
  src/gutenberg/utils/set-border/index.js
Due: stylelint --syntax scss, eslint

added min/max width and height tools for Position extension
  src/gutenberg/extend/position/index.js
  src/gutenberg/extend/position/index.php
  src/gutenberg/extend/position/minMaxHeight/index.js
  src/gutenberg/extend/position/minMaxWidth/index.js
Due: composer run-script phpcs, eslint

added overflow Clip support for Custom CSS extension
  src/gutenberg/extend/custom-css/overflow/index.js
Due: eslint

Update editor.scss
  src/gutenberg/editor.scss
Due: stylelint --syntax scss

fixed custom styles reset using undefined values
  src/gutenberg/extend/styles/index.js
  src/gutenberg/hooks/use-styles.js
Due: eslint

Added condition for mediaSizeSelector
  src/gutenberg/components/media-size-selector/index.js
Due: eslint

Added condition for size selectors in the component MediaSizeSelector
  src/gutenberg/blocks/video/edit/inspector-controls.js
  src/gutenberg/components/media-size-selector/index.js
  src/gutenberg/store/base/components/selectors.js
Due: eslint

Added css variables in the Icon block
  src/gutenberg/blocks/icon/index.js
  src/gutenberg/blocks/icon/styles/editor.scss
  src/gutenberg/blocks/icon/styles/style.scss
Due: stylelint --syntax scss, eslint

added Sticky Position support to extension
  src/gutenberg/extend/position/position/index.js
Due: eslint

fixed styles extension reset and update styles process
  src/gutenberg/extend/styles/index.js
Due: eslint

added support for custom selector for Styles extensions
  src/gutenberg/blocks/grid-column/block.json
  src/gutenberg/blocks/grid-column/index.js
  src/gutenberg/blocks/icon/block.json
  src/gutenberg/extend/styles/index.js
  src/gutenberg/extend/styles/index.php
Due: composer run-script phpcs, eslint

fixed icon block justification
  src/gutenberg/blocks/icon/index.js
  src/gutenberg/blocks/icon/styles/style.scss
  src/gutenberg/blocks/icon/styles/variables.scss
Due: stylelint --syntax scss, eslint

fixed displaying scrollbar in Custom CSS extension toggle area
  src/gutenberg/extend/custom-css/editor.scss
Due: stylelint --syntax scss

added completion with `selector` for custom CSS extension
  src/gutenberg/components/code-editor/index.js
  src/gutenberg/extend/custom-css/custom/index.js
Due: eslint

added custom fade edges size option for Carousel block
  src/gutenberg/blocks/carousel/block.json
  src/gutenberg/blocks/carousel/edit.js
  src/gutenberg/blocks/carousel/index.js
  src/gutenberg/blocks/carousel/styles/editor.scss
  src/gutenberg/blocks/carousel/styles/style.scss
  src/gutenberg/blocks/carousel/styles/variables.scss
Due: stylelint --syntax scss, eslint

fixed progress bar width percent unit
  src/gutenberg/blocks/progress/index.js
Due: eslint

change default css icon width to auto
  src/gutenberg/blocks/icon/styles/variables.scss
Due: stylelint --syntax scss

fixed progress bar count badge animation
  src/gutenberg/extend/effects/frontend.js
Due: eslint

Added has aspect ratio in the component MediaSizeSelector
  src/gutenberg/components/media-size-selector/index.js
Due: eslint

fixed transition selector reset crashing block
  src/gutenberg/components/dropdown-picker/index.js
  src/gutenberg/components/transition-selector/index.js
  src/gutenberg/components/transition-spring-controls/index.js
Due: eslint

fixed icon picket toggle icon preview
  src/gutenberg/components/icon-picker/editor.scss
Due: stylelint --syntax scss

added support for new AWB supports
  src/gutenberg/blocks/grid-column/block.json
  src/gutenberg/blocks/grid/block.json
  src/gutenberg/blocks/grid/get-background-styles.js
  src/gutenberg/extend/check-core-block.js
  src/gutenberg/extend/deprecated/index.js
  src/gutenberg/extend/index.php
Due: composer run-script phpcs, eslint

added resetStyles function to useStyles hook
  src/gutenberg/extend/constants.js
  src/gutenberg/extend/custom-css/clipPath/index.js
  src/gutenberg/extend/custom-css/cursor/index.js
  src/gutenberg/extend/custom-css/custom/index.js
  src/gutenberg/extend/custom-css/index.js
  src/gutenberg/extend/custom-css/opacity/index.js
  src/gutenberg/extend/custom-css/overflow/index.js
  src/gutenberg/extend/custom-css/userSelect/index.js
  src/gutenberg/extend/frame/border/index.js
  src/gutenberg/extend/frame/borderRadius/index.js
  src/gutenberg/extend/frame/index.js
  src/gutenberg/extend/frame/shadow/index.js
  src/gutenberg/extend/position/distance/index.js
  src/gutenberg/extend/position/height/index.js
  src/gutenberg/extend/position/index.js
  src/gutenberg/extend/position/minMaxHeight/index.js
  src/gutenberg/extend/position/minMaxWidth/index.js
  src/gutenberg/extend/position/position/index.js
  src/gutenberg/extend/position/width/index.js
  src/gutenberg/extend/position/zIndex/index.js
  src/gutenberg/extend/spacings/index.js
  src/gutenberg/extend/spacings/margin/index.js
  src/gutenberg/extend/spacings/padding/index.js
  src/gutenberg/extend/transform/index.js
  src/gutenberg/hooks/use-styles.js
  src/settings/index.php
Due: composer run-script phpcs, eslint

added Styles utils to use it outside of hooks
  src/gutenberg/hooks/use-styles.js
  src/gutenberg/store/base/utils/selectors.js
  src/gutenberg/utils/styles/index.js
Due: eslint

added feature to Copy/Paste extensions
  src/gutenberg/editor.scss
  src/gutenberg/extend/block-actions-copy-paste/editor.scss
  src/gutenberg/extend/block-actions-copy-paste/index.js
  src/gutenberg/extend/block-actions-copy-paste/use-paste-extensions.js
  src/gutenberg/extend/constants.js
  src/gutenberg/extend/index.js
  src/gutenberg/utils/styles/index.js
Due: stylelint --syntax scss, eslint

added priorities for all extensions to prevent position change while re-render
  src/gutenberg/extend/custom-css/index.js
  src/gutenberg/extend/display/index.js
  src/gutenberg/extend/effects/index.js
  src/gutenberg/extend/frame/index.js
  src/gutenberg/extend/index.js
  src/gutenberg/extend/position/index.js
  src/gutenberg/extend/spacings/index.js
  src/gutenberg/extend/transform/index.js
Due: eslint

Add copy paste extensions (#198)
  src/gutenberg/editor.scss
  src/gutenberg/extend/block-actions-copy-paste/editor.scss
  src/gutenberg/extend/block-actions-copy-paste/index.js
  src/gutenberg/extend/block-actions-copy-paste/use-paste-extensions.js
  src/gutenberg/extend/constants.js
  src/gutenberg/extend/custom-css/clipPath/index.js
  src/gutenberg/extend/custom-css/cursor/index.js
  src/gutenberg/extend/custom-css/custom/index.js
  src/gutenberg/extend/custom-css/index.js
  src/gutenberg/extend/custom-css/opacity/index.js
  src/gutenberg/extend/custom-css/overflow/index.js
  src/gutenberg/extend/custom-css/userSelect/index.js
  src/gutenberg/extend/display/index.js
  src/gutenberg/extend/effects/index.js
  src/gutenberg/extend/frame/border/index.js
  src/gutenberg/extend/frame/borderRadius/index.js
  src/gutenberg/extend/frame/index.js
  src/gutenberg/extend/frame/shadow/index.js
  src/gutenberg/extend/index.js
  src/gutenberg/extend/position/distance/index.js
  src/gutenberg/extend/position/height/index.js
  src/gutenberg/extend/position/index.js
  src/gutenberg/extend/position/minMaxHeight/index.js
  src/gutenberg/extend/position/minMaxWidth/index.js
  src/gutenberg/extend/position/position/index.js
  src/gutenberg/extend/position/width/index.js
  src/gutenberg/extend/position/zIndex/index.js
  src/gutenberg/extend/spacings/index.js
  src/gutenberg/extend/spacings/margin/index.js
  src/gutenberg/extend/spacings/padding/index.js
  src/gutenberg/extend/transform/index.js
  src/gutenberg/hooks/use-styles.js
  src/gutenberg/store/base/utils/selectors.js
  src/gutenberg/utils/styles/index.js
  src/settings/index.php
Due: composer run-script phpcs, stylelint --syntax scss, eslint

v3.1.0
  package.json
  src/readme.md
Due: none

fixed migration to new Ghost Kit attributes from deprecated blocks
  src/gutenberg/extend/deprecated/index.js
  src/gutenberg/extend/index.js
Due: eslint

changed Spring transition defaults
  src/gutenberg/components/transition-spring-controls/default.js
  src/gutenberg/components/transition-spring-controls/presets.js
Due: eslint

Path conditions:
  composer run-script phpcs: any of: src/**/*.php
  stylelint: any of: src/**/*.css
  stylelint --syntax scss: any of: src/**/*.scss
  eslint: any of: src/**/*.{js,jsx}
