Repository nk-crew/ghostkit: changes, and which lint-staged commands are due for each by the changed paths.
All: composer run-script phpcs, stylelint, stylelint --syntax scss, eslint

.lintstagedrc:

{
    "src/**/*.php": "composer run-script phpcs",
    "src/**/*.css": "stylelint",
    "src/**/*.scss": "stylelint --syntax scss",
    "src/**/*.{js,jsx}": "eslint"
}

Update lint-staged.config.js
  lint-staged.config.js
Due: none

added translation for frontend ghostkit script
  src/class-ghost-kit.php
Due: composer run-script phpcs

removed jsx mentions
  package.json
Due: none

fixed js unable translation because of wrong path in wp_set_script_translations
  package-lock.json
  package.json
  src/class-ghost-kit.php
  src/languages/readme.md
  wpeg.config.js
Due: composer run-script phpcs

v2.8.1
  package.json
  src/readme.md
Due: none

Update readme.md
  src/languages/readme.md
Due: none

added support for Label in custom fonts (use Name value in CSS)
  src/classes/class-typography.php
  src/gutenberg/components/typography/index.js
Due: composer run-script phpcs, eslint

v2.8.2
  package.json
  src/readme.md
Due: none

added URL options to testimonial block
  src/gutenberg/blocks/testimonial/block.json
  src/gutenberg/blocks/testimonial/edit.js
  src/gutenberg/blocks/testimonial/save.js
  src/gutenberg/blocks/testimonial/style.scss
Due: stylelint --syntax scss, eslint

changed wp-editor dependency to wp-block-editor (possible fix conflict with 3rd-party plugins like Yoast SEO)
  src/class-ghost-kit.php
Due: composer run-script phpcs

fixed Table of Contents editor preview
  src/classes/class-rest.php
  src/gutenberg/blocks/table-of-contents/get-all-headings.js
Due: composer run-script phpcs, eslint

added styled inner lists in table of contents block
  src/classes/class-rest.php
Due: composer run-script phpcs

fixed left and right margin in grid, button, pricing table blocks in TwentyTwenty theme
  src/assets/js/script.js
  src/gutenberg/blocks/button/deprecated.js
  src/gutenberg/blocks/button/index.js
  src/gutenberg/blocks/button/save.js
  src/gutenberg/blocks/button/style.scss
  src/gutenberg/blocks/grid/deprecated.js
  src/gutenberg/blocks/grid/save.js
  src/gutenberg/blocks/grid/style.scss
  src/gutenberg/blocks/pricing-table/deprecated.js
  src/gutenberg/blocks/pricing-table/index.js
  src/gutenberg/blocks/pricing-table/save.js
  src/gutenberg/blocks/pricing-table/style.scss
Due: stylelint --syntax scss, eslint

fixed accordion and tabs item hash missing dash
  src/gutenberg/blocks/accordion-item/edit.js
  src/gutenberg/blocks/tabs/edit.js
Due: eslint

fixed undefined index if the database contains an array not identified by the initial typography filter
  src/classes/class-typography.php
Due: composer run-script phpcs

fixed fonts loader: is set global fonts, system clear default filter fonts
  src/classes/class-fonts.php
Due: composer run-script phpcs

added CSS filter in editor Display extension
  src/gutenberg/extend/display/editor.scss
Due: stylelint --syntax scss

Update readme.md
  src/readme.md
Due: none

partly fixed accordions and tabs inside looped carousel (issue #91)
  src/assets/js/block-accordion.js
  src/assets/js/block-carousel.js
  src/assets/js/block-tabs-v2.js
Due: eslint

changed custom css generator (added separate blocks parser, that will be usable in the future updates also)
  src/class-ghost-kit.php
  src/classes/class-assets.php
  src/classes/class-parse-blocks.php
  src/classes/class-reusable-widget.php
Due: composer run-script phpcs

changed icons in blocks to pure SVG
  src/assets/css/main.scss
  src/assets/js/icons-fallback.js
  src/assets/vendor/font-awesome/all.min.js
  src/assets/vendor/font-awesome/v4-shims.min.js
  src/class-ghost-kit.php
  src/classes/class-icons-fallback.php
  src/classes/class-icons.php
  src/gutenberg/blocks/accordion-item/deprecated.js
  src/gutenberg/blocks/accordion-item/edit.js
  src/gutenberg/blocks/accordion-item/save.js
  src/gutenberg/blocks/alert/block.json
  src/gutenberg/blocks/alert/deprecated.js
  src/gutenberg/blocks/alert/edit.js
  src/gutenberg/blocks/alert/save.js
  src/gutenberg/blocks/button-single/save.js
  src/gutenberg/blocks/button/index.js
  src/gutenberg/blocks/carousel/block.json
  src/gutenberg/blocks/carousel/deprecated.js
  src/gutenberg/blocks/carousel/save.js
  src/gutenberg/blocks/divider/deprecated.js
  src/gutenberg/blocks/divider/index.js
  src/gutenberg/blocks/divider/save.js
  src/gutenberg/blocks/icon-box/block.json
  src/gutenberg/blocks/icon-box/deprecated.js
  src/gutenberg/blocks/icon-box/index.js
  src/gutenberg/blocks/icon-box/save.js
  src/gutenberg/blocks/testimonial/block.json
  src/gutenberg/blocks/testimonial/deprecated.js
  src/gutenberg/blocks/testimonial/save.js
  src/gutenberg/blocks/testimonial/style.scss
  src/gutenberg/blocks/twitter/block.php
  src/gutenberg/blocks/twitter/edit.js
  src/gutenberg/blocks/video/block.json
  src/gutenberg/blocks/video/deprecated.js
  src/gutenberg/blocks/video/save.js
  src/gutenberg/blocks/video/style.scss
  src/gutenberg/components/icon-picker/index.js
  src/gutenberg/index.js
  src/gutenberg/svg-icons/index.js
  src/gutenberg/svg-icons/style.scss
Due: composer run-script phpcs, stylelint --syntax scss, eslint

fixed go pro link redirect
  src/settings/index.php
Due: composer run-script phpcs

updated readme for new Icons List api
  src/classes/class-assets.php
  src/readme.md
Due: composer run-script phpcs

added "Add Template" button to Toolbar
  src/gutenberg/blocks/grid/block.json
  src/gutenberg/blocks/grid/edit.js
  src/gutenberg/blocks/grid/editor.scss
  src/gutenberg/blocks/grid/index.js
  src/gutenberg/extend/index.js
  src/gutenberg/extend/toolbar-templates/editor.scss
  src/gutenberg/extend/toolbar-templates/index.js
  src/gutenberg/plugins/templates/index.js
Due: stylelint --syntax scss, eslint

added js filter for setting pages
  src/settings/pages/index.js
Due: eslint

changed 'react' usage to wp.element
  src/settings/components/info.js
  src/settings/containers/container.js
  src/settings/pages/blocks.js
  src/settings/pages/css-js.js
  src/settings/pages/fonts.js
  src/settings/pages/icons.js
  src/settings/pages/typography.js
Due: eslint

fixed fonts loader if user set adobe fonts and after deactivated pro plugin
  src/classes/class-fonts.php
Due: composer run-script phpcs

fixed form submit button width in editor
  src/gutenberg/blocks/form/editor.scss
Due: stylelint --syntax scss

removed unused filters
  src/classes/class-assets.php
  src/gutenberg/blocks/form/block.php
  src/readme.md
Due: composer run-script phpcs

fixed icon picker button render when icon is not selected
  src/gutenberg/components/icon-picker/index.js
Due: eslint

v2.9.0
  package.json
  src/readme.md
Due: none

fixed Button block styles loading when Form block used
  src/assets/css/block-button-single.scss
  src/assets/js/block-button-single.js
Due: stylelint --syntax scss, eslint

fixed typo
  src/gutenberg/blocks/form/fields/date/edit.js
Due: eslint

added Twitter block Text Mode option (to display full tweet text)
  src/classes/class-rest.php
  src/gutenberg/blocks/twitter/block.json
  src/gutenberg/blocks/twitter/block.php
  src/gutenberg/blocks/twitter/edit.js
Due: composer run-script phpcs, eslint

improved tweet text formatting (line breaks) in Twitter block
  src/gutenberg/blocks/twitter/style.scss
Due: stylelint --syntax scss

added icon picker Search input autofocus
  src/gutenberg/components/icon-picker/index.js
Due: eslint

added Reset button in Icon Picker component
  src/gutenberg/components/icon-picker/editor.scss
  src/gutenberg/components/icon-picker/index.js
Due: stylelint --syntax scss, eslint
