Repository nk-crew/ghostkit: changes, and which lint-staged commands are due for each by the changed paths.
All: composer run-script phpcs, stylelint, stylelint --syntax scss, eslint

fixed block resaving when background image tag fetched
  src/gutenberg/blocks/grid/awb-fallback.js
Due: eslint

Update readme.md
  src/readme.md
Due: none

added columns Grow width
  src/gutenberg/blocks/grid-column/block.json
  src/gutenberg/blocks/grid-column/edit.js
  src/gutenberg/blocks/grid-column/index.js
  src/gutenberg/blocks/grid-column/save.js
  src/gutenberg/blocks/grid/block.json
  src/gutenberg/blocks/grid/edit.js
  src/gutenberg/blocks/grid/save.js
  src/gutenberg/blocks/grid/styles/editor.scss
  src/gutenberg/blocks/grid/styles/style.scss
  src/gutenberg/blocks/grid/styles/variables.scss
Due: stylelint --syntax scss, eslint

fixed custom styles rendering in the FSE
  src/gutenberg/components/editor-styles/index.js
Due: eslint

fixed EditorStyles component destroy error
  src/gutenberg/components/editor-styles/index.js
Due: eslint

Update settings.json
  .vscode/settings.json
Due: none

removed unused variable
  src/settings/index.php
Due: composer run-script phpcs

changed predefined 5-column grid from Auto to Grow columns
  src/gutenberg/blocks/grid/edit.js
Due: eslint

fixed grid preview in default themes wrong column width
  src/gutenberg/blocks/grid/styles/editor.scss
Due: stylelint --syntax scss

removed will-change usage
  src/gutenberg/blocks/accordion/styles/editor.scss
  src/gutenberg/blocks/accordion/styles/style.scss
  src/gutenberg/blocks/carousel/styles/style.scss
  src/gutenberg/blocks/tabs/styles/editor.scss
  src/gutenberg/blocks/tabs/styles/style.scss
  src/gutenberg/blocks/video/styles/style.scss
  src/settings/pages/blocks.scss
  src/settings/style.scss
Due: stylelint --syntax scss

enable `generateAnchors` setting in the editor by default
  src/gutenberg/blocks/table-of-contents/block.php
Due: composer run-script phpcs

fixed TOC preview in editor if some of headings does not contain anchors
  src/gutenberg/blocks/table-of-contents/get-all-headings.js
Due: eslint

changed TOC block description
  src/gutenberg/blocks/table-of-contents/block.json
  src/gutenberg/blocks/table-of-contents/edit.js
Due: eslint

fixed countdown block dependency of the user's time zone
  package.json
  src/assets/js/helper.js
  src/class-ghost-kit.php
  src/classes/class-assets.php
  src/gutenberg/blocks/countdown/constants.js
  src/gutenberg/blocks/countdown/edit.js
  src/gutenberg/blocks/countdown/frontend.js
  src/gutenberg/components/date-time-picker/index.js
  wpeg.config.js
Due: composer run-script phpcs, eslint

updated deps
  package-lock.json
  package.json
Due: none

changed google fonts json formatting
  src/classes/google-fonts/webfonts.json
Due: none

updated google fonts list
  src/classes/google-fonts/webfonts.json
Due: none

v2.23.0
  package-lock.json
  package.json
  src/readme.md
Due: none

added --force tag to gh action npm install run
  .github/workflows/deploy.yml
  package-lock.json
Due: none

fixed Countdown block with manual UTC timezone set in
  src/classes/class-assets.php
  src/gutenberg/components/date-time-picker/index.js
Due: composer run-script phpcs, eslint

v2.23.1
  package.json
  src/readme.md
Due: none

fixed Countdown block possible DatePicker error, when invalid date specified
  src/gutenberg/components/date-time-picker/index.js
Due: eslint

v2.23.2
  package.json
  src/readme.md
Due: none

fixed rest call permission check
  src/classes/class-rest.php
Due: composer run-script phpcs

fixed form block nonce field ID conflict with block ID
  src/gutenberg/blocks/form/block.php
Due: composer run-script phpcs

changed author url and added donate link
  src/class-ghost-kit.php
  src/readme.md
Due: composer run-script phpcs

add aria-label for URL picker and related components
  src/gutenberg/blocks/button-single/block.json
  src/gutenberg/blocks/button-single/edit.js
  src/gutenberg/blocks/button-single/save.js
  src/gutenberg/blocks/counter-box/block.json
  src/gutenberg/blocks/counter-box/edit.js
  src/gutenberg/blocks/counter-box/save.js
  src/gutenberg/blocks/icon-box/block.json
  src/gutenberg/blocks/icon-box/edit.js
  src/gutenberg/blocks/icon-box/save.js
  src/gutenberg/blocks/icon-box/styles/style.scss
  src/gutenberg/blocks/testimonial/block.json
  src/gutenberg/blocks/testimonial/edit.js
  src/gutenberg/blocks/testimonial/save.js
  src/gutenberg/components/url-picker/index.js
Due: stylelint --syntax scss, eslint

Update composer.json
  composer.json
Due: none

fixed form block send error
  src/gutenberg/blocks/form/block.php
Due: composer run-script phpcs

fixed Invalid date in editor Countdown block
  src/gutenberg/blocks/countdown/edit.js
Due: eslint

updated Swiper
  package-lock.json
  package.json
  src/classes/class-assets.php
  src/gutenberg/blocks/carousel/frontend.js
Due: composer run-script phpcs, eslint

prevent running fix for carousel loop slides if slider without loop
  src/gutenberg/blocks/carousel/frontend.js
Due: eslint

fixed custom easing function
  src/assets/js/main.js
Due: eslint

changed throttle scroll usage to IntersectionObserver
  src/assets/js/main.js
  src/gutenberg/blocks/accordion/frontend.js
  src/gutenberg/blocks/tabs/frontend.js
  src/gutenberg/blocks/video/frontend.js
Due: eslint

fixed reinit duplicate carousel slides when changing content inside it
  src/assets/js/main.js
  src/gutenberg/blocks/carousel/frontend.js
Due: eslint

fixed images compare block usage inside carousel
  src/gutenberg/blocks/carousel/frontend.js
Due: eslint

fixed rendering dynamic blocks inside carousel slides (for example, Tabs or Image Compare)
  src/assets/js/main.js
  src/gutenberg/blocks/alert/frontend.js
  src/gutenberg/blocks/carousel/frontend.js
  src/gutenberg/blocks/image-compare/frontend.js
Due: eslint

changed grid vertical gap from margins to `row-gap`
  src/gutenberg/blocks/grid/styles/style.scss
Due: stylelint --syntax scss

added Vertical Gap support to Grid and Buttons blocks
  src/gutenberg/blocks/button/block.json
  src/gutenberg/blocks/button/edit.js
  src/gutenberg/blocks/button/index.js
  src/gutenberg/blocks/button/styles/editor.scss
  src/gutenberg/blocks/button/styles/style.scss
  src/gutenberg/blocks/button/styles/variables.scss
  src/gutenberg/blocks/grid/block.json
  src/gutenberg/blocks/grid/edit.js
  src/gutenberg/blocks/grid/index.js
  src/gutenberg/blocks/grid/styles/style.scss
  src/gutenberg/blocks/grid/styles/variables.scss
  src/gutenberg/components/gap-settings/editor.scss
  src/gutenberg/components/gap-settings/index.js
  src/gutenberg/editor.scss
Due: stylelint --syntax scss, eslint

changed Button gap to css `gap`
  src/gutenberg/blocks/button-single/block.json
  src/gutenberg/blocks/button-single/edit.js
  src/gutenberg/blocks/button-single/save.js
  src/gutenberg/blocks/button/block.json
  src/gutenberg/blocks/button/edit.js
  src/gutenberg/blocks/button/save.js
  src/gutenberg/blocks/button/styles/editor.scss
  src/gutenberg/blocks/button/styles/style.scss
Due: stylelint --syntax scss, eslint

Path conditions:
  composer run-script phpcs: any of: src/**/*.php
  stylelint: any of: src/**/*.css
  stylelint --syntax scss: any of: src/**/*.scss
  eslint: any of: src/**/*.{js,jsx}
