Repository nk-crew/ghostkit: changes, and which lint-staged commands are due for each by the changed paths.
All: composer run-script phpcs, stylelint, stylelint --syntax scss, eslint

.lintstagedrc:

{
    "src/**/*.php": "composer run-script phpcs",
    "src/**/*.css": "stylelint",
    "src/**/*.scss": "stylelint --syntax scss",
    "src/**/*.{js,jsx}": "eslint"
}

Patch unminified motion (#184)
  src/classes/class-assets.php
  wpeg.config.js
Due: composer run-script phpcs

Added base block for Card
  src/gutenberg/blocks/card/block.json
  src/gutenberg/blocks/card/edit.js
  src/gutenberg/blocks/card/edit/block-controls.js
  src/gutenberg/blocks/card/edit/inspector-controls.js
  src/gutenberg/blocks/card/edit/url-picker.js
  src/gutenberg/blocks/card/index.js
  src/gutenberg/blocks/card/save.js
  src/gutenberg/blocks/card/styles/_base.scss
  src/gutenberg/blocks/card/styles/editor.scss
  src/gutenberg/blocks/card/styles/style.scss
  src/gutenberg/blocks/index.js
  src/gutenberg/editor.scss
  src/gutenberg/icons/block-card.svg
  src/gutenberg/icons/index.js
Due: stylelint --syntax scss, eslint

Added prop group in the UrlPicker block controls
  src/gutenberg/components/url-picker/index.js
Due: eslint

Fixed width block
  src/gutenberg/blocks/icon/block.json
  src/gutenberg/blocks/icon/edit.js
  src/gutenberg/blocks/icon/edit/block-controls.js
  src/gutenberg/blocks/icon/index.js
  src/gutenberg/blocks/icon/save.js
  src/gutenberg/blocks/icon/styles/editor.scss
  src/gutenberg/blocks/icon/styles/style.scss
Due: stylelint --syntax scss, eslint

added helper function for Instances
  src/assets/js/helper.js
  src/assets/js/utils/instance.js
  src/gutenberg/blocks/shape-divider/edit.js
  src/gutenberg/components/pro-note/editor.scss
  src/gutenberg/components/transition-presets-control/index.js
  src/gutenberg/components/transition-presets-control/presets.js
  src/gutenberg/extend/animation/deprecated-scroll-reveal/index.php
  src/gutenberg/extend/animation/frontend.js
  src/gutenberg/extend/animation/index.php
  src/gutenberg/extend/animation/reveal/index.js
  src/gutenberg/extend/animation/utils/parse-animation-data.js
  src/gutenberg/store/base/components/selectors.js
Due: composer run-script phpcs, stylelint --syntax scss, eslint

don't add value of animation controls when it is empty - add placeholder instead
  src/gutenberg/extend/animation/reveal/index.js
Due: eslint

Update index.js
  src/gutenberg/extend/animation/index.js
Due: eslint

added stable tools panel component usage in order to support future Gutenberg updates
  src/gutenberg/extend/animation/pro-animations/index.js
  src/gutenberg/extend/animation/reveal/index.js
Due: eslint

slightly improved reveal frontend script
  src/gutenberg/extend/animation/frontend.js
  src/gutenberg/extend/animation/reveal/index.js
Due: eslint

improved animation control styles
  src/gutenberg/editor.scss
  src/gutenberg/extend/animation/deprecated-scroll-reveal/editor.scss
  src/gutenberg/extend/animation/editor.scss
  src/gutenberg/extend/animation/index.js
  src/gutenberg/extend/animation/reveal/editor.scss
Due: stylelint --syntax scss, eslint

added reduced motion check for all animations
  src/gutenberg/extend/animation/frontend.js
Due: eslint

add default animation attribute when animation tool item selected
  src/gutenberg/extend/animation/reveal/index.js
Due: eslint

Fixed width block (#187)
  src/gutenberg/blocks/icon/block.json
  src/gutenberg/blocks/icon/edit.js
  src/gutenberg/blocks/icon/edit/block-controls.js
  src/gutenberg/blocks/icon/index.js
  src/gutenberg/blocks/icon/save.js
  src/gutenberg/blocks/icon/styles/editor.scss
  src/gutenberg/blocks/icon/styles/style.scss
Due: stylelint --syntax scss, eslint

slightly changed php render code
  src/gutenberg/extend/animation/deprecated-scroll-reveal/index.php
  src/gutenberg/extend/animation/index.php
Due: composer run-script phpcs

fixed align of transition selector preview
  src/gutenberg/components/transition-selector/editor.scss
Due: stylelint --syntax scss

added class `ghostkit-animation-reveal` for reveal animation
  src/gutenberg/extend/animation/frontend.js
  src/gutenberg/extend/animation/index.php
Due: composer run-script phpcs, eslint

changed animation names and positions
  src/gutenberg/extend/animation/index.php
  src/gutenberg/extend/animation/pro-animations/index.js
Due: composer run-script phpcs, eslint

Update block.json
  src/gutenberg/blocks/accordion/block.json
Due: none

Update class-assets.php
  src/classes/class-assets.php
Due: composer run-script phpcs

added new extensions for Custom CSS
  src/class-ghost-kit.php
  src/classes/class-assets.php
  src/gutenberg/components/code-editor/editor.scss
  src/gutenberg/components/code-editor/index.js
  src/gutenberg/extend/custom-css/clipPath/index.js
  src/gutenberg/extend/custom-css/clipPath/presets.js
  src/gutenberg/extend/custom-css/cursor/index.js
  src/gutenberg/extend/custom-css/custom/index.js
  src/gutenberg/extend/custom-css/deprecated-custom-css/index.js
  src/gutenberg/extend/custom-css/deprecated-custom-css/index.php
  src/gutenberg/extend/custom-css/editor.scss
  src/gutenberg/extend/custom-css/get-custom-css.php
  src/gutenberg/extend/custom-css/index.js
  src/gutenberg/extend/custom-css/index.php
  src/gutenberg/extend/custom-css/opacity/index.js
  src/gutenberg/extend/custom-css/overflow/index.js
  src/gutenberg/extend/custom-css/userSelect/index.js
  src/gutenberg/extend/effects/index.js
  src/gutenberg/extend/index.php
  src/gutenberg/extend/styles/get-styles.js
  src/gutenberg/extend/styles/index.js
  src/gutenberg/extend/styles/index.php
Due: composer run-script phpcs, stylelint --syntax scss, eslint

changed old attributes to `ghostkit`
  src/gutenberg/blocks/alert/index.js
  src/gutenberg/blocks/button/index.js
  src/gutenberg/blocks/countdown/index.js
  src/gutenberg/blocks/counter-box/index.js
  src/gutenberg/blocks/divider/index.js
  src/gutenberg/blocks/grid-column/index.js
  src/gutenberg/blocks/grid/index.js
  src/gutenberg/blocks/icon-box/index.js
  src/gutenberg/blocks/progress/index.js
  src/gutenberg/blocks/shape-divider/index.js
  src/gutenberg/extend/custom-css/deprecated-custom-css/index.js
  src/gutenberg/extend/index.php
  src/gutenberg/extend/styles/deprecated-styles/index.js
  src/gutenberg/extend/styles/deprecated-styles/index.php
  src/gutenberg/extend/styles/index.js
  src/gutenberg/extend/styles/index.php
Due: composer run-script phpcs, eslint

moved deprecated extensions to `deprecated` folder
  src/gutenberg/editor.scss
  src/gutenberg/extend/custom-css/index.js
  src/gutenberg/extend/deprecated/custom-css/index.js
  src/gutenberg/extend/deprecated/custom-css/index.php
  src/gutenberg/extend/deprecated/editor.scss
  src/gutenberg/extend/deprecated/index.js
  src/gutenberg/extend/deprecated/index.php
  src/gutenberg/extend/deprecated/scroll-reveal/editor.scss
  src/gutenberg/extend/deprecated/scroll-reveal/index.js
  src/gutenberg/extend/deprecated/scroll-reveal/index.php
  src/gutenberg/extend/deprecated/scroll-reveal/parse-sr-config.js
  src/gutenberg/extend/deprecated/styles/index.js
  src/gutenberg/extend/deprecated/styles/index.php
  src/gutenberg/extend/effects/editor.scss
  src/gutenberg/extend/effects/index.js
  src/gutenberg/extend/index.php
  src/gutenberg/extend/styles/index.js
Due: composer run-script phpcs, stylelint --syntax scss, eslint

changed ResponsiveTabPanel to use redux store
  src/gutenberg/blocks/grid-column/edit.js
  src/gutenberg/blocks/shape-divider/edit.js
  src/gutenberg/components/responsive-tab-panel/index.js
  src/gutenberg/extend/display/index.js
  src/gutenberg/extend/frame/index.js
  src/gutenberg/extend/position/index.js
  src/gutenberg/extend/spacings/index.js
  src/gutenberg/store/index.js
  src/gutenberg/store/responsive/actions.js
  src/gutenberg/store/responsive/index.js
  src/gutenberg/store/responsive/reducer.js
  src/gutenberg/store/responsive/selectors.js
  src/gutenberg/style-variants/core-list/index.js
  src/gutenberg/style-variants/core-paragraph/index.js
Due: eslint

changed ResponsiveTabPanel filledTabs prop to active
  src/gutenberg/blocks/grid-column/edit.js
  src/gutenberg/blocks/shape-divider/edit.js
  src/gutenberg/components/responsive-tab-panel/index.js
  src/gutenberg/extend/display/index.js
  src/gutenberg/extend/frame/index.js
  src/gutenberg/extend/position/index.js
  src/gutenberg/extend/spacings/index.js
  src/gutenberg/style-variants/core-list/index.js
  src/gutenberg/style-variants/core-paragraph/index.js
Due: eslint

added ResponsiveToggle component
  src/gutenberg/components/responsive-tab-panel/index.js
  src/gutenberg/components/responsive-toggle/editor.scss
  src/gutenberg/components/responsive-toggle/index.js
  src/gutenberg/editor.scss
  src/gutenberg/hooks/use-responsive.js
  src/gutenberg/store/base/components/selectors.js
  src/gutenberg/store/base/hooks/index.js
  src/gutenberg/store/base/hooks/selectors.js
  src/gutenberg/store/index.js
Due: stylelint --syntax scss, eslint

changed usage of Responsive tabs to toggle
  src/gutenberg/blocks/grid-column/edit.js
  src/gutenberg/blocks/shape-divider/edit.js
  src/gutenberg/components/responsive-toggle/editor.scss
  src/gutenberg/extend/display/index.js
  src/gutenberg/extend/frame/index.js
  src/gutenberg/extend/position/index.js
  src/gutenberg/extend/spacings/editor.scss
  src/gutenberg/extend/spacings/index.js
  src/gutenberg/style-variants/core-list/index.js
  src/gutenberg/style-variants/core-paragraph/index.js
Due: stylelint --syntax scss, eslint

fixed responsive toggle active indicator
  src/gutenberg/components/active-indicator/editor.scss
  src/gutenberg/components/responsive-toggle/editor.scss
Due: stylelint --syntax scss

improved responsive active indicator displaying
  src/gutenberg/blocks/grid-column/edit.js
  src/gutenberg/blocks/shape-divider/edit.js
  src/gutenberg/components/responsive-toggle/index.js
  src/gutenberg/extend/display/index.js
  src/gutenberg/extend/frame/index.js
  src/gutenberg/extend/position/index.js
  src/gutenberg/extend/spacings/index.js
  src/gutenberg/style-variants/core-list/index.js
  src/gutenberg/style-variants/core-paragraph/index.js
Due: eslint

added allDevices to useResponsive hook
  src/gutenberg/components/responsive-tab-panel/index.js
  src/gutenberg/components/responsive-toggle/index.js
  src/gutenberg/extend/display/index.js
  src/gutenberg/hooks/use-responsive.js
Due: eslint

added iframe resizer based on Responsive states
  src/gutenberg/editor.scss
  src/gutenberg/plugins/editor-iframe-resize/editor.scss
  src/gutenberg/plugins/editor-iframe-resize/index.js
  src/gutenberg/plugins/index.js
Due: stylelint --syntax scss, eslint

Fixed mobile events
  src/gutenberg/blocks/image-compare/frontend.js
Due: eslint

Fixed placeholder block props
  src/gutenberg/blocks/image-compare/edit.js
Due: eslint

added useStyles hook to work with ghostkit.styles
  src/gutenberg/extend/custom-css/clipPath/index.js
  src/gutenberg/extend/custom-css/cursor/index.js
  src/gutenberg/extend/custom-css/custom/index.js
  src/gutenberg/extend/custom-css/index.js
  src/gutenberg/extend/custom-css/opacity/index.js
  src/gutenberg/extend/custom-css/overflow/index.js
  src/gutenberg/extend/custom-css/userSelect/index.js
  src/gutenberg/hooks/use-styles.js
  src/gutenberg/store/base/hooks/selectors.js
  src/gutenberg/store/base/utils/selectors.js
  src/gutenberg/utils/merge/index.js
Due: eslint
