Repository nk-crew/ghostkit: changes, and which lint-staged commands are due for each by the changed paths.
All: composer run-script phpcs, stylelint, stylelint --syntax scss, eslint

.lintstagedrc:

{
    "src/**/*.php": "composer run-script phpcs",
    "src/**/*.css": "stylelint",
    "src/**/*.scss": "stylelint --syntax scss",
    "src/**/*.{js,jsx}": "eslint"
}

changed Spacings extension to new styles
  src/gutenberg/components/important-toggle/editor.scss
  src/gutenberg/components/important-toggle/index.js
  src/gutenberg/components/input-drag/index.js
  src/gutenberg/editor.scss
  src/gutenberg/extend/index.php
  src/gutenberg/extend/spacings/editor.scss
  src/gutenberg/extend/spacings/index.js
  src/gutenberg/extend/spacings/index.php
  src/gutenberg/extend/spacings/margin/index.js
  src/gutenberg/extend/spacings/padding/index.js
  src/gutenberg/store/base/components/selectors.js
Due: composer run-script phpcs, stylelint --syntax scss, eslint

added responsive to Custom CSS extension tools
  src/gutenberg/extend/custom-css/clipPath/index.js
  src/gutenberg/extend/custom-css/cursor/index.js
  src/gutenberg/extend/custom-css/custom/index.js
  src/gutenberg/extend/custom-css/index.js
  src/gutenberg/extend/custom-css/opacity/index.js
  src/gutenberg/extend/custom-css/overflow/index.js
  src/gutenberg/extend/custom-css/userSelect/index.js
Due: eslint

changed Display extension to new API
  src/gutenberg/extend/display/index.js
  src/gutenberg/extend/display/index.php
  src/gutenberg/extend/display/screenSize/index.js
  src/gutenberg/extend/index.php
Due: composer run-script phpcs, eslint

Effects extension moved to Styles InspectorControls
  src/gutenberg/extend/effects/index.js
  src/gutenberg/extend/index.js
Due: eslint

changed Position extension to new styles
  src/gutenberg/editor.scss
  src/gutenberg/extend/index.php
  src/gutenberg/extend/position/distance/index.js
  src/gutenberg/extend/position/editor.scss
  src/gutenberg/extend/position/height/index.js
  src/gutenberg/extend/position/index.js
  src/gutenberg/extend/position/index.php
  src/gutenberg/extend/position/position/index.js
  src/gutenberg/extend/position/width/index.js
  src/gutenberg/extend/position/zIndex/index.js
Due: composer run-script phpcs, stylelint --syntax scss, eslint

changed display extension toggle group style
  src/gutenberg/extend/display/editor.scss
  src/gutenberg/extend/display/screenSize/index.js
Due: stylelint --syntax scss, eslint

restored notice about custom positioning in position extension
  src/gutenberg/extend/index.js
  src/gutenberg/extend/index.php
  src/gutenberg/extend/position/position/index.js
Due: composer run-script phpcs, eslint

changed Frame extension to new styles
  src/gutenberg/components/element-state-toggle/editor.scss
  src/gutenberg/components/element-state-toggle/index.js
  src/gutenberg/components/input-group/editor.scss
  src/gutenberg/components/input-group/index.js
  src/gutenberg/editor.scss
  src/gutenberg/extend/frame/border/index.js
  src/gutenberg/extend/frame/borderRadius/index.js
  src/gutenberg/extend/frame/editor.scss
  src/gutenberg/extend/frame/index.js
  src/gutenberg/extend/frame/index.php
  src/gutenberg/extend/frame/shadow/index.js
  src/gutenberg/extend/index.js
  src/gutenberg/extend/index.php
  src/gutenberg/extend/position/distance/index.js
  src/gutenberg/extend/position/editor.scss
  src/gutenberg/hooks/use-styles.js
  src/gutenberg/icons/icon-pointer.svg
  src/gutenberg/icons/index.js
  src/gutenberg/store/base/components/selectors.js
  src/gutenberg/store/base/utils/selectors.js
  src/gutenberg/utils/array-move/index.js
Due: composer run-script phpcs, stylelint --syntax scss, eslint

added migrations for all old extensions
  src/gutenberg/extend/custom-css/custom/index.js
  src/gutenberg/extend/custom-css/index.js
  src/gutenberg/extend/deprecated/custom-css/index.js
  src/gutenberg/extend/deprecated/index.js
  src/gutenberg/extend/deprecated/index.php
  src/gutenberg/extend/deprecated/scroll-reveal/index.js
  src/gutenberg/extend/deprecated/scroll-reveal/index.php
  src/gutenberg/extend/deprecated/scroll-reveal/parse-sr-config.js
  src/gutenberg/extend/deprecated/styles/index.js
  src/gutenberg/extend/deprecated/styles/index.php
  src/gutenberg/extend/index.js
  src/gutenberg/hooks/use-styles.js
Due: composer run-script phpcs, eslint

fixed some old extensions attributes migration
  src/gutenberg/extend/deprecated/scroll-reveal/index.js
  src/gutenberg/extend/deprecated/styles/index.js
Due: eslint

Update webfonts.json
  src/classes/google-fonts/webfonts.json
Due: none

Update class-icons.php
  src/classes/class-icons.php
Due: composer run-script phpcs

Updated settings in the Video block
  src/gutenberg/blocks/video/aspect-ratio/aspect-ratio-16-9.png
  src/gutenberg/blocks/video/aspect-ratio/aspect-ratio-21-9.png
  src/gutenberg/blocks/video/aspect-ratio/aspect-ratio-3-2.png
  src/gutenberg/blocks/video/aspect-ratio/aspect-ratio-4-3.png
  src/gutenberg/blocks/video/block.json
  src/gutenberg/blocks/video/edit.js
  src/gutenberg/blocks/video/styles/style.scss
  src/gutenberg/components/button-clear-media/index.js
  src/gutenberg/components/media-size-selector/index.js
Due: stylelint --syntax scss, eslint

Removed unused icons aspect-ratio
  src/gutenberg/icons/icon-aspect-ratio-16-9.svg
  src/gutenberg/icons/icon-aspect-ratio-21-9.svg
  src/gutenberg/icons/icon-aspect-ratio-3-2.svg
  src/gutenberg/icons/icon-aspect-ratio-4-3.svg
  src/gutenberg/icons/index.js
Due: eslint

Update editor.scss
  src/gutenberg/components/image-picker/editor.scss
Due: stylelint --syntax scss

better suffix in some controls
  src/gutenberg/blocks/carousel/edit.js
  src/gutenberg/components/transition-easing-controls/index.js
  src/gutenberg/components/transition-spring-controls/index.js
Due: eslint

Update icons and fonts (#193)
  src/classes/class-icons.php
  src/classes/google-fonts/webfonts.json
Due: composer run-script phpcs

Added colors in the Video block
  src/gutenberg/blocks/video/block.json
  src/gutenberg/blocks/video/edit.js
  src/gutenberg/blocks/video/edit/background-color.js
  src/gutenberg/blocks/video/edit/inspector-controls.js
  src/gutenberg/blocks/video/frontend.js
  src/gutenberg/blocks/video/index.js
  src/gutenberg/blocks/video/save.js
  src/gutenberg/blocks/video/styles/style.scss
Due: stylelint --syntax scss, eslint

added insideInspector option to IconPicker component
  src/gutenberg/blocks/alert/edit.js
  src/gutenberg/blocks/button-single/edit.js
  src/gutenberg/blocks/carousel/edit.js
  src/gutenberg/blocks/divider/edit.js
  src/gutenberg/blocks/icon-box/edit.js
  src/gutenberg/blocks/icon/edit.js
  src/gutenberg/blocks/icon/edit/inspector-controls.js
  src/gutenberg/blocks/icon/save.js
  src/gutenberg/blocks/testimonial/edit.js
  src/gutenberg/blocks/video/edit.js
  src/gutenberg/components/icon-picker/editor.scss
  src/gutenberg/components/icon-picker/index.js
  src/gutenberg/style-variants/core-list/index.js
Due: stylelint --syntax scss, eslint

change ghost kit icon in icon picker to new logo
  src/classes/class-icons.php
  src/gutenberg/blocks/icon/block.json
Due: composer run-script phpcs

Update inspector-controls.js
  src/gutenberg/blocks/icon/edit/inspector-controls.js
Due: eslint

Improve icon picker (#195)
  src/classes/class-icons.php
  src/gutenberg/blocks/alert/edit.js
  src/gutenberg/blocks/button-single/edit.js
  src/gutenberg/blocks/carousel/edit.js
  src/gutenberg/blocks/divider/edit.js
  src/gutenberg/blocks/icon-box/edit.js
  src/gutenberg/blocks/icon/block.json
  src/gutenberg/blocks/icon/edit.js
  src/gutenberg/blocks/icon/edit/inspector-controls.js
  src/gutenberg/blocks/icon/save.js
  src/gutenberg/blocks/testimonial/edit.js
  src/gutenberg/blocks/video/edit.js
  src/gutenberg/components/icon-picker/editor.scss
  src/gutenberg/components/icon-picker/index.js
  src/gutenberg/style-variants/core-list/index.js
Due: composer run-script phpcs, stylelint --syntax scss, eslint

fix icon picker in video block
  src/gutenberg/blocks/video/edit/inspector-controls.js
Due: eslint

Fixed mobile touch only on divider
  src/gutenberg/blocks/image-compare/frontend.js
Due: eslint

Fixed image compare (#191)
  src/gutenberg/blocks/image-compare/edit.js
  src/gutenberg/blocks/image-compare/frontend.js
Due: eslint

fixed usage of hardcoded db prefix (resolves #192)
  src/classes/class-typography.php
Due: composer run-script phpcs

fixed encode/decode in useStyle hook
  src/gutenberg/hooks/use-styles.js
Due: eslint

changed box-shadow extension saving new data
  src/gutenberg/extend/frame/shadow/index.js
Due: eslint

remove empty styles nested objects
  src/gutenberg/hooks/use-styles.js
  src/gutenberg/store/base/utils/selectors.js
  src/gutenberg/utils/compact-object/index.js
Due: eslint

fixed custom classname regeneration condition
  src/gutenberg/extend/styles/index.js
Due: eslint

added Scroll overflow
  src/gutenberg/extend/custom-css/overflow/index.js
Due: eslint

Update index.js
  src/gutenberg/extend/frame/borderRadius/index.js
Due: eslint

Changed link tag in the Icon block
  src/gutenberg/blocks/icon/block.json
  src/gutenberg/blocks/icon/save.js
Due: eslint

added support for custom CSS Transition property
  src/gutenberg/extend/custom-css/index.js
  src/gutenberg/extend/custom-css/index.php
  src/gutenberg/extend/custom-css/pro-transition/index.js
Due: composer run-script phpcs, eslint

fixed frame border on select width css
  src/gutenberg/extend/frame/border/index.js
Due: eslint

Fixed reset styles in the Icon block
  src/gutenberg/blocks/icon/index.js
Due: eslint

Added supports in the Grid
  src/gutenberg/blocks/grid/block.json
Due: none

added support for Transform extension
  src/gutenberg/editor.scss
  src/gutenberg/extend/frame/editor.scss
  src/gutenberg/extend/frame/style.scss
  src/gutenberg/extend/index.js
  src/gutenberg/extend/index.php
  src/gutenberg/extend/transform/editor.scss
  src/gutenberg/extend/transform/index.js
  src/gutenberg/extend/transform/index.php
  src/gutenberg/extend/transform/pro-transforms/index.js
  src/gutenberg/extend/transform/style.scss
  src/gutenberg/hooks/use-styles.js
  src/gutenberg/icons/extension-transform.svg
  src/gutenberg/icons/index.js
  src/gutenberg/style.scss
Due: composer run-script phpcs, stylelint --syntax scss, eslint
