Repository nk-crew/ghostkit: changes, and which lint-staged commands are due for each by the changed paths.
All: composer run-script phpcs, stylelint, stylelint --syntax scss, eslint

.lintstagedrc:

{
    "src/**/*.php": "composer run-script phpcs",
    "src/**/*.css": "stylelint",
    "src/**/*.scss": "stylelint --syntax scss",
    "src/**/*.{js,jsx}": "eslint"
}

fixed some filters namespaces
  src/gutenberg/blocks/grid-column/index.js
  src/gutenberg/blocks/grid/index.js
Due: eslint

fixed custom css output in widgets, when custom css already added on some of the content blocks
  src/classes/class-assets.php
Due: composer run-script phpcs

updated dependencies
  package-lock.json
  package.json
Due: none

hidden icons picker output textarea by default
  src/gutenberg/components/icon-picker/editor.scss
  src/gutenberg/components/icon-picker/index.js
Due: stylelint --syntax scss, eslint

fixed forms options editor component loosing focus while typing
  src/gutenberg/blocks/form/field-options/index.js
Due: eslint

changed textdomain in recaptcha js from 'ghostkit' to '@@text_domain'
  src/gutenberg/blocks/form/recaptcha/index.js
Due: eslint

updated dependencies
  .huskyrc
  package-lock.json
  package.json
Due: none

added Loop option for Video block
  src/gutenberg/blocks/video/block.json
  src/gutenberg/blocks/video/edit.js
  src/gutenberg/blocks/video/frontend.js
  src/gutenberg/blocks/video/save.js
Due: eslint

Missing InnerBlocks when adding a new tab
  src/gutenberg/blocks/tabs/edit.js
Due: eslint

fixed delete tabs possibility (resolves #107)
  src/gutenberg/blocks/tabs/edit.js
Due: eslint

improved Grid block columns count change
  src/gutenberg/blocks/grid/block.json
  src/gutenberg/blocks/grid/edit.js
  src/gutenberg/blocks/tabs/edit.js
Due: eslint

fixed horizontal mover for Buttons, Carousel and Pricing Table blocks
  src/gutenberg/blocks/button/edit.js
  src/gutenberg/blocks/carousel/edit.js
  src/gutenberg/blocks/pricing-table/edit.js
Due: eslint

v2.14.1
  package.json
  src/readme.md
Due: none

added wpml config
  src/wpml-config.xml
Due: none

improved wpml config
  src/wpml-config.xml
Due: none

fixed carousel slides count change
  src/gutenberg/blocks/carousel/block.json
  src/gutenberg/blocks/carousel/edit.js
Due: eslint

improved grid editor code
  src/gutenberg/blocks/grid/edit.js
Due: eslint

Update wpml-config.xml
  src/wpml-config.xml
Due: none

added info about WPML in readme
  src/readme.md
Due: none

improved GIF block (use GIPHY package for API, small UI fixes)
  package-lock.json
  package.json
  src/gutenberg/blocks/gif/edit.js
  src/gutenberg/blocks/gif/styles/editor.scss
Due: stylelint --syntax scss, eslint

v2.14.2
  package.json
  src/readme.md
Due: none

Update readme.md
  src/readme.md
Due: none

added style "Icon Only" to Video block
  package-lock.json
  package.json
  src/gutenberg/blocks/video/edit.js
  src/gutenberg/blocks/video/index.js
  src/gutenberg/blocks/video/save.js
  src/gutenberg/blocks/video/styles/icon-only.scss
  src/gutenberg/blocks/video/styles/style.scss
Due: stylelint --syntax scss, eslint

removed outdated blocks deprecations
  src/gutenberg/blocks/accordion-item/deprecated.js
  src/gutenberg/blocks/alert/deprecated.js
  src/gutenberg/blocks/carousel/deprecated.js
  src/gutenberg/blocks/counter-box/deprecated.js
  src/gutenberg/blocks/google-maps/deprecated.js
  src/gutenberg/blocks/grid/deprecated.js
  src/gutenberg/blocks/icon-box/deprecated.js
  src/gutenberg/blocks/pricing-table-item/deprecated.js
  src/gutenberg/blocks/pricing-table-item/index.js
  src/gutenberg/blocks/progress/deprecated.js
  src/gutenberg/blocks/testimonial/deprecated.js
  src/gutenberg/blocks/video/deprecated.js
Due: eslint

prevent displaying video thumbnail on icons-only style
  src/gutenberg/blocks/video/frontend.js
Due: eslint

improved Button block states in editor. Display Hover or Focus styles, when you switch color tags in Inspector
  src/gutenberg/blocks/button-single/edit.js
  src/gutenberg/blocks/button/styles/editor.scss
Due: stylelint --syntax scss, eslint

fixed usage of deprecated 'ready' event
  src/assets/js/icons-fallback.js
  src/assets/js/main.js
Due: eslint

added Reusable Blocks admin menu item
  src/settings/index.php
Due: composer run-script phpcs

all vendor plugins moved to node_modules
  package-lock.json
  package.json
  src/assets/vendor/gist-simple/gist-simple.css
  src/assets/vendor/gist-simple/gist-simple.min.js
  src/assets/vendor/gist-simple/gist-simple.min.js.map
  src/assets/vendor/gmaps/gmaps.min.js
  src/assets/vendor/ie11-custom-properties/ie11-custom-properties.js
  src/assets/vendor/jarallax/dist/jarallax-element.js
  src/assets/vendor/jarallax/dist/jarallax-element.min.js
  src/assets/vendor/jarallax/dist/jarallax-element.min.js.map
  src/assets/vendor/jarallax/dist/jarallax-video.js
  src/assets/vendor/jarallax/dist/jarallax-video.min.js
  src/assets/vendor/jarallax/dist/jarallax-video.min.js.map
  src/assets/vendor/jarallax/dist/jarallax.css
  src/assets/vendor/jarallax/dist/jarallax.js
  src/assets/vendor/jarallax/dist/jarallax.min.js
  src/assets/vendor/jarallax/dist/jarallax.min.js.map
  src/assets/vendor/object-fit-images/ofi.min.js
  src/assets/vendor/parsley/parsley.min.js
  src/assets/vendor/parsley/parsley.min.js.map
  src/assets/vendor/readme.md
  src/assets/vendor/scrollreveal/scrollreveal.min.js
  src/assets/vendor/swiper-5-4-5/swiper.min.css
  src/assets/vendor/swiper-5-4-5/swiper.min.js
  src/assets/vendor/swiper-5-4-5/swiper.min.js.map
  src/assets/vendor/swiper/css/swiper.min.css
  src/assets/vendor/swiper/js/swiper.min.js
  src/assets/vendor/swiper/js/swiper.min.js.map
  src/assets/vendor/webfontloader/webfontloader.js
  src/class-ghost-kit.php
  src/classes/class-assets.php
  wpeg.config.js
Due: composer run-script phpcs, stylelint, eslint

always register webfontloader to use in Pro plugin
  src/classes/class-fonts.php
  src/gutenberg/components/typography/index.js
Due: composer run-script phpcs, eslint

added Image Compare block
  src/gutenberg/blocks/image-compare/block.json
  src/gutenberg/blocks/image-compare/edit.js
  src/gutenberg/blocks/image-compare/frontend.js
  src/gutenberg/blocks/image-compare/index.js
  src/gutenberg/blocks/image-compare/save.js
  src/gutenberg/blocks/image-compare/styles/editor.scss
  src/gutenberg/blocks/image-compare/styles/style.scss
  src/gutenberg/blocks/image-compare/styles/variables.scss
  src/gutenberg/blocks/index.js
  src/gutenberg/editor.scss
  src/gutenberg/icons/block-image-compare.svg
  src/gutenberg/icons/icon-angle-left.svg
  src/gutenberg/icons/icon-angle-right.svg
  src/gutenberg/icons/index.js
  src/gutenberg/style.scss
Due: stylelint --syntax scss, eslint

added image size selector in Image Compare block
  src/gutenberg/blocks/image-compare/block.json
  src/gutenberg/blocks/image-compare/edit.js
  src/gutenberg/blocks/image-compare/save.js
Due: eslint

changed rafl to raf-schd
  package-lock.json
  package.json
  src/assets/js/main.js
  src/gutenberg/blocks/image-compare/frontend.js
  src/gutenberg/blocks/video/frontend.js
Due: eslint

v2.15.0
  package.json
  src/readme.md
Due: none

updated composer packages
  composer.json
  composer.lock
Due: none

changed angle icons in Image Compare block
  src/gutenberg/blocks/image-compare/deprecated.js
  src/gutenberg/blocks/image-compare/edit.js
  src/gutenberg/blocks/image-compare/index.js
  src/gutenberg/blocks/image-compare/save.js
  src/gutenberg/icons/icon-angle-left.svg
  src/gutenberg/icons/icon-angle-right.svg
  src/gutenberg/icons/index.js
Due: eslint

Update package-lock.json
  package-lock.json
Due: none

Improved Breakpoints class
  src/classes/class-breakpoints.php
Due: composer run-script phpcs
