Repository nk-crew/ghostkit: changes, and which lint-staged commands are due for each by the changed paths.
All: composer run-script phpcs, stylelint, stylelint --syntax scss, eslint

.lintstagedrc:

{
    "src/**/*.php": "composer run-script phpcs",
    "src/**/*.css": "stylelint",
    "src/**/*.scss": "stylelint --syntax scss",
    "src/**/*.{js,jsx}": "eslint"
}

fixed caching in typography exist function
  src/classes/class-assets.php
  src/classes/class-typography.php
Due: composer run-script phpcs

fixed typographyExist localize setting
  src/classes/class-assets.php
Due: composer run-script phpcs

fixed `typography_exist` check
  src/classes/class-typography.php
Due: composer run-script phpcs

add enqueue fonts on front pages
  src/classes/class-fonts.php
Due: composer run-script phpcs

improved displaying of FSE Google Fonts settings
  src/gutenberg/components/google-fonts/index.js
  src/gutenberg/components/google-fonts/style.scss
Due: stylelint --syntax scss, eslint

removed display: grid from Form block
  src/gutenberg/blocks/form/styles/style.scss
Due: stylelint --syntax scss

updated deps
  package-lock.json
  package.json
  src/classes/class-assets.php
Due: composer run-script phpcs

fixed conflict with dynamically generated styles with custom breakpoints and cached CSS
  src/classes/class-breakpoints.php
Due: composer run-script phpcs

added Motion One script
  package-lock.json
  package.json
  src/classes/class-assets.php
  wpeg.config.js
Due: composer run-script phpcs

simplified EditorStyles component to use the `elementContext`
  src/gutenberg/components/editor-styles/index.js
Due: eslint

remove ScrollReveal and use Motion One instead
  package-lock.json
  package.json
  src/assets/js/main.js
  src/assets/vendor/scrollreveal-4-0-7/scrollreveal.es.js
  src/assets/vendor/scrollreveal-4-0-7/scrollreveal.js
  src/assets/vendor/scrollreveal-4-0-7/scrollreveal.min.js
  src/class-ghost-kit.php
  src/classes/class-assets.php
  src/gutenberg/extend/scroll-reveal/index.js
  src/gutenberg/extend/scroll-reveal/parseSRConfig.js
Due: composer run-script phpcs, eslint

deprecated Highlight text format, use core Highlight format instead
  src/gutenberg/formats/deprecated-mark/index.js
  src/gutenberg/formats/index.js
Due: eslint

Update index.js
  src/gutenberg/formats/index.js
Due: eslint

simplified Badge format editor code
  src/gutenberg/formats/badge/index.js
Due: eslint

improved color picker to use native UI
  src/gutenberg/blocks/button-single/edit.js
  src/gutenberg/blocks/counter-box/edit.js
  src/gutenberg/blocks/icon-box/edit.js
  src/gutenberg/blocks/progress/edit.js
  src/gutenberg/components/color-palette/index.js
  src/gutenberg/components/color-picker/editor.scss
  src/gutenberg/components/color-picker/index.js
  src/gutenberg/formats/badge/index.js
  src/gutenberg/store/base/components/selectors.js
Due: stylelint --syntax scss, eslint

simplified Badge Popover script
  src/gutenberg/formats/badge/badge-popover.js
  src/gutenberg/formats/badge/editor.scss
  src/gutenberg/formats/badge/index.js
Due: stylelint --syntax scss, eslint

changed BadgePopover export
  src/gutenberg/formats/badge/badge-popover.js
  src/gutenberg/formats/badge/index.js
Due: eslint

Update index.js
  src/gutenberg/components/color-picker/index.js
Due: eslint

changed jQuery animations to Motion
  src/assets/js/main.js
  src/classes/class-assets.php
  src/gutenberg/blocks/accordion/frontend.js
  src/gutenberg/blocks/alert/frontend.js
Due: composer run-script phpcs, eslint

better Motion global object usage
  src/assets/js/main.js
  src/gutenberg/blocks/accordion/frontend.js
  src/gutenberg/blocks/alert/frontend.js
  src/gutenberg/extend/scroll-reveal/index.js
Due: eslint

improved accordion heading styles
  src/gutenberg/blocks/accordion/styles/editor.scss
  src/gutenberg/blocks/accordion/styles/style.scss
  src/gutenberg/blocks/accordion/styles/variables.scss
Due: stylelint --syntax scss

removed deprecated getWnd method
  src/assets/js/main.js
Due: eslint

removed unused custom jQuery easing
  src/assets/js/main.js
Due: eslint

added Lottie block
  package-lock.json
  package.json
  src/class-ghost-kit.php
  src/classes/class-assets.php
  src/gutenberg/blocks/index.js
  src/gutenberg/blocks/lottie/block.json
  src/gutenberg/blocks/lottie/edit.js
  src/gutenberg/blocks/lottie/frontend.js
  src/gutenberg/blocks/lottie/index.js
  src/gutenberg/blocks/lottie/preview-lottie.js
  src/gutenberg/blocks/lottie/save.js
  src/gutenberg/blocks/lottie/styles/editor.scss
  src/gutenberg/blocks/lottie/styles/style.scss
  src/gutenberg/blocks/lottie/styles/variables.scss
  src/gutenberg/editor.scss
  src/gutenberg/icons/block-lottie.svg
  src/gutenberg/icons/index.js
  src/gutenberg/utils/block-editor-asset-loader.js
  wpeg.config.js
Due: composer run-script phpcs, stylelint --syntax scss, eslint

added Scroll trigger to Lottie Block
  src/gutenberg/blocks/lottie/edit.js
  src/gutenberg/blocks/lottie/frontend.js
  src/gutenberg/blocks/lottie/preview-lottie.js
  src/gutenberg/blocks/lottie/save.js
Due: eslint

added support for Reverse in Scroll trigger
  src/gutenberg/blocks/lottie/edit.js
  src/gutenberg/blocks/lottie/frontend.js
Due: eslint

renamed Grid → Advanced Columns
  src/gutenberg/blocks/form/frontend.js
  src/gutenberg/blocks/grid/block.json
  src/gutenberg/blocks/grid/edit.js
  src/readme.md
Due: eslint

Update readme.md
  src/readme.md
Due: none

Update class-ghost-kit.php
  src/class-ghost-kit.php
Due: composer run-script phpcs

removed usage of deprecated prop `unstableOnFocus`
  src/gutenberg/blocks/gif/edit.js
  src/gutenberg/blocks/image-compare/edit.js
  src/gutenberg/blocks/tabs-legacy/index.js
  src/gutenberg/blocks/tabs/edit.js
Due: eslint

added Hover option for Tabs block
  src/gutenberg/blocks/tabs/block.json
  src/gutenberg/blocks/tabs/edit.js
  src/gutenberg/blocks/tabs/frontend.js
  src/gutenberg/blocks/tabs/save.js
Due: eslint

improved ToggleControl component
  src/gutenberg/blocks/counter-box/edit.js
  src/gutenberg/blocks/form/edit.js
  src/gutenberg/blocks/grid-column/edit.js
  src/gutenberg/blocks/grid/edit.js
  src/gutenberg/blocks/icon-box/edit.js
  src/gutenberg/components/toggle-group/index.js
  src/gutenberg/extend/frame/index.js
  src/gutenberg/extend/scroll-reveal/index.js
Due: eslint

Templates menu item moved under Ghost Kit menu
  src/assets/images/admin-icon-templates.svg
  src/classes/class-templates.php
  src/settings/index.php
Due: composer run-script phpcs

changed scroll-reveal toolbar dropdown icons position
  src/gutenberg/extend/scroll-reveal/index.js
Due: eslint

added Lorem Ipsum format-command
  package-lock.json
  package.json
  src/gutenberg/formats/index.js
  src/gutenberg/formats/lorem-ipsum/get-lorem.js
  src/gutenberg/formats/lorem-ipsum/index.js
  src/gutenberg/formats/lorem-ipsum/latin.json
Due: eslint

Removed jquery in the image-compare
  src/gutenberg/blocks/image-compare/frontend.js
Due: eslint
