Repository nk-crew/ghostkit: changes, and which lint-staged commands are due for each by the changed paths.
All: composer run-script phpcs, stylelint, stylelint --syntax scss, eslint

.lintstagedrc:

{
    "src/**/*.php": "composer run-script phpcs",
    "src/**/*.css": "stylelint",
    "src/**/*.scss": "stylelint --syntax scss",
    "src/**/*.{js,jsx}": "eslint"
}

fixed grid selector buttons styles
  src/gutenberg/blocks/grid/edit.js
  src/gutenberg/blocks/grid/styles/editor.scss
Due: stylelint --syntax scss, eslint

fixed AWB background position inside Grid block
  src/gutenberg/blocks/grid/styles/style.scss
Due: stylelint --syntax scss

fixed AWB Install button in Editor
  src/gutenberg/blocks/grid/awb-fallback.js
Due: eslint

removed excess styles from grid preview button
  src/gutenberg/blocks/grid/styles/editor.scss
Due: stylelint --syntax scss

fixed buttons align in editor
  src/gutenberg/blocks/button/styles/editor.scss
Due: stylelint --syntax scss

fixed numbered styled lists
  src/gutenberg/style-variants/core-list/editor.scss
  src/gutenberg/style-variants/core-list/style.scss
  src/gutenberg/style-variants/core-list/variables.scss
Due: stylelint --syntax scss

changed border color in bordered blocks
  src/gutenberg/_css-variables.scss
  src/gutenberg/_variables.scss
  src/gutenberg/blocks/alert/styles/variables.scss
  src/gutenberg/blocks/counter-box/styles/variables.scss
  src/gutenberg/blocks/icon-box/styles/variables.scss
  src/gutenberg/blocks/pricing-table/styles/variables.scss
  src/gutenberg/blocks/tabs/styles/variables.scss
Due: stylelint --syntax scss

fixed grid column width in editor
  src/gutenberg/blocks/grid/styles/editor.scss
  src/gutenberg/blocks/grid/styles/style.scss
Due: stylelint --syntax scss

fixed awb styles in twenty themes
  src/gutenberg/blocks/grid/styles/style.scss
Due: stylelint --syntax scss

fixed 0px value in variables
  src/gutenberg/blocks/accordion/styles/variables.scss
  src/gutenberg/blocks/button/styles/variables.scss
  src/gutenberg/blocks/divider/styles/variables.scss
  src/gutenberg/blocks/grid/styles/editor.scss
  src/gutenberg/blocks/progress/styles/variables.scss
  src/gutenberg/blocks/twitter/styles/variables.scss
  src/gutenberg/style-variants/core-list/variables.scss
Due: stylelint --syntax scss

added Button block assets when used Form block
  src/gutenberg/blocks/form/block.php
Due: composer run-script phpcs

removed default list style from styled lists <li> tags
  src/gutenberg/style-variants/core-list/editor.scss
  src/gutenberg/style-variants/core-list/style.scss
Due: stylelint --syntax scss

fixed Tabs flashing tab border when activating
  src/gutenberg/blocks/tabs/styles/style.scss
Due: stylelint --syntax scss

improved nested styled lists styles
  src/classes/class-rest.php
  src/gutenberg/style-variants/core-list/editor.scss
  src/gutenberg/style-variants/core-list/style.scss
  src/gutenberg/style-variants/core-list/variables.scss
Due: composer run-script phpcs, stylelint --syntax scss

fixed color palette error, when palette is empty by default
  src/classes/class-color-palette.php
Due: composer run-script phpcs

v2.10.0
  package.json
  src/readme.md
Due: none

Update readme.md
  src/readme.md
Due: none

fixed Button block default hover color
  src/gutenberg/blocks/button/styles/variables.scss
Due: stylelint --syntax scss

v2.10.1
  package.json
  src/readme.md
Due: none

changed name of CSS variables with -x and -y in name to -v and -h
  src/gutenberg/blocks/accordion/styles/editor.scss
  src/gutenberg/blocks/accordion/styles/style.scss
  src/gutenberg/blocks/accordion/styles/variables.scss
  src/gutenberg/blocks/alert/styles/style.scss
  src/gutenberg/blocks/alert/styles/variables.scss
  src/gutenberg/blocks/button/styles/style.scss
  src/gutenberg/blocks/button/styles/variables.scss
  src/gutenberg/blocks/changelog/styles/style.scss
  src/gutenberg/blocks/changelog/styles/variables.scss
  src/gutenberg/blocks/countdown/styles/style.scss
  src/gutenberg/blocks/countdown/styles/variables.scss
  src/gutenberg/blocks/counter-box/styles/style.scss
  src/gutenberg/blocks/counter-box/styles/variables.scss
  src/gutenberg/blocks/divider/styles/style.scss
  src/gutenberg/blocks/divider/styles/variables.scss
  src/gutenberg/blocks/icon-box/styles/style.scss
  src/gutenberg/blocks/icon-box/styles/variables.scss
  src/gutenberg/blocks/pricing-table/styles/editor.scss
  src/gutenberg/blocks/pricing-table/styles/style.scss
  src/gutenberg/blocks/pricing-table/styles/variables.scss
  src/gutenberg/blocks/progress/styles/style.scss
  src/gutenberg/blocks/progress/styles/variables.scss
  src/gutenberg/blocks/tabs/styles/editor.scss
  src/gutenberg/blocks/tabs/styles/style.scss
  src/gutenberg/blocks/tabs/styles/variables.scss
  src/gutenberg/blocks/testimonial/styles/style.scss
  src/gutenberg/blocks/testimonial/styles/variables.scss
  src/gutenberg/blocks/twitter/styles/style.scss
  src/gutenberg/blocks/twitter/styles/variables.scss
  src/gutenberg/formats/badge/style.scss
  src/gutenberg/formats/badge/variables.scss
  src/gutenberg/style-variants/core-list/editor.scss
  src/gutenberg/style-variants/core-list/style.scss
  src/gutenberg/style-variants/core-list/variables.scss
Due: stylelint --syntax scss

v2.10.2
  package.json
  src/readme.md
Due: none

simplefied blocks CSS selectors
  src/gutenberg/_css-variables.scss
  src/gutenberg/blocks/accordion/styles/editor.scss
  src/gutenberg/blocks/accordion/styles/style.scss
  src/gutenberg/blocks/alert/styles/style.scss
  src/gutenberg/blocks/button/styles/editor.scss
  src/gutenberg/blocks/button/styles/style.scss
  src/gutenberg/blocks/carousel/styles/style.scss
  src/gutenberg/blocks/changelog/styles/editor.scss
  src/gutenberg/blocks/changelog/styles/style.scss
  src/gutenberg/blocks/countdown/styles/editor.scss
  src/gutenberg/blocks/countdown/styles/style.scss
  src/gutenberg/blocks/counter-box/styles/style.scss
  src/gutenberg/blocks/divider/styles/style.scss
  src/gutenberg/blocks/form/styles/editor.scss
  src/gutenberg/blocks/form/styles/style.scss
  src/gutenberg/blocks/grid/styles/editor.scss
  src/gutenberg/blocks/grid/styles/style.scss
  src/gutenberg/blocks/icon-box/styles/style.scss
  src/gutenberg/blocks/instagram/styles/editor.scss
  src/gutenberg/blocks/instagram/styles/style.scss
  src/gutenberg/blocks/pricing-table/styles/editor.scss
  src/gutenberg/blocks/pricing-table/styles/style.scss
  src/gutenberg/blocks/progress/styles/style.scss
  src/gutenberg/blocks/shape-divider/styles/style.scss
  src/gutenberg/blocks/tabs/styles/editor.scss
  src/gutenberg/blocks/tabs/styles/pills.scss
  src/gutenberg/blocks/tabs/styles/style.scss
  src/gutenberg/blocks/testimonial/styles/editor.scss
  src/gutenberg/blocks/testimonial/styles/style.scss
  src/gutenberg/blocks/twitter/styles/editor.scss
  src/gutenberg/blocks/twitter/styles/style.scss
  src/gutenberg/blocks/video/styles/style.scss
  src/gutenberg/style.scss
Due: stylelint --syntax scss

removed hard-coded box-shadow css from buttons, added css variable
  src/gutenberg/blocks/button/styles/style.scss
  src/gutenberg/blocks/button/styles/variables.scss
Due: stylelint --syntax scss

improved date picker in Countdown block
  src/class-ghost-kit.php
  src/gutenberg/blocks/countdown/edit.js
  src/gutenberg/components/date-time-picker/editor.scss
  src/gutenberg/components/date-time-picker/index.js
  src/gutenberg/editor.scss
Due: composer run-script phpcs, stylelint --syntax scss, eslint

change icon picker output control to Textarea
  src/gutenberg/components/icon-picker/editor.scss
  src/gutenberg/components/icon-picker/index.js
Due: stylelint --syntax scss, eslint

fixed empty custom styles
  src/gutenberg/extend/styles/get-styles.js
  src/gutenberg/extend/styles/get-styles.php
Due: composer run-script phpcs, eslint

removed all defaults from blocks (use CSS variables instead) (resolves #26)
  src/gutenberg/blocks/alert/block.json
  src/gutenberg/blocks/alert/deprecated.js
  src/gutenberg/blocks/alert/index.js
  src/gutenberg/blocks/alert/styles/variables.scss
  src/gutenberg/blocks/button-single/block.json
  src/gutenberg/blocks/button-single/deprecated.js
  src/gutenberg/blocks/button-single/index.js
  src/gutenberg/blocks/button/styles/variables.scss
  src/gutenberg/blocks/countdown/block.json
  src/gutenberg/blocks/countdown/deprecated.js
  src/gutenberg/blocks/countdown/index.js
  src/gutenberg/blocks/countdown/styles/variables.scss
  src/gutenberg/blocks/counter-box/block.json
  src/gutenberg/blocks/counter-box/deprecated.js
  src/gutenberg/blocks/counter-box/index.js
  src/gutenberg/blocks/counter-box/styles/variables.scss
  src/gutenberg/blocks/divider/block.json
  src/gutenberg/blocks/divider/deprecated.js
  src/gutenberg/blocks/divider/index.js
  src/gutenberg/blocks/divider/styles/variables.scss
  src/gutenberg/blocks/icon-box/block.json
  src/gutenberg/blocks/icon-box/deprecated.js
  src/gutenberg/blocks/icon-box/index.js
  src/gutenberg/blocks/icon-box/styles/variables.scss
  src/gutenberg/blocks/pricing-table/styles/variables.scss
  src/gutenberg/blocks/progress/block.json
  src/gutenberg/blocks/progress/deprecated.js
  src/gutenberg/blocks/progress/edit.js
  src/gutenberg/blocks/progress/index.js
  src/gutenberg/blocks/progress/styles/variables.scss
  src/gutenberg/blocks/shape-divider/block.json
  src/gutenberg/blocks/shape-divider/deprecated.js
  src/gutenberg/blocks/shape-divider/edit.js
  src/gutenberg/blocks/shape-divider/index.js
  src/gutenberg/blocks/shape-divider/styles/style.scss
  src/gutenberg/blocks/shape-divider/styles/variables.scss
  src/gutenberg/blocks/video/block.json
  src/gutenberg/blocks/video/deprecated.js
Due: stylelint --syntax scss, eslint

fixed pricing table badge top margin
  src/gutenberg/blocks/pricing-table/styles/style.scss
Due: stylelint --syntax scss

fixed php notice - Trying to access array offset on value of type bool
  src/classes/class-assets.php
Due: composer run-script phpcs

changed styles loading priority (custom css load after themes main styles)
  src/classes/class-assets.php
  src/gutenberg/components/editor-styles/index.js
  src/gutenberg/extend/styles/index.js
Due: composer run-script phpcs, eslint

removed default box shadow size in Button block
  src/gutenberg/blocks/button-single/block.json
Due: none

changed Grid Column Sticky option to use class with css variable
  src/gutenberg/blocks/grid-column/block.json
  src/gutenberg/blocks/grid-column/deprecated.js
  src/gutenberg/blocks/grid-column/edit.js
  src/gutenberg/blocks/grid-column/get-col-class.js
  src/gutenberg/blocks/grid-column/index.js
  src/gutenberg/blocks/grid/styles/editor.scss
  src/gutenberg/blocks/grid/styles/style.scss
  src/gutenberg/blocks/grid/styles/variables.scss
Due: stylelint --syntax scss, eslint

fixed Tabs and Accordion items hash parse with Japanese/Chinese/... characters (issue #97)
  src/gutenberg/blocks/accordion/frontend.js
  src/gutenberg/blocks/tabs/frontend.js
Due: eslint

v2.11.0
  package.json
  src/readme.md
Due: none

fixed typo
  src/readme.md
Due: none

fixed Templates modal images lazy loading when switch categories
  src/gutenberg/plugins/templates/index.js
Due: eslint

fixed missing formatting buttons inside some blocks (accordion heading, button, tabs, etc...)
  src/gutenberg/blocks/accordion-item/edit.js
  src/gutenberg/blocks/button-single/edit.js
  src/gutenberg/blocks/counter-box/edit.js
  src/gutenberg/blocks/pricing-table-item/edit.js
  src/gutenberg/blocks/tabs-legacy/index.js
  src/gutenberg/blocks/tabs/edit.js
Due: eslint

additional Ghost Kit icons
  src/classes/class-icons.php
Due: composer run-script phpcs

added custom style for core/lists blocks with custom SVG icons support (resolves #78)
  src/gutenberg/style-variants/core-list/editor.scss
  src/gutenberg/style-variants/core-list/index.js
  src/gutenberg/style-variants/core-list/style.scss
  src/gutenberg/style-variants/core-list/variables.scss
Due: stylelint --syntax scss, eslint

better offsets for styled lists
  src/gutenberg/style-variants/core-list/editor.scss
  src/gutenberg/style-variants/core-list/style.scss
Due: stylelint --syntax scss
