Repository nk-crew/ghostkit: changes, and which lint-staged commands are due for each by the changed paths.
All: composer run-script phpcs, stylelint, stylelint --syntax scss, eslint

.lintstagedrc:

{
    "src/**/*.php": "composer run-script phpcs",
    "src/**/*.css": "stylelint",
    "src/**/*.scss": "stylelint --syntax scss",
    "src/**/*.{js,jsx}": "eslint"
}

removed fixes for xml symbols bug
  src/gutenberg/blocks/testimonial/deprecated.js
  src/gutenberg/blocks/testimonial/save.js
  src/gutenberg/blocks/video/save.js
  src/gutenberg/extend/styles/get-styles.js
  src/gutenberg/extend/styles/get-styles.php
  src/gutenberg/store/base/utils/selectors.js
  src/gutenberg/utils/fix-xml-imported-content/index.js
Due: composer run-script phpcs, eslint

added support for excerpt in some blocks (resolves #100)
  src/class-ghost-kit.php
Due: composer run-script phpcs

fixed block assets loading when block used in new block widgets screen
  src/classes/class-parse-blocks.php
Due: composer run-script phpcs

changed minimum PHP to 7.2
  src/readme.md
Due: none

v2.20.0
  package.json
  src/readme.md
Due: none

fixed icon list empty icon rendering
  src/gutenberg/style-variants/core-list/index.js
Due: eslint

v2.20.1
  package.json
  src/readme.md
Due: none

fixed custom CSS compiler error (used unsupported math.div module) (resolves #140)
  src/classes/class-scss-compiler.php
Due: composer run-script phpcs

fixed TOC block scroll to anchor JS error when using Chinese headings (resolves #135)
  src/gutenberg/blocks/table-of-contents/frontend.js
Due: eslint

added option "Pause autoplay on mouse over" to carousel block (resolves #124)
  src/gutenberg/blocks/carousel/block.json
  src/gutenberg/blocks/carousel/edit.js
  src/gutenberg/blocks/carousel/frontend.js
  src/gutenberg/blocks/carousel/save.js
Due: eslint

v2.20.2
  package.json
  src/readme.md
Due: none

prevent crashing block with Custom CSS
  src/gutenberg/blocks/accordion/frontend.js
  src/gutenberg/blocks/google-maps/edit.js
  src/gutenberg/blocks/shape-divider/edit.js
  src/gutenberg/blocks/shape-divider/save.js
  src/gutenberg/blocks/table-of-contents/frontend.js
  src/gutenberg/blocks/tabs/frontend.js
  src/gutenberg/blocks/testimonial/deprecated.js
  src/gutenberg/blocks/testimonial/edit.js
  src/gutenberg/blocks/testimonial/save.js
  src/gutenberg/components/icon-picker/index.js
  src/gutenberg/extend/custom-css/index.js
  src/gutenberg/extend/styles/index.js
  src/gutenberg/utils/decode-uri/index.js
  src/gutenberg/utils/encode-uri/index.js
Due: eslint

Update package-lock.json
  package-lock.json
Due: none

added utm tags to links
  src/class-ghost-kit.php
  src/gutenberg/blocks/shape-divider/edit.js
  src/gutenberg/components/typography/index.js
  src/readme.md
  src/settings/containers/container.js
  src/settings/index.php
  src/settings/pages/breakpoints.js
  src/settings/pages/fonts.js
Due: composer run-script phpcs, eslint

v2.20.3
  package.json
  src/readme.md
Due: none

fixed XML export problem when block styles use `--` characters
  package-lock.json
  package.json
  src/class-ghost-kit.php
  src/gutenberg/blocks/accordion/frontend.js
  src/gutenberg/blocks/google-maps/edit.js
  src/gutenberg/blocks/shape-divider/edit.js
  src/gutenberg/blocks/shape-divider/save.js
  src/gutenberg/blocks/table-of-contents/frontend.js
  src/gutenberg/blocks/tabs/frontend.js
  src/gutenberg/blocks/testimonial/deprecated.js
  src/gutenberg/blocks/testimonial/edit.js
  src/gutenberg/blocks/testimonial/save.js
  src/gutenberg/components/icon-picker/index.js
  src/gutenberg/extend/custom-css/get-custom-css.php
  src/gutenberg/extend/custom-css/index.js
  src/gutenberg/extend/styles/get-styles.php
  src/gutenberg/extend/styles/index.js
  src/gutenberg/utils/decode-uri/index.js
  src/gutenberg/utils/encode-decode/index.js
  src/gutenberg/utils/encode-decode/index.php
  src/gutenberg/utils/encode-uri/index.js
Due: composer run-script phpcs, eslint

changed default block icons (encoded)
  src/gutenberg/blocks/alert/block.json
  src/gutenberg/blocks/carousel/block.json
  src/gutenberg/blocks/icon-box/block.json
  src/gutenberg/blocks/testimonial/block.json
  src/gutenberg/blocks/video/block.json
  wpeg.config.js
Due: none

fixed encode/decode functions fails when no string given
  src/gutenberg/utils/encode-decode/index.js
  src/gutenberg/utils/encode-decode/index.php
Due: composer run-script phpcs, eslint

removed support for deprecated blocks older than Ghost Kit v2.12
  src/gutenberg/blocks/accordion-item/deprecated.js
  src/gutenberg/blocks/alert/deprecated.js
  src/gutenberg/blocks/button-single/deprecated.js
  src/gutenberg/blocks/button-single/index.js
  src/gutenberg/blocks/button/deprecated.js
  src/gutenberg/blocks/button/index.js
  src/gutenberg/blocks/carousel/deprecated.js
  src/gutenberg/blocks/carousel/index.js
  src/gutenberg/blocks/countdown/deprecated.js
  src/gutenberg/blocks/countdown/index.js
  src/gutenberg/blocks/counter-box/deprecated.js
  src/gutenberg/blocks/counter-box/index.js
  src/gutenberg/blocks/divider/deprecated.js
  src/gutenberg/blocks/divider/index.js
  src/gutenberg/blocks/google-maps/deprecated.js
  src/gutenberg/blocks/google-maps/index.js
  src/gutenberg/blocks/grid-column/deprecated.js
  src/gutenberg/blocks/grid-column/index.js
  src/gutenberg/blocks/grid/deprecated.js
  src/gutenberg/blocks/grid/index.js
  src/gutenberg/blocks/icon-box/deprecated.js
  src/gutenberg/blocks/icon-box/index.js
  src/gutenberg/blocks/pricing-table/deprecated.js
  src/gutenberg/blocks/pricing-table/index.js
  src/gutenberg/blocks/progress/deprecated.js
  src/gutenberg/blocks/shape-divider/deprecated.js
  src/gutenberg/blocks/shape-divider/index.js
  src/gutenberg/blocks/testimonial/deprecated.js
  src/gutenberg/blocks/testimonial/index.js
  src/gutenberg/blocks/video/deprecated.js
Due: eslint

fixed usage of image tag in Video and Testimonial block (no more tag string in the attribute)
  src/gutenberg/blocks/testimonial/block.json
  src/gutenberg/blocks/testimonial/deprecated.js
  src/gutenberg/blocks/testimonial/edit.js
  src/gutenberg/blocks/testimonial/index.js
  src/gutenberg/blocks/testimonial/save.js
  src/gutenberg/blocks/video/block.json
  src/gutenberg/blocks/video/deprecated.js
  src/gutenberg/blocks/video/edit.js
  src/gutenberg/blocks/video/index.js
  src/gutenberg/blocks/video/save.js
Due: eslint

removed poster images from the Video block with "Icon Only" style selected
  src/gutenberg/blocks/video/edit.js
  src/gutenberg/blocks/video/save.js
Due: eslint

changed video block default play icon
  src/gutenberg/blocks/video/block.json
Due: none

fixed displaying poster settings in video block when changed style
  src/gutenberg/blocks/video/edit.js
Due: eslint

added possibility to remove image in Image Compare block
  src/gutenberg/blocks/image-compare/edit.js
Due: eslint

added possibility to change Alt text in the Testimonial photo and Video poster
  src/gutenberg/blocks/testimonial/edit.js
  src/gutenberg/blocks/video/edit.js
Due: eslint

better images panel displaying in Image Compare settings
  src/gutenberg/blocks/image-compare/edit.js
Due: eslint

included missed deprecated params to Testimonial block
  src/gutenberg/blocks/testimonial/edit.js
  src/gutenberg/blocks/testimonial/index.js
Due: eslint

added encodes for Google Maps styles and AWB background images
  src/gutenberg/blocks/google-maps/edit.js
  src/gutenberg/blocks/google-maps/save.js
  src/gutenberg/blocks/grid/awb-fallback.js
Due: eslint

v2.21.0
  package.json
  src/readme.md
Due: none

fixed mail send headers
  src/gutenberg/blocks/form/block.php
Due: composer run-script phpcs

fixed modal component position in WP 5.9 (resolves #142)
  src/gutenberg/components/modal/editor.scss
Due: stylelint --syntax scss

fixed multiple select control styles
  src/assets/admin/css/admin.scss
Due: stylelint --syntax scss

fixed color picker styles
  src/gutenberg/components/color-picker/editor.scss
  src/gutenberg/components/color-picker/index.js
Due: stylelint --syntax scss, eslint

changed simple git hooks to husky
  .husky/pre-commit
  .simple-git-hooks.js
  package-lock.json
  package.json
Due: none

added prettier
  .editorconfig
  .prettierignore
  .prettierrc.js
  .stylelintignore
  .stylelintrc
  .stylelintrc.js
  .vscode/extensions.json
  .vscode/settings.json
  babel.config.js
  lint-staged.config.js
  package-lock.json
  package.json
  webpack.config.js
  wpeg.config.js
Due: none

removed duplicated @use from some scss
  src/gutenberg/blocks/grid/styles/editor.scss
  src/gutenberg/blocks/grid/styles/style.scss
Due: stylelint --syntax scss

moved multiple select fix styles to editor.scss
  src/assets/admin/css/admin.scss
  src/gutenberg/editor.scss
Due: stylelint --syntax scss

added possibility to remove link in URLPicker component
  src/gutenberg/components/url-picker/editor.scss
  src/gutenberg/components/url-picker/index.js
Due: stylelint --syntax scss, eslint

added ColorIndicator component
  src/gutenberg/blocks/alert/edit.js
  src/gutenberg/blocks/button-single/edit.js
  src/gutenberg/blocks/counter-box/edit.js
  src/gutenberg/blocks/divider/edit.js
  src/gutenberg/blocks/icon-box/edit.js
  src/gutenberg/blocks/progress/edit.js
  src/gutenberg/components/color-indicator/editor.scss
  src/gutenberg/components/color-indicator/index.js
  src/gutenberg/editor.scss
Due: stylelint --syntax scss, eslint
