Repository nk-crew/ghostkit: changes, and which lint-staged commands are due for each by the changed paths.
All: composer run-script phpcs, stylelint, stylelint --syntax scss, eslint

.lintstagedrc:

{
    "src/**/*.php": "composer run-script phpcs",
    "src/**/*.css": "stylelint",
    "src/**/*.scss": "stylelint --syntax scss",
    "src/**/*.{js,jsx}": "eslint"
}

fixed some issues
  src/assets/js/fonts-loader.js
  src/assets/js/helper.js
  src/class-ghost-kit.php
  src/classes/class-fonts.php
  src/gutenberg/components/typography/editor.scss
  src/gutenberg/components/typography/index.jsx
  src/gutenberg/plugins/typography/index.jsx
  src/settings/pages/fonts.jsx
Due: composer run-script phpcs, stylelint --syntax scss, eslint

fixed fontWeight condition from typography component
  src/gutenberg/components/typography/index.jsx
Due: eslint

refactoring
  src/gutenberg/components/typography/index.jsx
  src/gutenberg/icons/icon-pro-badge.svg
  src/gutenberg/icons/index.jsx
  src/gutenberg/plugins/typography/index.jsx
Due: eslint

fixed select component height
  src/gutenberg/components/select/editor.scss
Due: stylelint --syntax scss

changed Fonts settings order
  src/settings/index.php
  src/settings/pages/index.jsx
Due: composer run-script phpcs, eslint

improved Adobe Fonts integration UI
  src/gutenberg/components/typography/editor.scss
  src/gutenberg/components/typography/index.jsx
  src/settings/pages/fonts.jsx
Due: stylelint --syntax scss, eslint

PHPCS/Composer: update PHPCS related dependencies
  .gitignore
  composer.json
  composer.lock
  package.json
  phpcs.xml.dist
  phpcs_nk/ruleset.xml
  src/classes/class-fonts.php
  src/classes/class-icons.php
  src/readme.md
Due: composer run-script phpcs

fixed instagram image alt attribute (resolves #81)
  src/gutenberg/blocks/instagram/block.php
Due: composer run-script phpcs

fixed phpcs warnings (issue #82)
  phpcs.xml.dist
  src/class-ghost-kit.php
  src/classes/class-rest.php
  src/classes/class-reusable-widget.php
  src/classes/class-templates.php
  src/classes/class-typography.php
  src/gutenberg/blocks/instagram/block.php
  src/gutenberg/blocks/table-of-contents/block.php
  src/gutenberg/blocks/twitter/block.php
  src/gutenberg/blocks/widgetized-area/block.php
  src/gutenberg/extend/styles/get-styles.php
  src/gutenberg/plugins/custom-code/index.php
  src/gutenberg/plugins/customizer/index.php
  src/gutenberg/plugins/typography/index.php
  src/settings/index.php
Due: composer run-script phpcs

fixed font family reset button also resets font category
  src/gutenberg/components/typography/index.jsx
Due: eslint

added possibility to activate Tabs and Accordions on hash change
  src/assets/js/script.js
Due: eslint

fixed slugify and special characters replacement (fixes non-working links in TOC block)
  src/gutenberg/extend/toc-headings/index.jsx
  src/gutenberg/utils/get-unique-slug/index.jsx
Due: eslint

fixed slugify dashes (resolves TOC scroll js error)
  src/gutenberg/extend/toc-headings/index.jsx
  src/gutenberg/utils/get-unique-slug/index.jsx
Due: eslint

improved TOC block reload after headings change (no jumping in the editor anymore)
  src/gutenberg/blocks/table-of-contents/edit.jsx
  src/gutenberg/blocks/table-of-contents/editor.scss
Due: stylelint --syntax scss, eslint

removed spacings extension notice in inspector
  src/gutenberg/extend/spacings/index.jsx
Due: eslint

Update extension-spacings.svg
  src/gutenberg/icons/extension-spacings.svg
Due: none

added Wide tabs component for state and responsive tabs (better ui)
  src/assets/admin/css/style.scss
  src/gutenberg/blocks/alert/edit.jsx
  src/gutenberg/blocks/button-single/edit.jsx
  src/gutenberg/blocks/button/edit.jsx
  src/gutenberg/blocks/counter-box/edit.jsx
  src/gutenberg/blocks/divider/edit.jsx
  src/gutenberg/blocks/grid/awb-fallback.jsx
  src/gutenberg/blocks/grid/edit.jsx
  src/gutenberg/blocks/icon-box/edit.jsx
  src/gutenberg/blocks/instagram/edit.jsx
  src/gutenberg/blocks/pricing-table/edit.jsx
  src/gutenberg/blocks/progress/edit.jsx
  src/gutenberg/blocks/video/edit.jsx
  src/gutenberg/components/icon-picker/editor.scss
  src/gutenberg/components/image-picker/editor.scss
  src/gutenberg/components/responsive-tab-panel/index.jsx
  src/gutenberg/extend/display/index.jsx
  src/gutenberg/extend/scroll-reveal/editor.scss
  src/gutenberg/extend/scroll-reveal/index.jsx
  src/gutenberg/plugins/ghostkit/editor.scss
  src/gutenberg/plugins/templates/editor.scss
Due: stylelint --syntax scss, eslint

added frame extension (border, shadow, radius)
  src/gutenberg/blocks/accordion-item/index.jsx
  src/gutenberg/blocks/accordion/index.jsx
  src/gutenberg/blocks/alert/index.jsx
  src/gutenberg/blocks/carousel-slide/index.jsx
  src/gutenberg/blocks/carousel/index.jsx
  src/gutenberg/blocks/changelog/index.jsx
  src/gutenberg/blocks/countdown/index.jsx
  src/gutenberg/blocks/counter-box/index.jsx
  src/gutenberg/blocks/gist/index.jsx
  src/gutenberg/blocks/google-maps/index.jsx
  src/gutenberg/blocks/grid-column/index.jsx
  src/gutenberg/blocks/grid/index.jsx
  src/gutenberg/blocks/icon-box/index.jsx
  src/gutenberg/blocks/instagram/index.jsx
  src/gutenberg/blocks/pricing-table-item/index.jsx
  src/gutenberg/blocks/pricing-table/index.jsx
  src/gutenberg/blocks/table-of-contents/index.jsx
  src/gutenberg/blocks/twitter/index.jsx
  src/gutenberg/blocks/video/index.jsx
  src/gutenberg/components/color-picker/index.jsx
  src/gutenberg/components/input-drag/index.jsx
  src/gutenberg/extend/frame/editor.scss
  src/gutenberg/extend/frame/index.jsx
  src/gutenberg/extend/frame/style.scss
  src/gutenberg/extend/index.jsx
  src/gutenberg/icons/extension-frame.svg
  src/gutenberg/icons/index.jsx
  src/gutenberg/style.scss
Due: stylelint --syntax scss, eslint

fixed grid columns gap styles in editor
  src/gutenberg/blocks/grid/editor.scss
Due: stylelint --syntax scss

improved grid styles in editor
  src/gutenberg/blocks/grid/editor.scss
Due: stylelint --syntax scss

fixed button block margins in editor
  src/gutenberg/blocks/button/editor.scss
  src/gutenberg/blocks/button/style.scss
Due: stylelint --syntax scss

added Shape Divider block
  src/assets/js/helper.js
  src/class-ghost-kit.php
  src/classes/class-shapes.php
  src/gutenberg/blocks/index.jsx
  src/gutenberg/blocks/shape-divider/block.json
  src/gutenberg/blocks/shape-divider/edit.jsx
  src/gutenberg/blocks/shape-divider/editor.scss
  src/gutenberg/blocks/shape-divider/index.jsx
  src/gutenberg/blocks/shape-divider/save.jsx
  src/gutenberg/blocks/shape-divider/style.scss
  src/gutenberg/components/image-picker/editor.scss
  src/gutenberg/components/image-picker/index.jsx
  src/gutenberg/components/pro-note/editor.scss
  src/gutenberg/components/pro-note/index.jsx
  src/gutenberg/icons/block-shape-divider.svg
  src/gutenberg/icons/icon-flip-horizontal.svg
  src/gutenberg/icons/icon-flip-vertical.svg
  src/gutenberg/icons/index.jsx
  src/gutenberg/shapes/arrow-curve.svg
  src/gutenberg/shapes/arrow.svg
  src/gutenberg/shapes/ellipse.svg
  src/gutenberg/shapes/ellipses.svg
  src/gutenberg/shapes/tilt.svg
  src/gutenberg/shapes/tilts.svg
  src/gutenberg/shapes/triangle-asymmetrical.svg
  src/gutenberg/shapes/triangle.svg
  src/gutenberg/shapes/triangles-asymmetrical.svg
  src/gutenberg/shapes/triangles.svg
  src/gutenberg/shapes/wave.svg
  src/gutenberg/shapes/waves.svg
  src/gutenberg/style.scss
  src/readme.md
Due: composer run-script phpcs, stylelint --syntax scss, eslint

fixed alignfull grid background margins
  src/gutenberg/blocks/grid/style.scss
Due: stylelint --syntax scss

fixed Display extension not adding classname
  src/gutenberg/extend/display/index.jsx
Due: eslint

changed shape divider pro link
  src/gutenberg/blocks/shape-divider/edit.jsx
Due: eslint

added getSlug function in utils and use it in TOC
  src/gutenberg/extend/toc-headings/index.jsx
  src/gutenberg/utils/get-unique-slug/index.jsx
Due: eslint

added hint, colorPalette and afterDropdownContent options for color picker component
  src/gutenberg/components/color-picker/index.jsx
Due: eslint

added Color Palette plugin
  src/class-ghost-kit.php
  src/classes/class-color-palette.php
  src/classes/class-rest.php
  src/gutenberg/icons/index.jsx
  src/gutenberg/icons/plugin-color-palette.svg
  src/gutenberg/plugins/color-palette/editor.scss
  src/gutenberg/plugins/color-palette/index.jsx
  src/gutenberg/plugins/color-palette/index.php
  src/gutenberg/plugins/ghostkit/index.jsx
  src/gutenberg/plugins/index.jsx
Due: composer run-script phpcs, stylelint --syntax scss, eslint

fixed Gutenberg 7.2 styles in editor (resolves #86)
  src/gutenberg/blocks/alert/editor.scss
  src/gutenberg/blocks/button/editor.scss
  src/gutenberg/blocks/carousel/editor.scss
  src/gutenberg/blocks/counter-box/editor.scss
  src/gutenberg/blocks/grid-column/index.jsx
  src/gutenberg/blocks/grid/editor.scss
  src/gutenberg/blocks/icon-box/editor.scss
  src/gutenberg/blocks/pricing-table/editor.scss
  src/gutenberg/blocks/shape-divider/editor.scss
  src/gutenberg/blocks/tabs/edit.jsx
  src/gutenberg/blocks/tabs/editor.scss
Due: stylelint --syntax scss, eslint

fixed shapes dividers top margin in editor
  src/gutenberg/blocks/shape-divider/editor.scss
Due: stylelint --syntax scss

added visual styles in editor for hidden blocks that used Display extension
  src/gutenberg/extend/display/editor.scss
  src/gutenberg/extend/display/index.jsx
  src/gutenberg/extend/display/style.scss
  src/gutenberg/style.scss
Due: stylelint --syntax scss, eslint

better styles import structure for scroll reveal extension
  src/gutenberg/extend/scroll-reveal/editor.scss
  src/gutenberg/extend/scroll-reveal/index.jsx
  src/gutenberg/extend/scroll-reveal/style.scss
  src/gutenberg/style.scss
Due: stylelint --syntax scss, eslint

removed help text from Display extension controls
  src/gutenberg/extend/display/index.jsx
Due: eslint

removed deep-assign deps, use _.merge instead
  package.json
  src/gutenberg/blocks/divider/index.jsx
  src/gutenberg/blocks/progress/deprecated.jsx
  src/gutenberg/blocks/progress/index.jsx
  src/gutenberg/extend/frame/index.jsx
  src/gutenberg/extend/spacings/index.jsx
  src/gutenberg/store/plugins/custom-code/reducer.jsx
  src/gutenberg/store/plugins/typography/reducer.jsx
  src/settings/pages/blocks.jsx
  src/settings/pages/icons.jsx
Due: eslint

v2.8.0
  package.json
  src/readme.md
Due: none

Update readme.md
  src/readme.md
Due: none

fixed namespace for grid background filter
  src/gutenberg/blocks/grid/awb-fallback.jsx
Due: eslint

excluded vendor folders in phpcs
  phpcs.xml.dist
Due: none

added text domain to countdown api
  src/gutenberg/blocks/countdown/api.jsx
Due: eslint
