Repository nk-crew/ghostkit: changes, and which lint-staged commands are due for each by the changed paths.
All: composer run-script phpcs, stylelint, stylelint --syntax scss, eslint

.lintstagedrc:

{
    "src/**/*.php": "composer run-script phpcs",
    "src/**/*.css": "stylelint",
    "src/**/*.scss": "stylelint --syntax scss",
    "src/**/*.{js,jsx}": "eslint"
}

added fallbacks for old jQuery events
  src/assets/js/event-fallbacks.js
  src/assets/js/helper.js
  src/assets/js/main.js
  src/classes/class-assets.php
  src/gutenberg/blocks/google-maps/frontend.js
Due: composer run-script phpcs, eslint

remove isMobile from class
  src/assets/js/main.js
Due: eslint

remove main class
  src/assets/js/event-fallbacks.js
  src/assets/js/main.js
  src/classes/class-assets.php
  src/gutenberg/extend/animation/frontend.js
  src/gutenberg/style-variants/core-list/frontend.js
  wpeg.config.js
Due: composer run-script phpcs, eslint

removed Variants feature, use native Gutenberg Styles instead
  src/assets/js/helper.js
  src/classes/class-assets.php
  src/gutenberg/extend/index.js
  src/gutenberg/extend/variants/index.js
Due: composer run-script phpcs, eslint

removed some deprecated blocks migrations (prior to v2.20)
  src/gutenberg/blocks/accordion-item/deprecated.js
  src/gutenberg/blocks/alert/deprecated.js
  src/gutenberg/blocks/alert/index.js
  src/gutenberg/blocks/image-compare/deprecated.js
  src/gutenberg/blocks/image-compare/index.js
  src/gutenberg/blocks/progress/deprecated.js
  src/gutenberg/blocks/progress/index.js
  src/gutenberg/blocks/testimonial/deprecated.js
  src/gutenberg/blocks/video/deprecated.js
  src/gutenberg/blocks/video/index.js
Due: eslint

Update package-lock.json
  package-lock.json
Due: none

changed RichText in some blocks to inline
  src/gutenberg/blocks/changelog/edit.js
  src/gutenberg/blocks/counter-box/edit.js
  src/gutenberg/blocks/form/field-description/index.js
  src/gutenberg/blocks/form/field-label/index.js
  src/gutenberg/blocks/form/fields/email/edit.js
  src/gutenberg/blocks/form/fields/name/edit.js
  src/gutenberg/blocks/gif/edit.js
  src/gutenberg/blocks/image-compare/edit.js
  src/gutenberg/blocks/pricing-table-item/edit.js
  src/gutenberg/blocks/progress/edit.js
  src/gutenberg/blocks/table-of-contents/edit.js
  src/gutenberg/blocks/testimonial/edit.js
Due: eslint

position extension moved to Styles inspector group
  src/gutenberg/extend/position/index.js
Due: eslint

added notice component styles
  src/gutenberg/editor.scss
Due: stylelint --syntax scss

fixed styled lists reversed and start attributes rendering in editor
  src/gutenberg/style-variants/core-list/index.js
Due: eslint

added support for multiple event names per call in our EventHandler api
  src/assets/js/utils/event-handler.js
Due: eslint

changed google maps markers data set configuring
  src/gutenberg/blocks/google-maps/frontend.js
Due: eslint

tested up to 6.3
  src/readme.md
Due: none

hide Reusable Blocks from Admin Menu since WP v6.3
  src/settings/index.php
Due: composer run-script phpcs

Create FUNDING.yml
  .github/FUNDING.yml
Due: none

rename Image Size attributes to Resolution
  src/gutenberg/blocks/image-compare/edit.js
  src/gutenberg/blocks/testimonial/edit.js
  src/gutenberg/blocks/video/edit.js
Due: eslint

add lodash вузы to editor script
  src/class-ghost-kit.php
Due: composer run-script phpcs

fixed block error when change zIndex control to empty
  src/gutenberg/extend/position/index.js
Due: eslint

Added setting fade edges
  src/gutenberg/blocks/carousel/block.json
  src/gutenberg/blocks/carousel/edit.js
  src/gutenberg/blocks/carousel/save.js
  src/gutenberg/blocks/carousel/styles/editor.scss
  src/gutenberg/blocks/carousel/styles/style.scss
Due: stylelint --syntax scss, eslint

Rewrote the class into a function
  src/gutenberg/blocks/carousel/edit.js
Due: eslint

Rewrote the class into a function
  src/gutenberg/blocks/carousel/save.js
Due: eslint

fixed RemoveButton component Remove link color (issue #172)
  src/gutenberg/components/remove-button/editor.scss
Due: stylelint --syntax scss

Streamlined the settings
  src/gutenberg/blocks/carousel/edit.js
Due: eslint

fixed position extension possibility to reset zIndex value
  src/gutenberg/extend/position/index.js
Due: eslint

fixed adding pixels in styles to z-index property
  src/gutenberg/extend/styles/get-styles.js
  src/gutenberg/extend/styles/get-styles.php
Due: composer run-script phpcs, eslint

slightly improved carousel code
  src/gutenberg/blocks/carousel/edit.js
Due: eslint

Update FUNDING.yml
  .github/FUNDING.yml
Due: none

fixed infinite loop of Widgetized Area block if sidebar nested himself
  src/gutenberg/blocks/widgetized-area/block.php
Due: composer run-script phpcs

Fixed horizontal icons between and around
  src/gutenberg/icons/icon-horizontal-around.svg
  src/gutenberg/icons/icon-horizontal-between.svg
Due: none

Add new vertical icons between and stretch
  src/gutenberg/icons/icon-vertical-between.svg
  src/gutenberg/icons/icon-vertical-stretch.svg
  src/gutenberg/icons/index.js
Due: eslint

added new animations panel for Reveal animation
  src/class-ghost-kit.php
  src/classes/class-scroll-reveal.php
  src/gutenberg/components/dropdown-picker/editor.scss
  src/gutenberg/components/dropdown-picker/index.js
  src/gutenberg/components/select/index.js
  src/gutenberg/editor.scss
  src/gutenberg/extend/animation/deprecated-scroll-reveal/editor.scss
  src/gutenberg/extend/animation/deprecated-scroll-reveal/index.js
  src/gutenberg/extend/animation/deprecated-scroll-reveal/index.php
  src/gutenberg/extend/animation/deprecated-scroll-reveal/parseSRConfig.js
  src/gutenberg/extend/animation/frontend.js
  src/gutenberg/extend/animation/index.js
  src/gutenberg/extend/animation/index.php
  src/gutenberg/extend/animation/parseAnimationData.js
  src/gutenberg/extend/animation/pro-animations/index.js
  src/gutenberg/extend/animation/reveal/editor.scss
  src/gutenberg/extend/animation/reveal/index.js
  src/gutenberg/extend/index.js
  src/gutenberg/extend/index.php
  src/gutenberg/utils/sort-object/index.js
Due: composer run-script phpcs, stylelint --syntax scss, eslint

added version and pro plugin version to the global GHOSTKIT data
  src/assets/js/helper.js
  src/classes/class-assets.php
Due: composer run-script phpcs, eslint

Fixed block props in the Accardion
  src/gutenberg/blocks/accordion-item/block.json
  src/gutenberg/blocks/accordion/block.json
  src/gutenberg/blocks/accordion/edit.js
Due: eslint

Fixed toolbar button collapse in the Accordion Item
  src/gutenberg/blocks/accordion-item/edit.js
Due: eslint

Fixed block props in the Alert
  src/gutenberg/blocks/alert/edit.js
  src/gutenberg/blocks/alert/save.js
Due: eslint

Fixed block props in the Accardion
  src/gutenberg/blocks/accordion/edit.js
  src/gutenberg/blocks/accordion/save.js
Due: eslint

added more settings for new Reveal animation
  package-lock.json
  package.json
  src/gutenberg/components/transition-easing-controls/default.js
  src/gutenberg/components/transition-easing-controls/index.js
  src/gutenberg/components/transition-easing-controls/presets.js
  src/gutenberg/components/transition-preview/editor.scss
  src/gutenberg/components/transition-preview/index.js
  src/gutenberg/components/transition-selector/editor.scss
  src/gutenberg/components/transition-selector/index.js
  src/gutenberg/components/transition-spring-controls/default.js
  src/gutenberg/components/transition-spring-controls/index.js
  src/gutenberg/components/transition-spring-controls/presets.js
  src/gutenberg/editor.scss
  src/gutenberg/extend/animation/deprecated-scroll-reveal/index.js
  src/gutenberg/extend/animation/deprecated-scroll-reveal/parse-sr-config.js
  src/gutenberg/extend/animation/frontend.js
  src/gutenberg/extend/animation/index.php
  src/gutenberg/extend/animation/parseAnimationData.js
  src/gutenberg/extend/animation/reveal/defaults.js
  src/gutenberg/extend/animation/reveal/editor.scss
  src/gutenberg/extend/animation/reveal/index.js
  src/gutenberg/extend/animation/reveal/presets.js
  src/gutenberg/extend/index.php
  src/gutenberg/utils/round/index.js
Due: composer run-script phpcs, stylelint --syntax scss, eslint
