Repository nk-crew/ghostkit: changes, and which lint-staged commands are due for each by the changed paths.
All: composer run-script phpcs, stylelint, stylelint --syntax scss, eslint

.lintstagedrc:

{
    "src/**/*.php": "composer run-script phpcs",
    "src/**/*.css": "stylelint",
    "src/**/*.scss": "stylelint --syntax scss",
    "src/**/*.{js,jsx}": "eslint"
}

prevent fields input focus in editor
  src/gutenberg/blocks/form/field-attributes/index.js
  src/gutenberg/blocks/form/field-label/index.js
Due: eslint

change unique Field slug slash to underscore
  src/gutenberg/blocks/form/edit.js
Due: eslint

added null option to Select field if default value is not selected
  src/gutenberg/blocks/form/fields/select/block.php
  src/gutenberg/blocks/form/fields/select/edit.js
Due: composer run-script phpcs, eslint

fixed Buttons block align option in editor
  src/gutenberg/blocks/button/edit.js
  src/gutenberg/blocks/button/editor.scss
Due: stylelint --syntax scss, eslint

fixed php error when use rest to get image by id, that is not exists
  src/classes/class-rest.php
Due: composer run-script phpcs

improved conditional options display in the editor for Alert and Icon Box blocks
  src/gutenberg/blocks/alert/edit.js
  src/gutenberg/blocks/icon-box/edit.js
Due: eslint

added option to remove photo from Testimonial block
  src/gutenberg/blocks/testimonial/edit.js
Due: eslint

fixed vertical Tabs Pills active tab styles
  src/gutenberg/style-variants/ghostkit-tabs/style.scss
Due: stylelint --syntax scss

v2.9.1
  package.json
  src/readme.md
Due: none

added higher assets enqueue priority
  src/classes/class-assets.php
Due: composer run-script phpcs

v2.9.2
  package.json
  src/readme.md
Due: none

fixed assets enqueue sequence (plugins -> Ghost Kit -> theme)
  src/classes/class-assets.php
Due: composer run-script phpcs

v2.9.3
  package.json
  src/readme.md
Due: none

changed form hash to crc32b
  src/gutenberg/blocks/form/block.php
Due: composer run-script phpcs

add support additional_font_weights option for Typography filter
  src/classes/class-fonts.php
Due: composer run-script phpcs

fix additional_font_weights option for Typography filter
  src/classes/class-fonts.php
Due: composer run-script phpcs

add auto italic weight for selected font weight from Typography filter or database
  src/classes/class-fonts.php
Due: composer run-script phpcs

fixed twitter profile description pre-wrap
  src/gutenberg/blocks/twitter/style.scss
Due: stylelint --syntax scss

improved styled lists text wrap
  src/gutenberg/style-variants/core-list/editor.scss
  src/gutenberg/style-variants/core-list/style.scss
Due: stylelint --syntax scss

Pills styles moved to Tabs block styles file
  src/assets/css/main.scss
  src/gutenberg/blocks/tabs/editor.scss
  src/gutenberg/blocks/tabs/index.js
  src/gutenberg/blocks/tabs/pills.scss
  src/gutenberg/blocks/tabs/style.scss
  src/gutenberg/style-variants/ghostkit-tabs/index.js
  src/gutenberg/style-variants/index.js
Due: stylelint --syntax scss, eslint

moved blocks frontend scripts to blocks folders
  src/classes/class-assets.php
  src/gutenberg/blocks/accordion/frontend.js
  src/gutenberg/blocks/button/frontend.js
  src/gutenberg/blocks/carousel/frontend.js
  src/gutenberg/blocks/changelog/frontend.js
  src/gutenberg/blocks/countdown/frontend.js
  src/gutenberg/blocks/form/frontend.js
  src/gutenberg/blocks/gist/frontend.js
  src/gutenberg/blocks/google-maps/frontend.js
  src/gutenberg/blocks/grid/frontend.js
  src/gutenberg/blocks/pricing-table/frontend.js
  src/gutenberg/blocks/table-of-contents/frontend.js
  src/gutenberg/blocks/tabs/frontend.js
  src/gutenberg/blocks/video/frontend.js
  wpeg.config.js
Due: composer run-script phpcs, eslint

fixed twitter profile description words break on frontend
  src/gutenberg/blocks/twitter/block.php
Due: composer run-script phpcs

fixed styled lists in editor
  src/gutenberg/style-variants/core-list/editor.scss
Due: stylelint --syntax scss

removed wp-i18 dependency from main ghostkit script, add for Countdown script only (resolves #93 )
  src/class-ghost-kit.php
  src/classes/class-assets.php
Due: composer run-script phpcs

Update readme.md
  src/languages/readme.md
Due: none

fixed mail template long words break
  src/gutenberg/blocks/form/mail-template/index.php
Due: composer run-script phpcs

don't load fonts dependencies if fonts are not selected
  src/classes/class-fonts.php
Due: composer run-script phpcs

better gap/size controls in editor
  src/gutenberg/blocks/button-single/edit.js
  src/gutenberg/blocks/button/edit.js
  src/gutenberg/blocks/grid/edit.js
  src/gutenberg/blocks/instagram/edit.js
  src/gutenberg/blocks/pricing-table/edit.js
Due: eslint

fixed progress bar count tooltip size when progress bar has a small width
  src/gutenberg/blocks/progress/styles/style.scss
Due: stylelint --syntax scss

removed excess scss includes
  src/gutenberg/blocks/grid/styles/editor.scss
  src/gutenberg/blocks/tabs/styles/editor.scss
  src/gutenberg/blocks/testimonial/styles/style.scss
  src/gutenberg/extend/display/editor.scss
  src/gutenberg/extend/display/style.scss
Due: stylelint --syntax scss

added horizontal moved to buttons, carousels and pricing tables in editor
  src/gutenberg/blocks/button/edit.js
  src/gutenberg/blocks/carousel/edit.js
  src/gutenberg/blocks/pricing-table/edit.js
Due: eslint

changed hardcoded WordPress SCSS variables to node_modules
  package-lock.json
  package.json
  src/gutenberg/_variables.scss
  src/gutenberg/blocks/grid/styles/editor.scss
  src/gutenberg/components/typography/editor.scss
Due: stylelint --syntax scss

removed unused styles
  src/gutenberg/blocks/accordion/styles/editor.scss
Due: stylelint --syntax scss

fixed TOC block inside columns
  src/gutenberg/blocks/table-of-contents/block.php
Due: composer run-script phpcs

added custom gap option for Grid, Buttons, Instagram and Pricing Table blocks
  src/gutenberg/_variables.scss
  src/gutenberg/blocks/button/block.json
  src/gutenberg/blocks/button/edit.js
  src/gutenberg/blocks/button/index.js
  src/gutenberg/blocks/button/styles/editor.scss
  src/gutenberg/blocks/button/styles/style.scss
  src/gutenberg/blocks/button/styles/variables.scss
  src/gutenberg/blocks/grid/block.json
  src/gutenberg/blocks/grid/edit.js
  src/gutenberg/blocks/grid/index.js
  src/gutenberg/blocks/grid/styles/editor.scss
  src/gutenberg/blocks/grid/styles/style.scss
  src/gutenberg/blocks/grid/styles/variables.scss
  src/gutenberg/blocks/instagram/block.json
  src/gutenberg/blocks/instagram/edit.js
  src/gutenberg/blocks/instagram/index.js
  src/gutenberg/blocks/instagram/styles/editor.scss
  src/gutenberg/blocks/instagram/styles/style.scss
  src/gutenberg/blocks/instagram/styles/variables.scss
  src/gutenberg/blocks/pricing-table/block.json
  src/gutenberg/blocks/pricing-table/edit.js
  src/gutenberg/blocks/pricing-table/index.js
  src/gutenberg/blocks/pricing-table/styles/editor.scss
  src/gutenberg/blocks/pricing-table/styles/style.scss
  src/gutenberg/blocks/pricing-table/styles/variables.scss
  src/gutenberg/bootstrap/grid.scss
  src/gutenberg/components/gap-settings/index.js
Due: stylelint --syntax scss, eslint

added more CSS Variables
  src/gutenberg/_css-variables.scss
  src/gutenberg/blocks/alert/index.js
  src/gutenberg/blocks/alert/styles/style.scss
  src/gutenberg/blocks/alert/styles/variables.scss
  src/gutenberg/blocks/button-single/index.js
  src/gutenberg/blocks/button/styles/editor.scss
  src/gutenberg/blocks/button/styles/style.scss
  src/gutenberg/blocks/button/styles/variables.scss
  src/gutenberg/blocks/countdown/index.js
  src/gutenberg/blocks/countdown/styles/style.scss
  src/gutenberg/blocks/countdown/styles/variables.scss
  src/gutenberg/blocks/counter-box/index.js
  src/gutenberg/blocks/counter-box/styles/style.scss
  src/gutenberg/blocks/counter-box/styles/variables.scss
  src/gutenberg/blocks/divider/index.js
  src/gutenberg/blocks/divider/styles/style.scss
  src/gutenberg/blocks/divider/styles/variables.scss
  src/gutenberg/blocks/icon-box/index.js
  src/gutenberg/blocks/icon-box/styles/style.scss
  src/gutenberg/blocks/icon-box/styles/variables.scss
  src/gutenberg/blocks/instagram/index.js
  src/gutenberg/blocks/pricing-table/index.js
  src/gutenberg/blocks/progress/index.js
  src/gutenberg/blocks/progress/styles/style.scss
  src/gutenberg/blocks/progress/styles/variables.scss
Due: stylelint --syntax scss, eslint
