Repository nk-crew/ghostkit: changes, and which lint-staged commands are due for each by the changed paths.
All: composer run-script phpcs, stylelint, stylelint --syntax scss, eslint

.lintstagedrc:

{
    "src/**/*.php": "composer run-script phpcs",
    "src/**/*.css": "stylelint",
    "src/**/*.scss": "stylelint --syntax scss",
    "src/**/*.{js,jsx}": "eslint"
}

fixed calc conflicting with 0 value (resolves #99)
  src/gutenberg/_variables.scss
  src/gutenberg/blocks/accordion/styles/variables.scss
  src/gutenberg/blocks/button/index.js
  src/gutenberg/blocks/button/styles/variables.scss
  src/gutenberg/blocks/divider/styles/variables.scss
  src/gutenberg/blocks/grid/index.js
  src/gutenberg/blocks/grid/styles/editor.scss
  src/gutenberg/blocks/instagram/index.js
  src/gutenberg/blocks/pricing-table/index.js
  src/gutenberg/blocks/progress/styles/variables.scss
  src/gutenberg/blocks/twitter/styles/variables.scss
  src/gutenberg/style-variants/core-list/variables.scss
Due: stylelint --syntax scss, eslint

fixed PHP Notice: Undefined index: SERVER_NAME using WP-CLI (resolves #98)
  src/gutenberg/blocks/form/block.php
Due: composer run-script phpcs

v2.12.0
  package.json
  src/readme.md
Due: none

fixed bug with displaying some Typography options
  src/gutenberg/components/typography/index.js
  src/gutenberg/plugins/typography/index.js
Due: eslint

updated google fonts list
  phpcs.xml.dist
  src/classes/class-fonts.php
  src/classes/google-fonts/webfonts.json
  src/gutenberg/fonts/webfonts.json
Due: composer run-script phpcs

fixed fonts loading based on available registered fonts, but not on the saved in DB
  src/classes/class-fonts.php
Due: composer run-script phpcs

Update README.md
  README.md
Due: none

added Align option to Form Submit Button
  src/gutenberg/blocks/form/fields/submit/block.json
  src/gutenberg/blocks/form/fields/submit/edit.js
  src/gutenberg/blocks/form/fields/submit/save.js
  src/gutenberg/blocks/form/styles/editor.scss
  src/gutenberg/blocks/form/styles/style.scss
Due: stylelint --syntax scss, eslint

fixed button border width variable and calc() conflict
  src/gutenberg/blocks/button/styles/variables.scss
Due: stylelint --syntax scss

v2.12.1
  package.json
  src/readme.md
Due: none

improved configs
  .eslintignore
  .stylelintignore
  lint-staged.config.js
  package-lock.json
  package.json
Due: none

changed spinner icon to CSS variables and relative color
  src/gutenberg/svg-icons/style.scss
Due: stylelint --syntax scss

changed accordion collapse button color to inherit
  src/gutenberg/blocks/accordion/styles/editor.scss
  src/gutenberg/blocks/accordion/styles/style.scss
Due: stylelint --syntax scss

added Ghost Kit blocks collection
  src/gutenberg/blocks/accordion-item/block.json
  src/gutenberg/blocks/accordion/block.json
  src/gutenberg/blocks/alert/block.json
  src/gutenberg/blocks/button-single/block.json
  src/gutenberg/blocks/button/block.json
  src/gutenberg/blocks/carousel-slide/block.json
  src/gutenberg/blocks/carousel/block.json
  src/gutenberg/blocks/changelog/block.json
  src/gutenberg/blocks/countdown/block.json
  src/gutenberg/blocks/counter-box/block.json
  src/gutenberg/blocks/divider/block.json
  src/gutenberg/blocks/form/block.json
  src/gutenberg/blocks/gist/block.json
  src/gutenberg/blocks/google-maps/block.json
  src/gutenberg/blocks/grid-column/block.json
  src/gutenberg/blocks/grid/block.json
  src/gutenberg/blocks/icon-box/block.json
  src/gutenberg/blocks/index.js
  src/gutenberg/blocks/instagram/block.json
  src/gutenberg/blocks/pricing-table-item/block.json
  src/gutenberg/blocks/pricing-table/block.json
  src/gutenberg/blocks/progress/block.json
  src/gutenberg/blocks/shape-divider/block.json
  src/gutenberg/blocks/table-of-contents/block.json
  src/gutenberg/blocks/tabs-legacy/index.js
  src/gutenberg/blocks/tabs-tab/block.json
  src/gutenberg/blocks/tabs/block.json
  src/gutenberg/blocks/testimonial/block.json
  src/gutenberg/blocks/twitter/block.json
  src/gutenberg/blocks/video/block.json
  src/gutenberg/blocks/widgetized-area/block.json
  src/gutenberg/index.js
Due: eslint

fixed js error when open typography if font doesn't exist
  src/gutenberg/plugins/typography/index.js
Due: eslint

updated deps
  README.md
  lint-staged.config.js
  package-lock.json
  package.json
  webpack.config.js
  wpeg.config.js
Due: none

Create deploy.yml
  .github/workflows/deploy.yml
Due: none

v2.12.2
  package.json
  src/readme.md
Due: none

Update deploy.yml
  .github/workflows/deploy.yml
Due: none

updated composer deps
  composer.json
  composer.lock
  package-lock.json
Due: none

v2.12.3
  package.json
  src/readme.md
Due: none

updated wpeg
  package-lock.json
  package.json
Due: none

fixed fonts loading undefined weights
  src/assets/js/fonts-loader.js
Due: eslint

v2.12.4
  package.json
  src/readme.md
Due: none

fixed conflict with `additional_font_weights` attribute, used in custom themes
  src/classes/class-fonts.php
Due: composer run-script phpcs

v2.12.5
  package.json
  src/readme.md
Due: none

better class-fonts code
  src/classes/class-fonts.php
Due: composer run-script phpcs

fixed color picker component correct re-rendering picker and palette
  src/gutenberg/components/color-picker/index.js
Due: eslint

Update package-lock.json
  package-lock.json
Due: none

changed TOC smooth scroll to native browser window.scrollTo
  src/gutenberg/blocks/table-of-contents/frontend.js
Due: eslint

better toc scroll to top js code
  src/gutenberg/blocks/table-of-contents/frontend.js
Due: eslint

added list columns settings to default core/list block
  src/gutenberg/extend/display/index.js
  src/gutenberg/style-variants/core-list/editor.scss
  src/gutenberg/style-variants/core-list/index.js
  src/gutenberg/style-variants/core-list/style.scss
Due: stylelint --syntax scss, eslint

fixed list columns settings to display in list block only
  src/gutenberg/style-variants/core-list/index.js
Due: eslint

updated google fonts list
  src/classes/class-fonts.php
  src/classes/google-fonts/webfonts.json
Due: composer run-script phpcs

added Markdown block
  package-lock.json
  package.json
  src/gutenberg/blocks/index.js
  src/gutenberg/blocks/markdown/block.json
  src/gutenberg/blocks/markdown/edit.js
  src/gutenberg/blocks/markdown/index.js
  src/gutenberg/blocks/markdown/render.js
  src/gutenberg/blocks/markdown/save.js
  src/gutenberg/icons/block-markdown.svg
  src/gutenberg/icons/index.js
Due: eslint
