Repository nk-crew/ghostkit: changes, and which lint-staged commands are due for each by the changed paths.
All: composer run-script phpcs, stylelint, stylelint --syntax scss, eslint

.lintstagedrc:

{
    "src/**/*.php": "composer run-script phpcs",
    "src/**/*.css": "stylelint",
    "src/**/*.scss": "stylelint --syntax scss",
    "src/**/*.{js,jsx}": "eslint"
}

added buttons outline styles preview in editor
  src/gutenberg/blocks/button-single/index.jsx
Due: eslint

added Custom CSS extension
  src/class-ghost-kit.php
  src/gutenberg/blocks/accordion-item/index.jsx
  src/gutenberg/blocks/accordion/index.jsx
  src/gutenberg/blocks/alert/index.jsx
  src/gutenberg/blocks/button-single/index.jsx
  src/gutenberg/blocks/button/index.jsx
  src/gutenberg/blocks/carousel-slide/index.jsx
  src/gutenberg/blocks/carousel/index.jsx
  src/gutenberg/blocks/changelog/index.jsx
  src/gutenberg/blocks/counter-box/index.jsx
  src/gutenberg/blocks/divider/index.jsx
  src/gutenberg/blocks/gist/index.jsx
  src/gutenberg/blocks/google-maps/index.jsx
  src/gutenberg/blocks/grid-column/index.jsx
  src/gutenberg/blocks/grid/index.jsx
  src/gutenberg/blocks/icon-box/index.jsx
  src/gutenberg/blocks/instagram/index.jsx
  src/gutenberg/blocks/pricing-table-item/index.jsx
  src/gutenberg/blocks/pricing-table/index.jsx
  src/gutenberg/blocks/progress/index.jsx
  src/gutenberg/blocks/table-of-contents/index.jsx
  src/gutenberg/blocks/tabs-legacy/index.jsx
  src/gutenberg/blocks/tabs-tab/index.jsx
  src/gutenberg/blocks/tabs/index.jsx
  src/gutenberg/blocks/testimonial/index.jsx
  src/gutenberg/blocks/twitter/index.jsx
  src/gutenberg/blocks/video/index.jsx
  src/gutenberg/extend/custom-css/editor.scss
  src/gutenberg/extend/custom-css/get-custom-css.php
  src/gutenberg/extend/custom-css/index.jsx
  src/gutenberg/extend/index.jsx
  src/gutenberg/extend/styles/get-styles.php
  src/gutenberg/extend/styles/index.jsx
  src/gutenberg/icons/extension-custom-css.svg
  src/gutenberg/icons/index.jsx
Due: composer run-script phpcs, stylelint --syntax scss, eslint

updated FontAwesome and Swiper
  src/assets/js/script.js
  src/assets/vendor/font-awesome/all.min.js
  src/assets/vendor/font-awesome/v4-shims.min.js
  src/assets/vendor/swiper/css/swiper.min.css
  src/assets/vendor/swiper/js/swiper.min.js
  src/assets/vendor/swiper/js/swiper.min.js.map
  src/class-ghost-kit.php
  src/classes/class-icons.php
Due: composer run-script phpcs, stylelint, eslint

changed lint staged config to exclude vendor files check
  .lintstagedrc
  lint-staged.config.js
  package.json
Due: none

added examples to blocks
  src/gutenberg/blocks/accordion/edit.jsx
  src/gutenberg/blocks/accordion/editor.scss
  src/gutenberg/blocks/accordion/index.jsx
  src/gutenberg/blocks/alert/index.jsx
  src/gutenberg/blocks/button/edit.jsx
  src/gutenberg/blocks/button/editor.scss
  src/gutenberg/blocks/button/index.jsx
  src/gutenberg/blocks/carousel-slide/block.json
  src/gutenberg/blocks/carousel/editor.scss
  src/gutenberg/blocks/carousel/index.jsx
  src/gutenberg/blocks/changelog/index.jsx
  src/gutenberg/blocks/counter-box/index.jsx
  src/gutenberg/blocks/divider/index.jsx
  src/gutenberg/blocks/gist/index.jsx
  src/gutenberg/blocks/grid/editor.scss
  src/gutenberg/blocks/grid/index.jsx
  src/gutenberg/blocks/icon-box/index.jsx
  src/gutenberg/blocks/pricing-table/edit.jsx
  src/gutenberg/blocks/pricing-table/index.jsx
  src/gutenberg/blocks/progress/index.jsx
  src/gutenberg/blocks/testimonial/editor.scss
  src/gutenberg/blocks/testimonial/index.jsx
  src/gutenberg/blocks/video/index.jsx
Due: stylelint --syntax scss, eslint

added wordpress org plugin assets
  .wordpress-org/banner-1544x500.png
  .wordpress-org/banner-772x250.png
  .wordpress-org/icon-128x128.png
  .wordpress-org/icon-256x256.png
  .wordpress-org/screenshot-1.png
  .wordpress-org/screenshot-10.png
  .wordpress-org/screenshot-11.png
  .wordpress-org/screenshot-12.png
  .wordpress-org/screenshot-13.png
  .wordpress-org/screenshot-14.png
  .wordpress-org/screenshot-15.png
  .wordpress-org/screenshot-16.png
  .wordpress-org/screenshot-17.png
  .wordpress-org/screenshot-18.png
  .wordpress-org/screenshot-19.png
  .wordpress-org/screenshot-2.png
  .wordpress-org/screenshot-20.png
  .wordpress-org/screenshot-21.png
  .wordpress-org/screenshot-3.png
  .wordpress-org/screenshot-4.png
  .wordpress-org/screenshot-5.png
  .wordpress-org/screenshot-6.png
  .wordpress-org/screenshot-7.png
  .wordpress-org/screenshot-8.png
  .wordpress-org/screenshot-9.png
Due: none

changed block custom CSS `.selector` to `selector`
  src/gutenberg/extend/custom-css/get-custom-css.php
  src/gutenberg/extend/custom-css/index.jsx
Due: composer run-script phpcs, eslint

added countdown block
  src/assets/js/script.js
  src/class-ghost-kit.php
  src/gutenberg/blocks/countdown/api.jsx
  src/gutenberg/blocks/countdown/block.json
  src/gutenberg/blocks/countdown/edit.jsx
  src/gutenberg/blocks/countdown/editor.scss
  src/gutenberg/blocks/countdown/index.jsx
  src/gutenberg/blocks/countdown/save.jsx
  src/gutenberg/blocks/countdown/style.scss
  src/gutenberg/blocks/index.jsx
  src/gutenberg/icons/index.jsx
  src/gutenberg/index.php
  src/gutenberg/style.scss
Due: composer run-script phpcs, stylelint --syntax scss, eslint

fixed custom css output
  src/gutenberg/extend/custom-css/index.jsx
Due: eslint

added info about demo sanbox
  src/readme.md
Due: none

updated jarallax plugin
  src/assets/vendor/jarallax/dist/jarallax-element.js
  src/assets/vendor/jarallax/dist/jarallax-element.min.js
  src/assets/vendor/jarallax/dist/jarallax-element.min.js.map
  src/assets/vendor/jarallax/dist/jarallax-video.js
  src/assets/vendor/jarallax/dist/jarallax-video.min.js
  src/assets/vendor/jarallax/dist/jarallax-video.min.js.map
  src/assets/vendor/jarallax/dist/jarallax.js
  src/assets/vendor/jarallax/dist/jarallax.min.js
  src/assets/vendor/jarallax/dist/jarallax.min.js.map
  src/assets/vendor/resize-observer-polyfill/ResizeObserver.global.min.js
  src/class-ghost-kit.php
Due: composer run-script phpcs, eslint

fixed some editor methods usage from 'core/editor' instead of 'core/block-editor'
  src/gutenberg/plugins/custom-code/index.jsx
  src/gutenberg/plugins/customizer/index.jsx
  src/gutenberg/plugins/typography/index.jsx
Due: eslint

tested up to 5.3
  src/readme.md
Due: none

changed Pro link color
  src/assets/admin/css/admin.scss
Due: stylelint --syntax scss

fixed js files template strings replacement
  wpeg.config.js
Due: none

renamed getTabsTemplate to getAccordionsTemplate
  src/gutenberg/blocks/accordion/edit.jsx
Due: eslint

added version numbers to all deprecated blocks to better understanding in the future
  src/gutenberg/blocks/accordion-item/deprecated.jsx
  src/gutenberg/blocks/alert/deprecated.jsx
  src/gutenberg/blocks/button-single/deprecated.jsx
  src/gutenberg/blocks/carousel/deprecated.jsx
  src/gutenberg/blocks/counter-box/deprecated.jsx
  src/gutenberg/blocks/google-maps/deprecated.jsx
  src/gutenberg/blocks/grid-column/deprecated.jsx
  src/gutenberg/blocks/grid/deprecated.jsx
  src/gutenberg/blocks/icon-box/deprecated.jsx
  src/gutenberg/blocks/pricing-table-item/deprecated.jsx
  src/gutenberg/blocks/progress/deprecated.jsx
  src/gutenberg/blocks/testimonial/deprecated.jsx
  src/gutenberg/blocks/video/deprecated.jsx
Due: eslint

fixed fonts loader js url
  src/classes/class-fonts.php
Due: composer run-script phpcs

changed button and counter box attribute type from 'children' to 'html'
  src/gutenberg/blocks/button-single/block.json
  src/gutenberg/blocks/counter-box/block.json
Due: none

improved accordion to work with unique slug, generated from label
  src/assets/js/script.js
  src/gutenberg/blocks/accordion-item/block.json
  src/gutenberg/blocks/accordion-item/deprecated.jsx
  src/gutenberg/blocks/accordion-item/edit.jsx
  src/gutenberg/blocks/accordion-item/save.jsx
  src/gutenberg/blocks/accordion/edit.jsx
  src/gutenberg/blocks/tabs/edit.jsx
  src/gutenberg/utils/get-unique-slug/index.jsx
Due: eslint

fixed AlignmentToolbar collapsed option inside inspector
  src/gutenberg/blocks/button/edit.jsx
  src/gutenberg/blocks/pricing-table/edit.jsx
  src/gutenberg/blocks/tabs/edit.jsx
Due: eslint

added Vertical Tabs option
  src/gutenberg/blocks/tabs/block.json
  src/gutenberg/blocks/tabs/edit.jsx
  src/gutenberg/blocks/tabs/editor.scss
  src/gutenberg/blocks/tabs/save.jsx
  src/gutenberg/blocks/tabs/style.scss
  src/gutenberg/style.scss
Due: stylelint --syntax scss, eslint

added Pills style variant for Tabs block
  src/gutenberg/style-variants/ghostkit-tabs/index.jsx
  src/gutenberg/style-variants/ghostkit-tabs/style.scss
  src/gutenberg/style-variants/index.jsx
  src/gutenberg/style.scss
Due: stylelint --syntax scss, eslint

fixed vertical tabs content size
  src/gutenberg/blocks/tabs/editor.scss
  src/gutenberg/blocks/tabs/style.scss
Due: stylelint --syntax scss

added stars option to Testimonial block
  src/gutenberg/blocks/testimonial/block.json
  src/gutenberg/blocks/testimonial/edit.jsx
  src/gutenberg/blocks/testimonial/editor.scss
  src/gutenberg/blocks/testimonial/index.jsx
  src/gutenberg/blocks/testimonial/save.jsx
  src/gutenberg/blocks/testimonial/style.scss
Due: stylelint --syntax scss, eslint

added URL options for Icon Box and Counter Box blocks (resolves #76)
  src/gutenberg/blocks/button-single/edit.jsx
  src/gutenberg/blocks/button/editor.scss
  src/gutenberg/blocks/counter-box/block.json
  src/gutenberg/blocks/counter-box/edit.jsx
  src/gutenberg/blocks/counter-box/save.jsx
  src/gutenberg/blocks/counter-box/style.scss
  src/gutenberg/blocks/icon-box/block.json
  src/gutenberg/blocks/icon-box/edit.jsx
  src/gutenberg/blocks/icon-box/save.jsx
  src/gutenberg/blocks/icon-box/style.scss
  src/gutenberg/components/url-input/editor.scss
  src/gutenberg/components/url-input/index.jsx
Due: stylelint --syntax scss, eslint

fixed reusable widgets rendering in custom posts without gutenberg enabled (resolves #72)
  src/classes/class-reusable-widget.php
Due: composer run-script phpcs

added indicators to extensions (issue #63)
  src/gutenberg/blocks/grid-column/edit.jsx
  src/gutenberg/components/active-indicator/editor.scss
  src/gutenberg/components/active-indicator/index.jsx
  src/gutenberg/components/responsive-tab-panel/editor.scss
  src/gutenberg/components/responsive-tab-panel/index.jsx
  src/gutenberg/extend/custom-css/index.jsx
  src/gutenberg/extend/display/index.jsx
  src/gutenberg/extend/scroll-reveal/index.jsx
  src/gutenberg/extend/spacings/index.jsx
Due: stylelint --syntax scss, eslint

changed label of font size control in Countdown block
  src/gutenberg/blocks/countdown/edit.jsx
Due: eslint

fixed custom styles in reusable blocks
  src/class-ghost-kit.php
Due: composer run-script phpcs

v2.7.0
  package.json
  src/readme.md
Due: none

fixed possible errors with reusable blocks
  src/gutenberg/extend/display/index.jsx
  src/gutenberg/extend/spacings/index.jsx
Due: eslint

fixed width of column content in editor
  src/gutenberg/blocks/grid/editor.scss
Due: stylelint --syntax scss

fixed alert, icon box and number box last child paragraph
  src/gutenberg/blocks/alert/style.scss
  src/gutenberg/blocks/counter-box/style.scss
  src/gutenberg/blocks/icon-box/style.scss
Due: stylelint --syntax scss

added transformations Accordion to Tabs and vice versa (issue #31)
  src/gutenberg/blocks/accordion/index.jsx
  src/gutenberg/blocks/accordion/transforms.jsx
  src/gutenberg/blocks/tabs/index.jsx
  src/gutenberg/blocks/tabs/transforms.jsx
Due: eslint

v2.7.1
  package.json
  src/readme.md
Due: none

fixed reusable widget number of blocks
  src/classes/class-reusable-widget.php
Due: composer run-script phpcs

add support Typekit Adobe Fonts for Pro version
  src/assets/js/fonts-loader.js
  src/assets/js/helper.js
  src/class-ghost-kit.php
  src/classes/class-fonts.php
  src/gutenberg/components/typography/index.jsx
  src/gutenberg/icons/icon-adobe-fonts.svg
  src/gutenberg/icons/icon-google-fonts.svg
  src/gutenberg/icons/icon-pro-badge.svg
  src/gutenberg/icons/index.jsx
  src/gutenberg/plugins/typography/index.jsx
  src/settings/index.php
  src/settings/pages/fonts.jsx
  src/settings/pages/index.jsx
Due: composer run-script phpcs, eslint
