Repository nk-crew/ghostkit: changes, and which lint-staged commands are due for each by the changed paths.
All: composer run-script phpcs, stylelint, stylelint --syntax scss, eslint

changed transition config name ease to easing
  src/gutenberg/components/transition-easing-controls/default.js
  src/gutenberg/components/transition-easing-controls/index.js
  src/gutenberg/components/transition-easing-controls/presets.js
  src/gutenberg/components/transition-preview/index.js
  src/gutenberg/components/transition-selector/index.js
  src/gutenberg/extend/animation/frontend.js
  src/gutenberg/extend/animation/index.php
  src/gutenberg/extend/animation/parseAnimationData.js
  src/gutenberg/extend/animation/reveal/index.js
Due: composer run-script phpcs, eslint

changed animation duration and delay to seconds
  src/gutenberg/components/transition-easing-controls/default.js
  src/gutenberg/components/transition-easing-controls/index.js
  src/gutenberg/components/transition-easing-controls/presets.js
  src/gutenberg/components/transition-preview/index.js
  src/gutenberg/components/transition-spring-controls/index.js
  src/gutenberg/extend/animation/frontend.js
  src/gutenberg/extend/animation/parseAnimationData.js
Due: eslint

fixed jerky scale animation in Motion
  src/gutenberg/extend/animation/frontend.js
Due: eslint

Fixed block props in the Carousel
  src/gutenberg/blocks/carousel-slide/edit.js
  src/gutenberg/blocks/carousel-slide/save.js
  src/gutenberg/blocks/carousel/edit.js
  src/gutenberg/blocks/carousel/save.js
  src/gutenberg/blocks/carousel/styles/editor.scss
Due: stylelint --syntax scss, eslint

Fixed block props in the Changelog
  src/gutenberg/blocks/changelog/edit.js
  src/gutenberg/blocks/changelog/save.js
Due: eslint

Fixed block props in the Carousel
  src/gutenberg/blocks/carousel/edit.js
Due: eslint

Fixed block props in the Counter box
  src/gutenberg/blocks/counter-box/edit.js
  src/gutenberg/blocks/counter-box/save.js
Due: eslint

added more utils and components into the store
  src/gutenberg/components/transition-easing-controls/index.js
  src/gutenberg/components/transition-spring-controls/index.js
  src/gutenberg/store/base/components/selectors.js
  src/gutenberg/store/base/utils/selectors.js
Due: eslint

Added border icons
  src/gutenberg/icons/border-dashed.svg
  src/gutenberg/icons/border-dotted.svg
  src/gutenberg/icons/border-double.svg
  src/gutenberg/icons/border-solid.svg
  src/gutenberg/icons/index.js
Due: eslint

Fixed block props in the Divider
  src/gutenberg/blocks/divider/edit.js
  src/gutenberg/blocks/divider/save.js
Due: eslint

Fixed block props in the Icon box
  src/gutenberg/blocks/icon-box/edit.js
  src/gutenberg/blocks/icon-box/save.js
Due: eslint

Fixed block props in the Image compare
  src/gutenberg/blocks/image-compare/edit.js
  src/gutenberg/blocks/image-compare/save.js
Due: eslint

Fixed block props in the Instagram
  src/gutenberg/blocks/instagram/edit.js
  src/gutenberg/blocks/instagram/save.js
Due: eslint

added support for pasting cubic bezier string to the transition Easing inputs
  src/gutenberg/components/transition-easing-controls/index.js
Due: eslint

added migration code to the new Animation settings
  src/gutenberg/components/transition-easing-controls/index.js
  src/gutenberg/components/transition-spring-controls/index.js
  src/gutenberg/extend/animation/deprecated-scroll-reveal/index.js
  src/gutenberg/extend/animation/deprecated-scroll-reveal/index.php
  src/gutenberg/extend/animation/deprecated-scroll-reveal/parse-sr-config.js
Due: composer run-script phpcs, eslint

fixed Motion warning when transition settings closed
  src/gutenberg/components/transition-preview/index.js
Due: eslint

fixed cloning of animation settings when block duplicated
  src/gutenberg/extend/animation/reveal/index.js
Due: eslint

changed some animation settings defaults
  src/gutenberg/components/transition-spring-controls/index.js
  src/gutenberg/components/transition-spring-controls/presets.js
  src/gutenberg/extend/animation/frontend.js
  src/gutenberg/extend/animation/reveal/defaults.js
  src/gutenberg/extend/animation/reveal/presets.js
Due: eslint

Update default.js
  src/gutenberg/components/transition-spring-controls/default.js
Due: eslint

better steps for scale and opacity controls
  src/gutenberg/extend/animation/reveal/index.js
Due: eslint

Fixed block props in the Progress
  src/gutenberg/blocks/progress/edit.js
  src/gutenberg/blocks/progress/save.js
Due: eslint

Fixed block props in the Tabs
  src/gutenberg/blocks/tabs-tab/edit.js
  src/gutenberg/blocks/tabs-tab/save.js
  src/gutenberg/blocks/tabs/edit.js
  src/gutenberg/blocks/tabs/save.js
Due: eslint

Fixed block props in the Testimonial
  src/gutenberg/blocks/testimonial/edit.js
  src/gutenberg/blocks/testimonial/save.js
Due: eslint

changed reveal opacity to 0, but in editor preview applied styles with minimum 0.1 opacity
  src/gutenberg/extend/animation/reveal/defaults.js
  src/gutenberg/extend/animation/reveal/index.js
  src/gutenberg/extend/animation/reveal/presets.js
Due: eslint

added itemsPerRow property to ImagePicker component
  src/gutenberg/components/image-picker/editor.scss
  src/gutenberg/components/image-picker/index.js
Due: stylelint --syntax scss, eslint

prepare readme for v3
  package.json
  src/readme.md
Due: none

changed countdown block component to function
  src/gutenberg/blocks/countdown/edit.js
  src/gutenberg/blocks/countdown/save.js
  src/gutenberg/blocks/countdown/styles/editor.scss
Due: stylelint --syntax scss, eslint

improved date picket component padding
  src/gutenberg/components/date-time-picker/editor.scss
  src/gutenberg/components/date-time-picker/index.js
Due: stylelint --syntax scss, eslint

use non-experimental hook `useInnerBlocksProps`
  src/gutenberg/blocks/accordion-item/edit.js
  src/gutenberg/blocks/accordion-item/save.js
  src/gutenberg/blocks/accordion/edit.js
  src/gutenberg/blocks/accordion/save.js
  src/gutenberg/blocks/alert/edit.js
  src/gutenberg/blocks/alert/save.js
  src/gutenberg/blocks/button/edit.js
  src/gutenberg/blocks/button/save.js
  src/gutenberg/blocks/carousel-slide/edit.js
  src/gutenberg/blocks/carousel-slide/save.js
  src/gutenberg/blocks/carousel/edit.js
  src/gutenberg/blocks/carousel/save.js
  src/gutenberg/blocks/changelog/edit.js
  src/gutenberg/blocks/changelog/save.js
  src/gutenberg/blocks/counter-box/edit.js
  src/gutenberg/blocks/counter-box/save.js
  src/gutenberg/blocks/grid-column/edit.js
  src/gutenberg/blocks/grid-column/save.js
  src/gutenberg/blocks/grid/edit.js
  src/gutenberg/blocks/grid/save.js
  src/gutenberg/blocks/icon-box/edit.js
  src/gutenberg/blocks/icon-box/save.js
  src/gutenberg/blocks/tabs-tab/edit.js
  src/gutenberg/blocks/tabs-tab/save.js
  src/gutenberg/blocks/tabs/edit.js
  src/gutenberg/blocks/tabs/save.js
  src/gutenberg/blocks/testimonial/edit.js
  src/gutenberg/blocks/testimonial/save.js
Due: eslint

changed form block to functional component
  src/gutenberg/blocks/form/edit.js
  src/gutenberg/blocks/form/fields/checkbox/edit.js
  src/gutenberg/blocks/form/fields/checkbox/save.js
  src/gutenberg/blocks/form/fields/date/edit.js
  src/gutenberg/blocks/form/fields/date/save.js
  src/gutenberg/blocks/form/fields/email/edit.js
  src/gutenberg/blocks/form/fields/email/save.js
  src/gutenberg/blocks/form/fields/hidden/edit.js
  src/gutenberg/blocks/form/fields/hidden/save.js
  src/gutenberg/blocks/form/fields/name/edit.js
  src/gutenberg/blocks/form/fields/name/save.js
  src/gutenberg/blocks/form/fields/number/edit.js
  src/gutenberg/blocks/form/fields/number/save.js
  src/gutenberg/blocks/form/fields/phone/edit.js
  src/gutenberg/blocks/form/fields/phone/save.js
  src/gutenberg/blocks/form/fields/radio/edit.js
  src/gutenberg/blocks/form/fields/radio/save.js
  src/gutenberg/blocks/form/fields/select/edit.js
  src/gutenberg/blocks/form/fields/select/save.js
  src/gutenberg/blocks/form/fields/submit/edit.js
  src/gutenberg/blocks/form/fields/submit/save.js
  src/gutenberg/blocks/form/fields/text/edit.js
  src/gutenberg/blocks/form/fields/text/save.js
  src/gutenberg/blocks/form/fields/textarea/edit.js
  src/gutenberg/blocks/form/fields/textarea/save.js
  src/gutenberg/blocks/form/fields/url/edit.js
  src/gutenberg/blocks/form/fields/url/save.js
  src/gutenberg/blocks/form/save.js
Due: eslint

fixed form input validation
  src/gutenberg/blocks/form/frontend.js
Due: eslint

changed Gib block components to functional
  src/gutenberg/blocks/gif/edit.js
  src/gutenberg/blocks/gif/save.js
  src/gutenberg/blocks/gif/styles/editor.scss
Due: stylelint --syntax scss, eslint

fixed form block apiVersion
  src/gutenberg/blocks/form/block.json
Due: none

remove do_blocks call from form block rendering
  src/gutenberg/blocks/form/block.php
Due: composer run-script phpcs

added support for block props for Gist block
  package-lock.json
  package.json
  src/gutenberg/blocks/gist/edit.js
  src/gutenberg/blocks/gist/save.js
Due: eslint

changed google maps block to functional component
  src/gutenberg/blocks/google-maps/edit.js
  src/gutenberg/blocks/google-maps/save.js
Due: eslint

changed Markdown block to functional component
  src/gutenberg/blocks/markdown/block.json
  src/gutenberg/blocks/markdown/edit.js
  src/gutenberg/blocks/markdown/render.js
  src/gutenberg/blocks/markdown/save.js
Due: eslint

changed pricing table to use functional component
  src/gutenberg/blocks/pricing-table-item/edit.js
  src/gutenberg/blocks/pricing-table-item/save.js
  src/gutenberg/blocks/pricing-table/edit.js
  src/gutenberg/blocks/pricing-table/save.js
  src/gutenberg/blocks/pricing-table/styles/editor.scss
Due: stylelint --syntax scss, eslint

changed shapes divider block to functional component
  src/gutenberg/blocks/shape-divider/edit.js
  src/gutenberg/blocks/shape-divider/save.js
Due: eslint

Path conditions:
  composer run-script phpcs: any of: src/**/*.php
  stylelint: any of: src/**/*.css
  stylelint --syntax scss: any of: src/**/*.scss
  eslint: any of: src/**/*.{js,jsx}
