Repository nk-crew/ghostkit: changes, and which lint-staged commands are due for each by the changed paths.
All: composer run-script phpcs, stylelint, stylelint --syntax scss, eslint

.lintstagedrc:

{
    "src/**/*.php": "composer run-script phpcs",
    "src/**/*.css": "stylelint",
    "src/**/*.scss": "stylelint --syntax scss",
    "src/**/*.{js,jsx}": "eslint"
}

changed external links to ExternalLink
  src/gutenberg/blocks/form/recaptcha/index.js
  src/gutenberg/blocks/gist/edit.js
  src/gutenberg/blocks/google-maps/edit.js
  src/gutenberg/blocks/grid/awb-fallback.js
  src/gutenberg/blocks/instagram/edit.js
  src/gutenberg/blocks/twitter/edit.js
  src/gutenberg/components/typography/index.js
  src/gutenberg/plugins/templates/index.js
  src/settings/pages/fonts.js
Due: eslint

added GIF block
  src/gutenberg/blocks/gif/block.json
  src/gutenberg/blocks/gif/edit.js
  src/gutenberg/blocks/gif/index.js
  src/gutenberg/blocks/gif/save.js
  src/gutenberg/blocks/gif/styles/editor.scss
  src/gutenberg/blocks/gif/styles/style.scss
  src/gutenberg/blocks/index.js
  src/gutenberg/blocks/markdown/edit.js
  src/gutenberg/editor.scss
  src/gutenberg/icons/block-gif.svg
  src/gutenberg/icons/index.js
Due: stylelint --syntax scss, eslint

v2.13.0
  package.json
  src/readme.md
Due: none

fixed pricing table align styles
  src/gutenberg/blocks/pricing-table/styles/style.scss
Due: stylelint --syntax scss

added modal to blocks custom CSS extension
  src/gutenberg/extend/custom-css/index.js
Due: eslint

added button on edit page in reusable block widget ui
  src/assets/admin/js/reusable-widget.js
  src/classes/class-reusable-widget.php
  wpeg.config.js
Due: composer run-script phpcs, eslint

close fullscreen video by clicking on wrapper
  src/gutenberg/blocks/video/frontend.js
Due: eslint

fixed fullscreen video offset depending on admin bar
  src/gutenberg/blocks/video/styles/style.scss
Due: stylelint --syntax scss

fixed video block fullscreen conflict with Safari
  src/gutenberg/blocks/video/styles/style.scss
Due: stylelint --syntax scss

v2.13.1
  package.json
  src/readme.md
Due: none

fixed blocks assets rendering inside custom content locations
  src/classes/class-parse-blocks.php
  src/classes/class-reusable-widget.php
Due: composer run-script phpcs

v2.13.2
  package.json
  src/readme.md
Due: none

Update deploy.yml
  .github/workflows/deploy.yml
Due: none

Update readme.md
  src/readme.md
Due: none

updated ie11 css variables polyfill
  src/assets/vendor/ie11-custom-properties/ie11-custom-properties.js
  src/class-ghost-kit.php
Due: composer run-script phpcs, eslint

fixed grid background top position (resolves #104 )
  src/gutenberg/blocks/grid/styles/style.scss
  src/gutenberg/blocks/grid/styles/variables.scss
Due: stylelint --syntax scss

updated dependencies
  package-lock.json
  package.json
  src/gutenberg/_variables.scss
Due: stylelint --syntax scss

updated wpeg
  package-lock.json
  package.json
Due: none

added RTL support
  src/class-ghost-kit.php
  src/classes/class-assets.php
  src/settings/index.php
  wpeg.config.js
Due: composer run-script phpcs

fixed conflict with grid gap and backgrounds (thanks #104)
  src/gutenberg/blocks/grid/styles/style.scss
Due: stylelint --syntax scss

added permission_callback to some rest calls
  src/classes/class-rest.php
Due: composer run-script phpcs

added ace-builds package, removed brace
  lint-staged.config.js
  package-lock.json
  package.json
  src/gutenberg/components/code-editor/index.js
Due: eslint

changed some Select options to ButtonGroup
  src/gutenberg/blocks/carousel/edit.js
  src/gutenberg/blocks/video/edit.js
Due: eslint

improved styles for grid block select buttons
  src/gutenberg/blocks/grid/styles/editor.scss
Due: stylelint --syntax scss

added appenders to inner blocks in Accordion, Aler, Number Box, Icon Box, Testimonial
  src/gutenberg/blocks/accordion-item/edit.js
  src/gutenberg/blocks/alert/edit.js
  src/gutenberg/blocks/counter-box/edit.js
  src/gutenberg/blocks/icon-box/edit.js
  src/gutenberg/blocks/testimonial/edit.js
Due: eslint

changed Plus icons in UI
  src/gutenberg/blocks/accordion/edit.js
  src/gutenberg/blocks/button/edit.js
  src/gutenberg/blocks/button/styles/editor.scss
  src/gutenberg/blocks/form/field-options/index.js
  src/gutenberg/blocks/pricing-table/edit.js
  src/gutenberg/blocks/tabs/edit.js
Due: stylelint --syntax scss, eslint

hide grid column select button if no child blocks inserted yet
  src/gutenberg/blocks/grid-column/edit.js
Due: eslint

fixed Display and Animate on Scroll extensions styles in editor in WordPress 5.5
  src/gutenberg/extend/display/editor.scss
  src/gutenberg/extend/display/index.js
  src/gutenberg/extend/scroll-reveal/index.js
Due: stylelint --syntax scss, eslint

added appender inside tabs in Tabs block (resolves #102)
  src/gutenberg/blocks/tabs-tab/edit.js
Due: eslint

fixed Display extension filter CSS in editor
  src/gutenberg/extend/display/editor.scss
Due: stylelint --syntax scss

fixed Grid CSS vars error (resolves #103)
  src/gutenberg/blocks/carousel/styles/editor.scss
  src/gutenberg/blocks/grid/styles/editor.scss
  src/gutenberg/blocks/grid/styles/style.scss
  src/gutenberg/blocks/instagram/styles/style.scss
  src/gutenberg/blocks/pricing-table/styles/editor.scss
  src/gutenberg/blocks/pricing-table/styles/style.scss
Due: stylelint --syntax scss

changed components `return '';` to `return null;` (fixed possible conflicts with 3rd-party plugins)
  src/gutenberg/blocks/form/field-description/index.js
  src/gutenberg/blocks/form/field-label/index.js
  src/gutenberg/blocks/grid/awb-fallback.js
  src/gutenberg/components/focal-point-picker/index.js
  src/gutenberg/components/icon-picker/index.js
  src/gutenberg/components/remove-button/index.js
  src/gutenberg/extend/custom-css/index.js
  src/gutenberg/extend/frame/index.js
  src/gutenberg/extend/spacings/index.js
  src/gutenberg/extend/styles/index.js
  src/gutenberg/plugins/color-palette/index.js
  src/gutenberg/plugins/templates/index.js
  src/gutenberg/plugins/typography/index.js
Due: eslint

requires at least WP 5.5
  src/readme.md
Due: none

fixed heading numbered styles in editor WP 5.5
  src/gutenberg/style-variants/core-heading/editor.scss
  src/gutenberg/style-variants/core-heading/index.js
Due: stylelint --syntax scss, eslint

added support for "Start value" and "Reverse" settings in styled numbered lists
  src/assets/js/main.js
  src/gutenberg/style-variants/core-list/editor.scss
  src/gutenberg/style-variants/core-list/index.js
  src/gutenberg/style-variants/core-list/style.scss
Due: stylelint --syntax scss, eslint

improved Badge format UI
  src/gutenberg/formats/badge/badge-popover.js
  src/gutenberg/formats/badge/editor.scss
  src/gutenberg/formats/badge/index.js
Due: stylelint --syntax scss, eslint

added filter for badge color picker
  src/gutenberg/formats/badge/index.js
Due: eslint

v2.14.0
  package.json
  src/readme.md
Due: none

fixed grid background image position preview
  src/gutenberg/blocks/grid/index.js
Due: eslint
