Repository nk-crew/ghostkit: changes, and which lint-staged commands are due for each by the changed paths.
All: composer run-script phpcs, stylelint, stylelint --syntax scss, eslint

change private to protected from breakpoints class
  src/classes/class-breakpoints.php
Due: composer run-script phpcs

fixed breakpoints: add pixels unit for scss variables
  src/classes/class-breakpoints.php
Due: composer run-script phpcs

fixed some svg icons w3c validation errors
  src/gutenberg/blocks/accordion-item/deprecated.js
  src/gutenberg/blocks/accordion-item/edit.js
  src/gutenberg/blocks/accordion-item/save.js
  src/gutenberg/blocks/alert/deprecated.js
  src/gutenberg/blocks/alert/edit.js
  src/gutenberg/blocks/alert/save.js
  src/gutenberg/blocks/image-compare/edit.js
  src/gutenberg/blocks/image-compare/save.js
  src/gutenberg/blocks/twitter/block.php
  src/gutenberg/blocks/twitter/edit.js
Due: composer run-script phpcs, eslint

fixed first and last child blocks margins inside Alert, Icon Box and Number Box blocks
  src/gutenberg/blocks/alert/styles/editor.scss
  src/gutenberg/blocks/counter-box/styles/editor.scss
  src/gutenberg/blocks/icon-box/styles/editor.scss
Due: stylelint --syntax scss

added `prepareCounters` event to add possibility to change counters speed
  src/assets/js/main.js
Due: eslint

fixed Pricing Table block preview (resilves #119)
  src/gutenberg/blocks/pricing-table/index.js
Due: eslint

fixed `Add Template` button rendering in Gutenberg toolbar
  src/gutenberg/extend/toolbar-templates/index.js
Due: eslint

improved admin UI styles
  src/assets/images/admin-icon-templates.svg
  src/assets/images/admin-icon.svg
  src/classes/class-templates.php
  src/gutenberg/_variables.scss
  src/gutenberg/blocks/button/index.js
  src/gutenberg/components/typography/editor.scss
  src/gutenberg/components/typography/index.js
  src/gutenberg/extend/custom-css/index.js
  src/gutenberg/icons/ghostkit-black.svg
  src/gutenberg/icons/ghostkit-category.svg
  src/gutenberg/icons/ghostkit-gradient.svg
  src/gutenberg/icons/plugin-ghostkit.svg
  src/gutenberg/index.js
  src/gutenberg/plugins/ghostkit/editor.scss
  src/gutenberg/utils/get-icon/index.js
  src/settings/assets/logo.svg
  src/settings/containers/container.js
  src/settings/containers/container.scss
  src/settings/index.php
  src/settings/pages/blocks.js
  src/settings/pages/blocks.scss
  src/settings/pages/index.js
  src/settings/style.scss
Due: composer run-script phpcs, stylelint --syntax scss, eslint

removed empty categories from blocks settings
  src/settings/pages/blocks.js
Due: eslint

updated wporg assets
  .wordpress-org/banner-1544x500.png
  .wordpress-org/banner-772x250.png
  .wordpress-org/icon-128x128.png
  .wordpress-org/icon-256x256.png
Due: none

v2.16.0
  package.json
  src/readme.md
Due: none

removed webfontloader script, add fonts manually using wp_enqueue_style (resolves #115)
  package.json
  src/assets/js/fonts-loader.js
  src/classes/class-fonts.php
  src/gutenberg/components/typography/index.js
  src/gutenberg/plugins/typography/index.js
  wpeg.config.js
Due: composer run-script phpcs, eslint

Update webfonts.json
  src/classes/google-fonts/webfonts.json
Due: none

better google fonts enqueue code
  src/classes/class-fonts.php
Due: composer run-script phpcs

fixed Adobe Fonts label in Select component
  src/gutenberg/components/typography/index.js
Due: eslint

added gutenberg-react-select-styles dependency
  package-lock.json
  package.json
  src/gutenberg/components/select/index.js
  src/gutenberg/components/typography/editor.scss
Due: stylelint --syntax scss, eslint

fixed possible PHP errors when non-valid font weight added
  src/classes/class-fonts.php
Due: composer run-script phpcs

improved font family icons
  src/gutenberg/icons/icon-google-fonts.svg
  src/gutenberg/icons/icon-typography-adobe-fonts.svg
  src/gutenberg/icons/icon-typography-google-fonts.svg
  src/gutenberg/icons/index.js
Due: eslint

added support for Custom Fonts
  src/gutenberg/components/typography/index.js
  src/gutenberg/icons/icon-typography-custom-fonts.svg
  src/gutenberg/icons/index.js
  src/settings/index.php
Due: composer run-script phpcs, eslint

added info about custom fonts on Fonts setting page
  src/settings/pages/fonts.js
Due: eslint

changed `PRO` to `Pro`
  src/gutenberg/blocks/shape-divider/edit.js
  src/gutenberg/components/typography/index.js
  src/settings/pages/breakpoints.js
  src/settings/pages/fonts.js
Due: eslint

fixed active tab displaying in editor when used Wide or Full alignment (resolves #123)
  src/gutenberg/blocks/tabs/edit.js
Due: eslint

fixed limited width of InnerBlocks inside some of blocks
  src/gutenberg/blocks/grid/styles/editor.scss
  src/gutenberg/editor.scss
Due: stylelint --syntax scss

updated dependencies
  package-lock.json
  package.json
Due: none

updated fontawesome icons list
  src/classes/class-icons.php
Due: composer run-script phpcs

v2.17.0
  package.json
  src/readme.md
Due: none

fixed toolbar templates button in WP 5.7
  src/gutenberg/extend/toolbar-templates/index.js
  src/gutenberg/plugins/templates/editor.scss
Due: stylelint --syntax scss, eslint

fixed icon picker width in WP 5.7
  src/gutenberg/components/icon-picker/editor.scss
Due: stylelint --syntax scss

added z-index to shape divider to keep divider always on top of other elements
  src/gutenberg/blocks/shape-divider/styles/style.scss
  src/gutenberg/blocks/shape-divider/styles/variables.scss
Due: stylelint --syntax scss

fixed grid gap in editor
  src/gutenberg/blocks/grid/styles/editor.scss
Due: stylelint --syntax scss

fixed buttons gap in editor
  src/gutenberg/blocks/button/styles/editor.scss
Due: stylelint --syntax scss

improved breakpoints class
  src/classes/class-breakpoints.php
Due: composer run-script phpcs

fixed conflict with generated css and custom css + autoptimize
  src/classes/class-assets.php
Due: composer run-script phpcs

added support for TOC to Rank Math SEO plugin
  src/class-ghost-kit.php
  src/classes/3rd/class-rank-math.php
Due: composer run-script phpcs

fixed disabling Ghost Kit blocks (resolves #127)
  src/gutenberg/disable-blocks/index.js
Due: eslint

fixed blocks settings sidebar categories clones
  src/settings/pages/blocks.js
Due: eslint

removed inline styles from progress block output
  src/gutenberg/blocks/progress/deprecated.js
  src/gutenberg/blocks/progress/save.js
Due: eslint

v2.18.0
  package.json
  src/readme.md
Due: none

changed repo url
  src/classes/class-reusable-widget.php
  src/gutenberg/blocks/carousel/styles/editor.scss
  src/gutenberg/blocks/grid/styles/editor.scss
  src/gutenberg/blocks/grid/styles/style.scss
  src/gutenberg/blocks/instagram/styles/style.scss
  src/gutenberg/blocks/pricing-table/styles/editor.scss
  src/gutenberg/blocks/pricing-table/styles/style.scss
  src/gutenberg/blocks/tabs/edit.js
  src/readme.md
Due: composer run-script phpcs, stylelint --syntax scss, eslint

added tested up to 5.7
  src/readme.md
Due: none

Path conditions:
  composer run-script phpcs: any of: src/**/*.php
  stylelint: any of: src/**/*.css
  stylelint --syntax scss: any of: src/**/*.scss
  eslint: any of: src/**/*.{js,jsx}
